- require_stylesheet "insiders"

- content_for :canonical_url, insiders_url
#page-insiders
  .gradient-container.pt-20.md:pt-40.pb-32
    .lg-container
      .top.grid.grid-cols-1.md:grid-cols-2.gap-48
        .top-lhs
          %h1.text-h1.flex.items-center.gap-12.mb-4.sm:mb-8.lg:text-48.text-30.sm:text-32
            Exercism Insiders
            = graphical_icon "insiders", css_class: 'h-[32px] md:h-[60px] w-[32px] md:w-[60px]'
          %h3.text-h3.mb-16.leading-140
            Enjoying Exercism?
            We rely on donations from people like you to survive &amp; grow!
          %p.text-p-xlarge.mb-24
            %strong.text-textColor1
              Insiders is our way of saying thank you for supporting us.
              %br
            Get behind-the-scenes access, Dark Mode, exclusive badges, ChatGPT integration, extra mentoring slots, private Discord channel, and more when you donate to Exercism 🎉

          - if current_user.present?
            = render ReactComponents::Insiders::InsidersStatus.new

        .top-rhs
          = vimeo_embed("855534271?h=97d3a4c8c2")

  .gradient-container.py-56
    .lg-container
      %h2.text-h2.mb-4.text-center Insider Benefits
      %p.text-p-large.mb-32.text-center Here are some of the ways we say thank you for supporting us.
      .features
        - @features.each do |feature|
          .feature
            = graphical_icon feature[:icon], css_class: feature[:filter] ? "filter-yellowPrompt" : ""
            %h4= feature[:title]
            %p= feature[:desc]

  .gradient-container.py-56
    .lg-container
      %h2.text-h2.mb-4.text-center Exclusive Insider Content
      %p.text-p-large.mb-32.text-center Join Insiders to get behind-the-scenes content as we grow and evolve Exercism.
      .grid.grid-cols-3.gap-32
        - @videos.each do |_, _, img|
          = image_tag "https://assets.exercism.org/images/thumbnails/#{img}", class: 'block w-100 shadow-md rounded-8 border-1 border-purple'

  .gradient-container.faqs.py-56
    .lg-container
      %h2.text-h1.mb-40.text-center The Nitty Gritty &amp; FAQs
      .flex.flex-col.gap-24.mx-auto{ class: "max-w-[940px]" }
        %details{ open: true }
          %summary Is the only way to access Insiders through donating?
          %p.mb-12
            The most common way to access insiders is through a regular donation.
            Regular contributors get Insiders access for free, and it's also possible to get Lifetime Insiders membership for significant donations or contributions.
            You can check the exact algorithm #{link_to 'in our codebase', 'https://github.com/exercism/website/tree/main/app/commands/user/insiders_status/determine_eligibility_status.rb'} but it's also reproduced here.
          %p.mb-4 To gain lifetime access you need one of the following:
          %ul.mb-16
            %li To be a founder or staff member
            %li To be a supermentor (100+ solutions mentored on a track with a 95% positive rating)
            %li To have a reputation equal or greater than 1,000
            %li To have donated $499 (in one chunk or many parts)

          %p.mb-4 For those without lifetime access, to gain access you need one of the following:
          %ul.mb-16
            %li To have a recurring monthly donation of $10 or more.
            %li To be a maintainer
            %li To have earned 30 reputation in the last 30 days, or 200 reputation in the last 365 days (not including reputation for publishing solutions)
            %li To have had a recurring donation at the point that Insiders launched (May 30th 2023), and it still to be active.
            %li For donations before we launched Insiders, you get one month of Insiders for every $9.99 donated, from the date that Insiders launched, plus one extra bonus month. So if you donated $35 before Insiders launched, you'd get Insiders access through June, July, August and September 2023.
            %li One off donations of $10 or more give 1 months access.

          %p
            If you think you meet these criteria but don't have access, please #{link_to 'open a forum issue', 'https://forum.exercism.org'} and someone will help you out!
            If you've donated via Paypal or GitHub Sponsors but don't have access, please see the next question.

        %details
          %summary I've donated via Paypal or GitHub Sponsors but don't have access.
          Sometimes the tech breaks down and we don't get webhook notifications from GitHub or Paypal.
          If you have issues, please #{link_to 'open a forum issue', 'https://forum.exercism.org'} and someone will help you out!

        %details
          %summary What does Insiders cost?
          Insiders isn't a product that you can buy - it's our way of saying thank you for those who contribute, mentor or donate.
          The easiest way to get Insiders access is by setting up a regular monthly donation of $10 or more.

        %details
          %summary Is Insiders the same as Premium?
          Exercism Premium was discontinued in August 2023. All Premium members were migrated to have Exercism Insider status and their monthly payments converted to recurring donations.

        %details
          %summary How do I earn reputation?
          Reputation is earned by mentoring or contributing to Exercism.
          You can also earn reputation by publishing your solutions, but that does not count towards Insiders access.
          You can check what actions result in what reputation by consulting #{link_to 'our docs', 'https://exercism.org/docs/using/product/reputation#h-acquisition-of-reputation'}.
          Check your #{link_to 'journey page', journey_path} to see where you're earning reputation.

