#page-insiders
  .lg-container
    .top.grid.grid-cols-1.md:grid-cols-2.gap-48.mb-64
      .top-lhs
        %h1.text-h1.flex.items-center.gap-20.mb-8.lg:text-48.text-32
          Exercism Insiders
          = graphical_icon "insiders"
        %h3.text-h3.mb-16 Our way of saying thank you.
        %h5.launching Launching End of April 2023
        %p.text-p-xlarge.mb-24 Get behind the scenes access, Dark Mode, ChatGPT integration, offers from our partners, exclusive badges, and more.
        - if current_user.present?
          = render ReactComponents::Insiders::InsidersStatus.new

      .top-rhs
        .c-youtube-container
          %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/8onnSv5r9Hw", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

    %h2.text-h2.mb-32 Exclusive Insider Features
    .features
      - @features.each do |feature|
        .feature
          = graphical_icon feature[:icon], css_class: feature[:filter] ? "filter-yellowPrompt" : ""
          %h4= feature[:title]
          %p= feature[:desc]
    %h2.text-h2.mb-32 Behind the scenes access
    .features
      - @bts_access.each do |feature|
        .feature
          = graphical_icon feature[:icon], css_class: feature[:filter] ? "filter-yellowPrompt" : ""
          %h4= feature[:title]
          %p= feature[:desc]

  .gradient-container
    .lg-container.relative
      = graphical_icon "pixel-diamond", css_class: "left-[120px] opacity-50 lg:opacity-100 xs:block hidden"
      = graphical_icon "pixel-emerald", css_class: "right-[159px] top-[180px] lg:block hidden"
      = graphical_icon "pixel-emoji", css_class: "right-[179px] -top-[16px] opacity-50 lg:opacity-100"
      = graphical_icon "pixel-coin", css_class: "top-[172px] left-[176px] lg:block hidden"
      = graphical_icon "pixel-coin", css_class: "right-[28px] top-[66px] opacity-50 lg:opacity-100"

      %h2.text-h1.mb-16.relative Offers from our partners
      %p.text-p-large.mx-auto.mb-32.relative{ class: "max-w-[800px]" }
        We're source great free trials and deals for you from commercial partners. It's their way of saying thank you for your work in Open Source.
      %p.light-green-prompt.mb-64.relative We're aiming to add new partnerships and deals each month.
      .features
        - @partners.each do |partner|
          .feature
            = icon partner[:icon], partner[:name], category: :partners
            %h4= partner[:name]
            %p= partner[:offer]

  .gradient-container
    .lg-container
      %h2.text-h1.mb-40 The Nitty Gritty
      .flex.flex-col.gap-24.mx-auto{ class: "max-w-[940px]" }
        - @faq.each do |entry|
          %details
            %summary= entry[:question]
            = entry[:answer]

