- require_stylesheet "insiders"

#page-insiders
  = render ReactComponents::Modals::WelcomeToInsidersModal.new
  .gradient-container.pt-20.md:pt-48.pb-48
    .lg-container
      .top.grid.grid-cols-1.md:grid-cols-2.gap-48
        .top-lhs
          %h1.text-h1.flex.items-center.gap-20.mb-0.sm:mb-8.lg:text-48.text-30.sm:text-32
            = t('.hero_section.title')
            = graphical_icon "insiders", css_class: 'h-[32px] md:h-[60px] w-[32px] md:w-[60px]'
          %p.text-h3.mb-24
            = t('.hero_section.subtitle')
          %p.text-p-xlarge.mb-8
            = t('.hero_section.paragraph_1')
          %p.text-p-large.mb-8
            = t('.hero_section.paragraph_2')
            = t('.hero_section.paragraph_2_discord_forum_prompt')
          %p.text-p-large.mb-8
            = t('.hero_section.paragraph_3')

        .top-rhs
          = video_embed(@videos.first.first, @videos.first.second)

  .gradient-container.py-48
    .lg-container
      %h2.text-h2.mb-32= t('.videos_section.title')
      .grid.grid-cols-3.gap-32
        - @videos.each do |type, id|
          = video_embed(type, id)

  .gradient-container.py-48
    .lg-container
      %h2.text-h2.mb-32= t('.benefits_section.title')
      .features
        .feature
          = graphical_icon :'feature-youtube', css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.exclusive_content.title')
          %p= t('.benefits_section.exclusive_content.description')

        .feature
          = graphical_icon :'feature-discord', css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.private_discord.title')
          %p
            = t('.benefits_section.private_discord.description_html', discord_channel_link: link_to(t('.benefits_section.private_discord.discord_channel_link_text'), 'https://discord.com/channels/854117591135027261/1103737555490447460'), integrations_link: link_to(t('.benefits_section.private_discord.integrations_link_text'), integrations_settings_path))

        .feature
          = graphical_icon :megaphone, css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.community_calls.title')
          %p
            = t('.benefits_section.community_calls.description_html', discord_link: link_to(t('.benefits_section.community_calls.discord_link_text'), 'https://exercism.org/r/discord'))

        .feature
          = graphical_icon :moon, css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.dark_theme.title')
          %p
            = t('.benefits_section.dark_theme.description_html', user_preferences_link: link_to(t('.benefits_section.dark_theme.user_preferences_link_text'), user_preferences_settings_path))

        .feature
          = graphical_icon :robot, css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.chatgpt.title')
          %p= t('.benefits_section.chatgpt.description')

        .feature
          = graphical_icon :insiders
          %h4= t('.benefits_section.name_tag_flair.title')
          %p
            = t('.benefits_section.name_tag_flair.description_html', insiders_icon: icon("insiders", t('.benefits_section.name_tag_flair.icon_alt_text'), style: "all:unset;display:inline;width:20px;height:20px"), public_profile_link: link_to(t('.benefits_section.name_tag_flair.public_profile_link_text'), profile_path(current_user.handle)))

        .feature
          = graphical_icon :mentoring, css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.extra_mentoring_slots.title')
          %p= t('.benefits_section.extra_mentoring_slots.description')

        .feature
          = graphical_icon :badges, css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.exclusive_badges.title')
          %p
            = t('.benefits_section.exclusive_badges.description_html', my_journey_link: link_to(t('.benefits_section.exclusive_badges.my_journey_link_text'), badges_journey_path))

        .feature
          = graphical_icon :perks, css_class: "filter-yellowPrompt"
          %h4= t('.benefits_section.exclusive_perks.title')
          %p
            = t('.benefits_section.exclusive_perks.description')
