#page-insiders
  = render ReactComponents::Modals::WelcomeToInsidersModal.new
  .gradient-container.pt-20.md:pt-48.pb-64
    .lg-container
      .top.grid.grid-cols-1.md:grid-cols-2.gap-48
        .top-lhs
          %h1.text-h1.flex.items-center.gap-20.mb-0.sm:mb-8.lg:text-48.text-30.sm:text-32
            Exercism Insiders
            = graphical_icon "insiders", css_class: 'h-[32px] md:h-[60px] w-[32px] md:w-[60px]'
          %p.text-h3.mb-24
            Thanks for making Exercism the success it is.
          %p.text-p-xlarge.mb-8
            You're joining us at the start of our Insiders story. Things will be evolving rapidly over the coming months.
          %p.text-p-xlarge.mb-8
            In the coming weeks we're going to be adding exclusive Perks from partners (once we get a few of them finalised), and some exclusive content just for you too.
            We'll also be fleshing this section out and making it somewhat more delightful.
          %p.text-p-xlarge.mb-8
            Why not start with the latest behind the scenes Insiders video 👉

        .top-rhs
          .c-youtube-container
            %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/GOPmj_AMbP8", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

  .gradient-container.py-64
    .lg-container
      %h2.text-h2.mb-32 Behind-the-scenes videos
      .grid.grid-cols-3.gap-32
        .c-youtube-container
          %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/WDUqfCMbh_8", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

        .c-youtube-container
          %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/qOijcXroPQU", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

        .c-youtube-container
          %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/7xSHBBDzJzQ", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

        .c-youtube-container
          %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/GOPmj_AMbP8", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

        .c-youtube-container
          %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/nroPGD11hkw", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

  .gradient-container.py-64
    .lg-container
      %h2.text-h2.mb-32 Your Insider Benefits
      .features
        .feature
          = graphical_icon :'feature-youtube', css_class: "filter-yellowPrompt"
          %h4 Exclusive content
          %p Keep up to date with what we're planning and building with private Insiders livestreams, vlogs, and technical deep dives. Check out the videos above. More coming soon!

        .feature
          = graphical_icon :'feature-discord', css_class: "filter-yellowPrompt"
          %h4 Private Discord channel
          %p You should now have access to an exclusive #{link_to '#insiders channel on Discord', 'https://discord.com/channels/854117591135027261/1103737555490447460'} where you can hang out with me and other staff and Insiders. Check the #{link_to 'integrations page', integrations_settings_path} if you don't see it.

        .feature
          = graphical_icon :megaphone, css_class: "filter-yellowPrompt"
          %h4 Contribute on community calls
          %p Our community calls are watchable by anyone, but only Insiders join in the conversation. Jump on stage and make your voice heard. Check Events on #{link_to 'Discord', 'https://exercism.org/r/discord'} for the next call.

  .gradient-container.py-64
    .lg-container
      = render "features_inside"


