- require_stylesheet "insiders"

#page-insiders
  = render ReactComponents::Modals::WelcomeToInsidersModal.new
  .gradient-container.pt-20.md:pt-48.pb-48
    .lg-container
      .top.grid.grid-cols-1.md:grid-cols-2.gap-48
        .top-lhs
          %h1.text-h1.flex.items-center.gap-20.mb-0.sm:mb-8.lg:text-48.text-30.sm:text-32
            = t('.insiders_title')
            = graphical_icon "insiders", css_class: 'h-[32px] md:h-[60px] w-[32px] md:w-[60px]'
          %p.text-h3.mb-24= t('.thank_you_message')
          %p.text-p-xlarge.mb-8= t('.support_message')
          %p.text-p-large.mb-8= t('.feature_and_video_info_html', discord_channel_link: "https://discord.com/channels/854117591135027261/1103737555490447460").html_safe
          %p.text-p-large.mb-8= t('.latest_video_prompt')

        .top-rhs
          = video_embed(@videos.first.first, @videos.first.second)

  .gradient-container.py-48
    .lg-container
      %h2.text-h2.mb-32= t('.behind_the_scenes_videos_heading')
      .grid.grid-cols-3.gap-32
        - @videos.each do |type, id|
          = video_embed(type, id)

  .gradient-container.py-48
    .lg-container
      %h2.text-h2.mb-32= t('.your_insider_benefits_heading')
      .features
        .feature
          = graphical_icon :'feature-youtube', css_class: "filter-yellowPrompt"
          %h4= t('.exclusive_content.title')
          %p= t('.exclusive_content.description')

        .feature
          = graphical_icon :'feature-discord', css_class: "filter-yellowPrompt"
          %h4= t('.private_discord_channel.title')
          %p= t('.private_discord_channel.description_html', insiders_channel_link: 'https://discord.com/channels/854117591135027261/1103737555490447460', integrations_page_link: integrations_settings_path).html_safe

        .feature
          = graphical_icon :megaphone, css_class: "filter-yellowPrompt"
          %h4= t('.contribute_on_community_calls.title')
          %p= t('.contribute_on_community_calls.description_html', discord_events_link: 'https://exercism.org/r/discord').html_safe

        .feature
          = graphical_icon :moon, css_class: "filter-yellowPrompt"
          %h4= t('.dark_theme.title')
          %p= t('.dark_theme.description_html', user_preferences_link: user_preferences_settings_path).html_safe

        .feature
          = graphical_icon :robot, css_class: "filter-yellowPrompt"
          %h4= t('.chatgpt.title')
          %p= t('.chatgpt.description')

        .feature
          = graphical_icon :insiders
          %h4= t('.name_tag_flair_and_badges.title')
          %p= t('.name_tag_flair_and_badges.description_html', icon: icon("insiders", t('.name_tag_flair_and_badges.icon_alt_text'), style: "all:unset;display:inline;width:20px;height:20px"), profile_link: profile_path(current_user.handle)).html_safe

        .feature
          = graphical_icon :mentoring, css_class: "filter-yellowPrompt"
          %h4= t('.extra_mentoring_slots.title')
          %p= t('.extra_mentoring_slots.description')

        .feature
          = graphical_icon :badges, css_class: "filter-yellowPrompt"
          %h4= t('.exclusive_badges.title')
          %p
            = t('.exclusive_badges.description_html', my_journey_link: badges_journey_path).html_safe

        .feature
          = graphical_icon :perks, css_class: "filter-yellowPrompt"
          %h4= t('.exclusive_perks.title')
          %p= t('.exclusive_perks.description')
