%section.mentoring-zero-section.c-zero-section
  = graphical_icon "mentoring", category: :graphics

  %h3= t('.title')
  %p= t('.description')

  .grid.grid-cols-2.gap-20
    = link_to t('.try_mentoring_now_link'), mentoring_path, class: 'btn-primary btn-s'
    = link_to t('.learn_more_link'), mentoring_path, class: 'btn-default btn-s'
