-# TODO: (Optional) Change this to only select the fields needed for an icon
- track_icon_urls = Track.active.order('rand()').limit(8).map(&:icon_url)
- num_tracks = Track.num_active

%section.c-tracks-zero-section.c-zero-section
  .track-icons
    - track_icon_urls.each do |icon_url|
      = image_tag icon_url, alt: '', class: "c-icon c-track-icon"

  %h3= t('.title')

  %p
    = t('.description_part_1')
    %strong= t('.description_part_2', num_tracks: num_tracks)
    = t('.description_part_3')
  = link_to t('.browse_tracks_link', num_tracks: num_tracks), tracks_path, class: 'btn-primary btn-s'
