#page-dashboard
  = link_to journey_path, class: 'summary-bar' do
    .lg-container.container
      = avatar(current_user)
      .info
        .handle @#{current_user.handle}
        .extra= current_user.name
      / TODO: Add tests for this
      .badges
        - @featured_badges.each do |badge|
          .c-badge-medallion{ class: "--#{badge.rarity}" }
            = graphical_icon badge.icon
        .count
          - num_extra_badges = @num_badges - @featured_badges.size
          - if num_extra_badges.positive?
            + #{num_extra_badges} more

      .journey
        Your Journey
        = graphical_icon("chevron-right")

  .lg-container.container
    %header.dashboard-header
      .intro
        = graphical_icon "logo"
        .content
          %h1 Welcome back!
          %p.welcome
            Solve coding exercises and get mentored to gain true fluency in your chosen programming languages.
            %strong Exercism is a not-for-profit and open-source.
          %p.cta
            %strong Exercism is built by people like you.
            Can you
            = link_to "contribute", "#"
            or
            = link_to "sponsor", "#"
            to help us grow?
      .decorations

      = link_to "https://github.com/exercism", class: 'social' do
        = graphical_icon 'external-site-github'
        GitHub
      = link_to "https://twitter.com/exercism_io", class: 'social twitter' do
        = graphical_icon 'external-site-twitter'
        Twitter
      = link_to "https://www.youtube.com/c/Exercism-videos", class: 'social' do
        = graphical_icon 'external-site-youtube'
        YouTube

    %article
      .lhs
        %section.actions-section
          = link_to tracks_path, class: 'action' do
            = graphical_icon "bookworm", category: 'graphics'
            Continue learning on your tracks
          = link_to mentoring_inbox_path, class: 'action' do
            = graphical_icon "phone-chat", category: 'graphics'
            Try your hand at mentoring
          = link_to "#", class: 'action' do
            = graphical_icon "hacker-boy", category: 'graphics'
            Contribute to building Exercism
          = link_to "#", class: 'action' do
            = graphical_icon "floating-cash", category: 'graphics'
            Support our growith financially

        %section.posts-section
          %h2 Community Posts
          .posts
            = link_to "#", class: "post" do
              .img
              .new new
              .title Welcome to Exercism v3!
              .byline
                .by @iHiD
                &middot;
                %date 4 days ago
            = link_to "#", class: "post" do
              .img
              .title How we built 50+ tracks of coding exercise in a year and did so really really well!
              .byline
                .by @iHiD
                &middot;
                %date 4 days ago
            = link_to "#", class: "post" do
              .img
              .title How we designed Exercism V3
              .byline
                .by @iHiD
                &middot;
                %date 4 days ago
          = render ViewComponents::ProminentLink.new("See all community posts", "#")

        %section.activity-section
          %h2 Activity on Exercism

      .rhs
        %section.tracks-section
          .c-heading-with-count
            %h3.--text.text-h3 Your Tracks
            .--count{ 'aria-label': "#{@user_tracks.size} Tracks" }= @user_tracks.size

          .tracks
            - @user_tracks.each do |user_track|
              = link_to user_track.track, class: 'track' do
                = track_icon(user_track.track)
                .info
                  .title= user_track.track.title
                  .progress
                    %progress.progress-bar{ value: user_track.num_completed_exercises, max: user_track.num_exercises }
                  .counts #{user_track.num_completed_exercises} / #{user_track.num_exercises} exercises completed
                = graphical_icon :"chevron-right", css_class: "action-icon"

          = render ViewComponents::ProminentLink.new("Discover more tracks", tracks_path)

        - if current_user.mentor?
          %section.mentoring-section
            %h3.text-h3 Mentoring

            .discussions
              - @mentor_discussions.each do |discussion|
                = link_to mentoring_discussion_path(discussion), "aria-label": "View profile of Erik Schierboom", class: 'c-mentor-discussion-summary' do
                  = avatar(discussion.student)
                  .info
                    .handle= discussion.student.handle
                    .exercise on #{discussion.exercise.title}
                  .comments
                    = icon "comment", pluralize(discussion.num_posts, "comment")
                    5
                  %time #{time_ago_in_words(discussion.updated_at, short: true)} ago
                  = graphical_icon :"chevron-right", css_class: "action-icon"

            = render ViewComponents::ProminentLink.new("See everyone you’re mentoring", mentoring_inbox_path)
