- content_for :meta_title, t('.meta_title', user_handle: sanitize(@user.handle)).html_safe
- content_for :meta_description, t('.meta_description', user_handle: sanitize(@user.handle)).html_safe
- content_for :canonical_url, badges_profile_url(@user)
- require_stylesheet "profile"

#page-profile-badges
  = render ViewComponents::Profile::Header.new(@user, @profile, :badges)

  %article
    .lg-container
      = render ReactComponents::Common::Introducer.new(:profile_badges, "badges") do
        %h2= t('.introducer.title')
        %p= t('.introducer.description')

      .summary
        - %w[common rare ultimate legendary].each do |rarity|
          - count = @rarities[rarity].to_i
          .section{ class: rarity }
            = graphical_icon "badge-indicator-#{rarity}"
            .count= count
            .info
              %h3= rarity.titleize
              .subtitle= t('.summary.badges_owned', count: count)

      .badges
        - @badges.each do |badge|
          .c-badge
            .c-badge-medallion{ class: "--#{badge.rarity}" }
              = graphical_icon badge.icon
            .--info
              .--name= badge.name
              .--desc= badge.description
