#page-profile-intro
  %section.top-section
    .lg-container.container
      = graphical_icon "profiles-intro", category: 'graphics', css_class: 'intro-image'
      %h1 Showcase your work on Exercism
      %hr.c-divider
      %p
        Creating a public profile is a great way to showcase your published solutions, testimonials and open source contributions.
        - unless @may_create_profile
          = link_to "Get #{@profile_min_reputation} reputation to unlock profile creation.", doc_url(:using, 'product/reputation'), class: 'text-gradient font-semibold'
      - if @may_create_profile
        = link_to "Create a public profile", new_profile_path, class: 'btn-primary btn-m'
      - else
        = render "profiles/intro/locked", current_user: @current_user, profile_min_reputation: @profile_min_reputation

  %section.reasons-section
    .lg-container.container
      %h2 Why create a public profile?
      %hr.c-divider.--small
      .reasons
        .reason
          = graphical_icon "improve-cv", category: "graphics"
          %h3 Improve your Resume
          %p Many employers look favourably on open source contributions and activity when assessing candidates’ resumes

        .reason
          = graphical_icon "community-awareness", category: "graphics"
          %h3 Become known in the community
          %p Having a public profile allows for others to discover more about you, who you are, and what you’ve been working on

        .reason
          = graphical_icon "help-awareness", category: "graphics"
          %h3 Help others discover and learn
          %p You’ll get to showcase your awesome solutions on your profile, which others can read, analyse and learn from

