#page-profile-intro
  %section.top-section
    .lg-container.container
      = graphical_icon "profiles-intro", category: 'graphics', css_class: 'intro-image'
      %h1= t('.top_section.title')
      %hr.c-divider
      - key = @may_create_profile ? '.top_section.description_unlocked_html' : '.top_section.description_locked_html'
      %p
        = t(key, profile_min_reputation: @profile_min_reputation, reputation_doc_url: doc_url(:using, 'product/reputation')).html_safe

      - if @may_create_profile
        = link_to t('.top_section.create_profile_button'), new_profile_path, class: 'btn-primary btn-m'
      - else
        = render "profiles/intro/locked", current_user: @current_user, profile_min_reputation: @profile_min_reputation

  %section.reasons-section
    .lg-container.container
      %h2= t('.reasons_section.title')
      %hr.c-divider.--small
      .reasons
        .reason
          = graphical_icon "improve-cv", category: "graphics"
          %h3= t('.reasons_section.improve_cv.title')
          %p= t('.reasons_section.improve_cv.description')

        .reason
          = graphical_icon "community-awareness", category: "graphics"
          %h3= t('.reasons_section.community_awareness.title')
          %p= t('.reasons_section.community_awareness.description')

        .reason
          = graphical_icon "help-awareness", category: "graphics"
          %h3= t('.reasons_section.help_awareness.title')
          %p= t('.reasons_section.help_awareness.description')
