#page-profile-new
  .sm-container.container
    %header
      = graphical_icon "profiles-intro", category: 'graphics'

      -# %img.c-icon  role="presentation" alt="" class="c-icon" src="/assets/graphics/profiles-intro-9fe07b49337dcd94c46ae584e85f7421696b10aa.svg">
      %h1 Showcase your work on Exercism
      %hr.c-divider
      %p
        Creating a public profile is a great way to showcase your published solutions, testimonials and open source contributions.
        = link_to "Get 5 reputation to unlock profile creation.", doc_url(:using, 'product/reputation')

      .summary
        .reputation
          Your current reputation is
          = render ViewComponents::Reputation.new(@current_user.formatted_reputation, flashy: true)

        .c-progress
          - progress = (@current_user.reputation / 5) * 100
          .bar{ style: "width:#{progress}%" }

        .footer
          .info
            = link_to doc_url(:using, 'product/reputation') do
              = graphical_icon "info-circle"
              How does this work?
          .unlocks
            = link_to "Profile creation unlocks at 5 rep", doc_url(:using, 'product/reputation')
