- content_for :meta_title, "#{sanitize(@user.handle)}'s profile on Exercism".html_safe
- content_for :meta_description, "Explore what #{@user.handle} has done on Exercism. Dig into their most interesting solutions, top contributions and most inspiring testimonials."
- content_for :meta_image, profile_url(@user, format: :jpg)
- content_for :canonical_url, profile_url(@user)
- require_stylesheet "profile"
- require_stylesheet "track"

- if params[:first_time]
  = render ReactComponents::Profile::FirstTimeModal.new(@profile)

#page-profile
  = render ViewComponents::Profile::Header.new(@user, @profile, :summary)

  %article
    = render ReactComponents::Profile::ContributionsSummary.new(@user)

    %section.published-solutions-section
      .lg-container.container
        %header.section-header
          = graphical_icon :'community-solutions', hex: true
          %h2.published-solutions{ data: { total_count: @user.num_published_solutions } } Published Solutions
          %hr.c-divider

        .solutions
          - @solutions.each do |solution|
            = render ReactComponents::Common::CommunitySolution.new(solution, context: :profile)

        - if @profile.solutions_tab?
          = render ViewComponents::ProminentLink.new("See all of #{@user.name}'s solutions", solutions_profile_path(@profile))

    = render ReactComponents::Profile::TestimonialsSummary.new(@user, @profile)
