#page-profile
  = render ViewComponents::Profile::Header.new(@user, @profile, :summary)

  %article
    %section.published-solutions-section
      .lg-container.container
        %header.section-header
          = graphical_icon :'community-solutions', hex: true
          %h2 Published Solutions
          .total-count= @num_total_solutions
          %hr.c-divider

        .solutions
          - @solutions.each do |solution|
            = render ReactComponents::Common::CommunitySolution.new(solution, context: :profile)

        = render ViewComponents::ProminentLink.new("See all of #{@user.name}'s solutions", "#")

    = render ReactComponents::Profile::TestimonialsSummary.new
