#page-profile
  = render ViewComponents::Profile::Header.new(@user, @profile, :summary)

  %article
    %section.published-solutions-section
      .lg-container.container
        %header.section-header
          = graphical_icon :'community-solutions', hex: true
          %h2 Published Solutions
          .total-count= @num_total_solutions
          %hr.c-divider

        .solutions
          - @solutions.each do |solution|
            = render ReactComponents::Common::CommunitySolution.new(solution, context: :profile)

        = render ViewComponents::ProminentLink.new("See all of #{@user.name}'s solutions", "#")

    %section.testimonials-section
      .md-container.container
        %header.section-header
          = graphical_icon :testimonials, hex: true
          %h2 Testimonials
          .total-count= @num_testimonials
          %hr.c-divider

        .testimonials
          .stats
            .stat
              .number 572
              .metric Solutions mentored
            .stat
              .number 390
              .metric Students helped
            .stat
              .number 55
              .metric Testimonials received

          .testimonial For the first time in my life, someone got my name right the first time round. I’m not really sure what that means, but, I think I’m gonna go and celebrate. Man, I can’t believe this. I can’t believe SleeplessByte got my name right!
          / TODO: a11y
          .stars
            = graphical_icon "gold-star"
            = graphical_icon "gold-star"
            = graphical_icon "gold-star"
            = graphical_icon "gold-star"
            = graphical_icon "gold-star"

          .bylines
            %button.byline.active
              = avatar(User.first)
              .info
                .student ErikShireBOOM
                .exercise Lasagna in C#

            %button.byline.unactive
              = avatar(User.first)
              .info
                .student iHiD
                .exercise Life in Ruby

            %button.byline.unactive
              = avatar(User.first)
              .info
                .student neenjaw
                .exercise Stuff in Elixir

        = render ViewComponents::ProminentLink.new("See all of #{@user.name}'s testimonials", "#")
