- if params[:first_time]
  .c-modal.m-profile-first-time
    .--modal-content
      %header
        = graphical_icon :confetti
        %h2 You now have a public profile!
        %p
          %strong Good job!
          You’ll now see your published solutions, mentoring testimonials, contributions and badges on your public profile.
      .copy-section
        %h3 You can share your profile with others too!
        = render ReactComponents::Common::CopyToClipboardButton.new(profile_url(@profile))


#page-profile
  = render ViewComponents::Profile::Header.new(@user, @profile, :summary)

  %article
    = render ReactComponents::Profile::ContributionsSummary.new(@user)

    %section.published-solutions-section
      .lg-container.container
        %header.section-header
          = graphical_icon :'community-solutions', hex: true
          %h2 Published Solutions
          .total-count= @num_total_solutions
          %hr.c-divider

        .solutions
          - @solutions.each do |solution|
            = render ReactComponents::Common::CommunitySolution.new(solution, context: :profile)

        - if @profile.solutions_tab?
          = render ViewComponents::ProminentLink.new("See all of #{@user.name}'s solutions", "#")

    = render ReactComponents::Profile::TestimonialsSummary.new(@user, @profile)
