- content_for :meta_title, t('.meta_title', user_handle: sanitize(@user.handle)).html_safe
- content_for :meta_description, t('.meta_description', user_handle: sanitize(@user.handle)).html_safe
- content_for :canonical_url, solutions_profile_url(@user, order: params[:order].presence, page: params[:page].to_i > 1 ? params[:page] : nil)
- require_stylesheet "profile"
- require_stylesheet "track"

#page-profile-solutions
  = render ViewComponents::Profile::Header.new(@user, @profile, :solutions)

  %article
    .lg-container
      = render ReactComponents::Common::Introducer.new(:profile_solutions, "solutions") do
        %h2= t('.introducer.title')
        %p= t('.introducer.description', user_handle: @user.handle)

    = render ReactComponents::Profile::CommunitySolutionsList.new(@user, params)
