- content_for :meta_title, "#{sanitize(@user.handle)}'s testimonials on Exercism".html_safe
- content_for :meta_description, "Explore the testimonails that students have left for #{@user.handle} on Exercism, and learn how wonderful they are!"
- content_for :canonical_url, testimonials_profile_url(@user, page: params[:page].to_i > 1 ? params[:page] : nil)
- require_stylesheet "profile"

#page-profile-testimonials
  = render ViewComponents::Profile::Header.new(@user, @profile, :testimonials)

  %article
    .lg-container{ data: { 'scroll-top-anchor': 'profile-testimonials' } }
      = render ReactComponents::Common::Introducer.new(:profile_testimonials, "badges") do
        %h2 Exercism mentors receive testimonials for outstanding mentoring
        %p Students leave testimonials for mentors that have helped them on their learning journey. Small tokens of thanks that make a huge difference.

      -# TODO: Real values - same as profile page
      .stats
        .stat
          .number= number_with_delimiter @user.num_solutions_mentored
          .metric Solutions mentored
        .stat
          .number= number_with_delimiter @user.num_students_mentored
          .metric #{'Student'.pluralize(@user.num_students_mentored)} helped
        .stat
          .number= number_with_delimiter @user.num_published_testimonials
          .metric Testimonials received

      = render ReactComponents::Profile::TestimonialsList.new(@user, params)
