- content_for :meta_title, t('.meta_title', user_handle: sanitize(@user.handle)).html_safe
- content_for :meta_description, t('.meta_description', user_handle: @user.handle).html_safe
- content_for :canonical_url, testimonials_profile_url(@user, page: params[:page].to_i > 1 ? params[:page] : nil)
- require_stylesheet "profile"

#page-profile-testimonials
  = render ViewComponents::Profile::Header.new(@user, @profile, :testimonials)

  %article
    .lg-container{ data: { 'scroll-top-anchor': 'profile-testimonials' } }
      = render ReactComponents::Common::Introducer.new(:profile_testimonials, "badges") do
        %h2= t('.introducer.title')
        %p= t('.introducer.description')

      -# TODO: Real values - same as profile page
      .stats
        .stat
          .number= number_with_delimiter @user.num_solutions_mentored
          .metric= t('.stats.solutions_mentored')
        .stat
          .number= number_with_delimiter @user.num_students_mentored
          .metric= t('.stats.students_helped', count: @user.num_students_mentored)
        .stat
          .number= number_with_delimiter @user.num_published_testimonials
          .metric= t('.stats.testimonials_received')

      = render ReactComponents::Profile::TestimonialsList.new(@user, params)
