#page-profile-testimonials
  = render ViewComponents::Profile::Header.new(@user, @profile, :testimonials)

  %article
    .lg-container
      = render ReactComponents::Common::Introducer.new(:profile_testimonials, "badges") do
        %h2 Exercism mentors receive testimonials for outstanding mentoring
        %p Students leave testimonials for mentors that have helped them on their learning journey. Small tokens of thanks that make a huge difference.

      / TODO: Real values - same as profile page
      .stats
        .stat
          .number 50
          .metric Solutions mentored
        .stat
          .number 50
          .metric Students helped
        .stat
          .number 50
          .metric Testimonials received

      .testimonials
        - @testimonials.each do |testimonial|
          .testimonial
            = avatar(testimonial.student)
            .content= testimonial.content
            .student-name= testimonial.student.handle
            .exercise
              = testimonial.exercise.title
              on
              = track_icon(testimonial.track)
              .track-title= testimonial.track.title
            %time #{time_ago_in_words(testimonial.created_at)} ago
