.heading
  = rounded_bg_img("https://avatars2.githubusercontent.com/u/8953691?s=460&u=593aaf70d7708aa3a98eb0b49a212a45263bc065&v=4", "Erik SchierBOOM's uploaded avatar")
  .identifier
    %h4.name= @user.name
    .handle= @user.handle

  = render ViewComponents::Reputation.new(@user)

- if @user.bio.present?
  .bio= @user.bio

- if @profile&.location.present?
  .location
    = icon(:location, "Located in")
    = @profile.location
-#
  {/*<div>{data.badges.count} badges collected</div>
  <div>{data.badges.latest.join(', ')}</div>*/}
