.lg-container
  - if user_signed_in?
    .nfp.mb-40.md:mb-58
      = graphical_icon "exercism-face-gradient"
      %h2.text-h2.mb-32= t('.nfp_section.title')
      = render ReactComponents::Donations::FooterForm.new
      %h3.text-h4.mt-32.mb-8= t('.nfp_section.subtitle')
      %p.text-p-large= t('.nfp_section.description')

  %hr
  .site-links.mt-24.md:mt-56
    .grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-3.xl:grid-cols-6.gap-x-40
      .col
        %h3= t('.site_links.editions.title')
        %hr.c-divider.--small
        %ul
          %li= link_to t('.site_links.editions.exercism_link'), root_url
          -# UPDATE LINKS - footer
          %li= link_to t('.site_links.editions.learn_to_code_link'), Courses::CodingFundamentals.url
          %li= link_to t('.site_links.editions.coding_fundamentals_link'), Courses::CodingFundamentals.url
          %li= link_to t('.site_links.editions.front_end_course_link'), Courses::FrontEndFundamentals.url
          %li= link_to t('.site_links.editions.bootcamp_link'), Exercism::Routes.bootcamp_url
          %li= link_to t('.site_links.editions.teams_link'), doc_path(:using, 'editions/teams')
          %li= link_to t('.site_links.editions.research_link'), doc_path(:using, 'editions/research')

      .col
        %h3= t('.site_links.about.title')
        %hr.c-divider.--small
        %ul
          %li= link_to t('.site_links.about.about_exercism_link'), about_path
          %li= link_to t('.site_links.about.our_team_link'), team_about_path
          %li= link_to t('.site_links.about.contributors_link'), contributing_contributors_path
          %li= link_to t('.site_links.about.partners_link'), Exercism::Routes.about_partners_path
          %li= link_to t('.site_links.about.individual_supporters_link'), individual_supporters_about_path

      .col
        %h3= t('.site_links.get_involved.title')
        %hr.c-divider.--small
        %ul
          %li= link_to t('.site_links.get_involved.exercism_insiders_link'), insiders_path
          %li= link_to t('.site_links.get_involved.contribute_link'), contributing_root_path
          %li= link_to t('.site_links.get_involved.mentor_link'), mentoring_path
          %li= link_to t('.site_links.get_involved.donate_link'), donate_path

      .col
        %h3= t('.site_links.legal_and_policies.title')
        %hr.c-divider.--small
        %ul
          %li= link_to t('.site_links.legal_and_policies.terms_of_usage_link'), doc_path(:using, "legal/terms-of-service")
          %li= link_to t('.site_links.legal_and_policies.privacy_policy_link'), doc_path(:using, "legal/privacy-policy")
          %li= link_to t('.site_links.legal_and_policies.cookie_policy_link'), doc_path(:using, "legal/cookie-policy")
          %li= link_to t('.site_links.legal_and_policies.code_of_conduct_link'), doc_path(:using, "legal/code-of-conduct")
          %li= link_to t('.site_links.legal_and_policies.accessibility_statement_link'), doc_path(:using, "legal/accessibility")

      .col
        %h3= t('.site_links.keep_in_touch.title')
        %hr.c-divider.--small
        %ul
          %li= link_to t('.site_links.keep_in_touch.blog_link'), blog_posts_path
          %li= link_to t('.site_links.keep_in_touch.github_link'), "https://github.com/exercism/exercism"
          %li= link_to t('.site_links.keep_in_touch.contact_us_link'), doc_path(:using, "contact")
          %li= link_to t('.site_links.keep_in_touch.report_abuse_link'), doc_path(:using, "report-abuse")

      .col
        %h3= t('.site_links.get_help.title')
        %hr.c-divider.--small
        %ul
          %li= link_to t('.site_links.get_help.docs_link'), docs_path
          %li= link_to t('.site_links.get_help.getting_started_link'), doc_path(:using, "getting-started")
          %li= link_to t('.site_links.get_help.faqs_link'), doc_path(:using, "faqs")
          %li= link_to t('.site_links.get_help.installing_cli_link'), doc_path(:using, "solving-exercises/working-locally")
          %li= link_to t('.site_links.get_help.cli_walkthrough_link'), cli_walkthrough_path


    .col.locales
      %h3.md:text-center Exercism in Other Languages
      %hr.c-divider.--small.md:mx-auto
      .grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-3.xl:grid-cols-6.gap-x-32.gap-y-4
        - supported_locales.each do |locale|
          = link_to url_for_locale(locale, "", add_loop_breaker_query_param: user_signed_in?), alt: "Exercism in #{locale}", class: 'locale' do
            .flag= flag_for_locale(locale)
            = t(:language_version, locale: locale)

  %hr.mt-40.mb-40.md:mb-56

  .tracks.mt-32.md:mt-48.mb-32.md:mb-48.md:items-center
    .hidden.md:block
      %h2.text-h3= t('.tracks_section.title')
      %hr.c-divider.mt-28.mb-36

    .grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-3.xl:grid-cols-6.gap-x-32
      - Track.active.order(title: :asc).pluck(:title, :slug).in_groups(5, false).each do |group|
        .col
          %ul
            - group.each do |(title, slug)|
              %li= link_to title, track_path(slug)

      .col.hidden.md:block.mt-32.xl:mt-0
        %h3.text-h6= t('.tracks_section.add_language_title')
        %p.text-p-base
          = t('.tracks_section.add_language_description')
          = link_to t('.tracks_section.add_language_forum_link'), "https://forum.exercism.org/c/exercism/4"
          = t('.tracks_section.add_language_discussion_text')
  %hr
  .legals.mt-24.md:mt-32.mb-32.md:mb-40.flex.md:items-center.flex-col.md:flex-row
    .company.mb-16.md:mb-0.md:mr-32
      = t('.legals.company_info_part1')
      = link_to t('.legals.company_info_link_text'), 'https://find-and-update.company-information.service.gov.uk/company/11733062'
      = t('.legals.company_info_part2')
      = link_to t('.legals.katrina_owen_link'), 'https://exercism.github.io/kytrinyx/'
      = t('.legals.jeremy_walker_link_separator')
      = link_to t('.legals.jeremy_walker_link'), 'https://ihid.info/'
      = t('.legals.erik_schierboom_link_separator')
      = link_to t('.legals.erik_schierboom_link'), 'https://erikschierboom.com/'
      = t('.legals.company_info_part3')
    .copyright.md:ml-auto
      = t('.legals.copyright', year: Date.current.year)
