#page-auth
  %section.form-section
    .inner
      = link_to root_path, class: 'logo' do
        = icon "exercism-with-logo-black", t('.exercism_logo_alt')

      .intro
        %h2= t('.resend_confirmation_instructions_title')
        %p= t('.resend_confirmation_instructions_message')

      = flash_messages

      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { 'data-turbo': false, method: :post }) do |f|
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: t('.email_placeholder')
        = f.button t('.resend_confirmation_instructions_button'), class: "btn-primary btn-l"

      = render "devise/shared/links"

  = render "devise/shared/information"
