#page-auth
  %section.form-section
    .inner
      = link_to root_path, class: 'logo' do
        = icon "exercism-with-logo-black", "Exercism's Logo"

      .intro
        %h2 Resend confirmation instructions
        %p
          Not received a confirmation email?
          Use the form below and we'll send you another.

      = flash_messages

      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { 'data-turbo': false, method: :post }) do |f|
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Enter your email address"
        = f.button "Resend confirmation instructions", class: "btn-primary btn-l"

      = render "devise/shared/links"

  = render "devise/shared/information"
