.c-perk
  = image_tag url_for(perk.light_logo.presence || perk.partner.light_logo), alt: "Logo of #{perk.partner.name}", class: 'logo logo-light'
  = image_tag url_for(perk.dark_logo.presence || perk.partner.dark_logo), alt: "Logo of #{perk.partner.name}", class: 'logo logo-dark'
  %p.about= perk.preview_text
  .details= raw offer_html
  .flex.gap-12
    = link_to button_text, claim_perk_path(perk), class: 'btn-m btn-primary'
    = link_to "Learn more", perk_path(perk), class: 'btn-m btn-enhanced'
