.c-community-solution
  %header.--header
    = exercise_icon(exercise)
    .--info
      .--title #{user.handle}'s solution
      .--exercise to #{exercise.title} in #{track.title}
    .out-of-date
      = icon :warning, "This solution has not been tested against the latest version of this exercise"
    .c-iteration-processing-status.--passed
      .--dot
  %pre
    %code{ class: "language-#{highlightjs_language}" }
      = snippet

  %footer.--footer
    / TODO
    %time Published #{time_ago_in_words(published_at)} ago
    .--counts
      .--count
        = graphical_icon(:loc)
        .--num= num_lines

      .--count
        = graphical_icon(:star)
        .--num= num_stars

      .--count
        = graphical_icon(:comment)
        .--num= num_comments
