.c-published-solution
  %header
    .exercise
      = exercise_icon(exercise, css_class: "exercise-icon")
      .info
        .exercise-title= exercise_title
        .track-title in #{track_title}
      .counts
        .count
          = graphical_icon(:star)
          .num= stars_count

        .count
          = graphical_icon(:comment)
          .num= comments_count

  %pre
    %code{ class: "language-#{highlightjs_language}" }
      = snippet

  %footer
    / TODO
    %time Submitted #{time_ago_in_words(published_at)} ago
    .locs
      = graphical_icon(:loc)
      .num #{lines_count} lines
