.m-badge.c-modal.--cover.--ultimate
  .--modal-content
    .c-badge-medallion.--ultimate
      // The badge icon
      = graphical_icon 'concept-exercise'

    %h2= t('.new_badge_earned')
    .name= t('.badge_name')
    .rarity= t('.badge_rarity')
    %hr.c-divider.--small
    .reason= t('.badge_reason')
    .earned-at= t('.badge_earned_at', date: "20 Jan 2021")
