.c-modal.--cover.m-become-mentor
  .md-container
    %header
      .steps
        .step
        .step.selected
        .step
      .close-btn
        = icon "close", "Close the modal"

    %section.commit-section
      .lhs
        %h2 Commit to being a good mentor
        %p
          Mentoring on Exercism can be an incredible experience for students and mentors alike.
          To ensure it remains a positive place for everyone, we ask all mentors to affirm Exercism's values before then mentor their first solution.

        .reputation-info
          .inner
            = graphical_icon :reputation
            .info
              %h3 Reputation &amp; testimonials
              %p
                You'll gain
                %strong 6 reputation
                for each successful mentoring session.
                At the end of every discussion, students are invited to leave you a testimonial.

        .commitment
          %h3 You agree to:
          %label.c-checkbox-wrapper
            %input{ type: "checkbox", required: true }
            .row
              .c-checkbox= graphical_icon :checkmark
              %span
                Abide by the
                = link_to code_of_conduct_path do
                  Code of Conduct
                  = icon "external-link", "Opens in a new tab"

          %label.c-checkbox-wrapper
            %input{ type: "checkbox", required: true }
            .row
              .c-checkbox= graphical_icon :checkmark
              %span Be patient, emphathic and kind to those you're mentoring

          %label.c-checkbox-wrapper
            %input{ type: "checkbox", required: true }
            .row
              .c-checkbox= graphical_icon :checkmark
              %span
                Demonstrate
                = link_to "https://en.wikipedia.org/wiki/Intellectual_humility" do
                  intellectual humility
                  = icon "external-link", "Opens in a new tab"

          %label.c-checkbox-wrapper
            %input{ type: "checkbox", required: true }
            .row
              .c-checkbox= graphical_icon :checkmark
              %span Not use Exercism to promote personal agendas

        = button_tag class: 'btn-cta', disabled: true do
          %span Continue
          = graphical_icon "arrow-right"


      .rhs
        = graphical_icon "graphic-mentoring-screen"
