.c-modal.--cover.m-become-mentor
  .md-container
    %header
      .steps
        .step.selected
        .step
        .step
      .close-btn
        = icon "close", "Close the modal"

    %h2 Select the tracks you want to mentor
    %p
      This allows us to only show you the solutions you want to mentor.
      %strong Don’t worry, you can change these selections at anytime.

    .c-search-bar
      %input.--search{ placeholder: "Search all our language tracks" }
      .selected.none No tracks selected
      %button.btn-cta
        %span Continue
        = graphical_icon 'arrow-right'

    .tracks
      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Ruby
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title JavaScript
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track.selected
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Kotlin
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title C#
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Java
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Z3
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Red
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track.selected
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Swift
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Elixir
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track.selected
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Common Lisp
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

      .track
        .selected-icon= icon :checkmark, "Track Selected"
        = track_icon(Track.first)
        .title Erlang
        .info
          Avg. wait time ~ 2 days
          %br
          550 solutions queued

