.m-finish-student-mentor-discussion.c-modal.--cover
  .--modal-content
    %section.celebrate-step.neon-cat
      = image_tag "https://media.giphy.com/media/sIIhZliB2McAo/source.gif", class: 'gif'
      %h2= t('.thank_you_title_html').html_safe
      %p
        = t('.testimonial_message_html').html_safe
      = link_to '#', class: "btn-primary btn-l" do
        %span= t('.back_to_discussion_button')
        = graphical_icon "arrow-right"
