<div class="ReactModalPortal">
<div class="ReactModal__Overlay ReactModal__Overlay--after-open c-modal m-donation-confirmation ">
<div class="ReactModal__Content ReactModal__Content--after-open --modal-content" tabindex="-1" role="dialog" aria-modal="true">
= graphical_icon "completed-check-circle", css_class: 'main-icon'
%h2.text-h3.mb-8= t('.thank_you_title', amount: "$100.00").html_safe
%p.text-p-large.mb-24= t('.thank_you_message')
.flex.items-center.rounded-5.shadow-xsZ1.py-6.px-24.bg-lightOrange.mb-32.border-1.border-lightGold
  .c-badge-medallion.--rare.mr-16
    = graphical_icon 'automation'
  .text-textColor2.text-18.leading-150
    = t('.badge_earned_html').html_safe

= link_to t('.done_button'), donate_path, class: 'btn-primary btn-l w-100'

</div></div></div>
