
%div{ style: "background:green;padding:50px" }
  .c-request-mentoring-dropdown
    - if @active_mentoring_discussion
      .discussion-in-progress
        %h3 Mentoring currently in progress
        %p Share links aren’t available with active mentoring
    - else
      .mentoring-request
        %h3 Want to get mentored by a friend?
        %p Use this share link to invite friends, colleagues or personal mentors directly to mentor your solution.

        = ReactComponents::Common::CopyToClipboardButton.new("https://some.link/we/need/to-decide-on")

    - if @discussions.present?
      .discussions
        %h3 Mentoring discussions

        - @discussions.each do |discussion|

          / @kntsoriano It's worth extracting this to be common component as we'll
          / be using it in a few places: Common::MentorDiscussionSummary
          = link_to mentoring_discussion_path(discussion.uuid), class: 'c-mentor-discussion-summary --slim' do
            = rounded_bg_img(discussion.mentor.avatar_url, "Erik SchierBOOM's uploaded avatar")
            .info
              .handle= discussion.mentor.handle
            - unless discussion.finished?
              .c-tag.--in-progress In Progress

            / @kntsoriano: See L35 of app/serializers/serialize_solution_activity.rb
            / for how to serialize all these comments without getting n+1s
            .comments{ class: discussion.posts.where(seen_by_student: false).exists? ? "unread" : nil }
              = icon "comment", pluralize(discussion.posts.count, "comment")
              = discussion.posts.count

            %time #{time_ago_in_words(discussion.created_at)} ago
            = graphical_icon :"chevron-right", css_class: "action-icon"

    - else
      .no-discussions
        %h3 Mentoring discussions
        %p Your discussions with mentors for this exercise will appear here once started.
