%div{ style: "background:#ddd;padding:50px;" }
  .c-reputation-dropdown
    - @tokens.each do |token|
      = link_to token[:url], class: "token" do
        = graphical_icon token[:icon_name], css_class: "reason-icon"
        .content
          .description= raw token[:text]
          .awarded-at= time_ago_in_words(token[:awarded_at])
        = render ViewComponents::Reputation.new("+#{token[:value]}")
        - if token[:read]
          .read
        - else
          .unread
        = graphical_icon("chevron-right", css_class: "action-icon")


