%div{ style: "background:green;padding:50px" }
  .c-share-solution-dropdown
    %h3 Share iHiD's solution
    .btns
      /* TODO: https://dev.to/share-to-dev-button */
      /* TODO: Set link */
      %a.devto{ href: "#" }
        = graphical_icon "external-site-devto"
        DEV.to

      /* TODO: Set link */
      %a.linkedin{ href: "#" }
        = graphical_icon "external-site-linkedin"
        LinkedIn

      /* TODO: Set link */
      %a.reddit{ href: "#" }
        = graphical_icon "external-site-reddit"
        Reddit

      /* TODO: Set link */
      %a.twitter{ href: "#" }
        = graphical_icon "external-site-twitter"
        Twitter

      /* TODO: Set link */
      %a.facebook{ href: "#" }
        = graphical_icon "external-site-facebook"
        Facebook

    = render ReactComponents::Common::CopyToClipboardButton.new(Exercism::Routes.published_solution_url(@solution))
