.c-modal.m-welcome-to-v3
  .wrapper
    .--modal-content
      .lhs
        %header
          %h1 Welcome to Exercism V3! 🎉
          %p
            Phew! It’s been long in the making, but we’re finally here. 
            %br
            %strong Welcome to version 3 of Exercism.

        %h2 So, what’s the big deal?
        %p We’ve updated and improved the whole Exercism experience from the ground up. Here are just a few of the excited new things you’ll notice as you use Exercism v3:

        .improvements
          .improvement
            = graphical_icon "graphic-exercise"
            .info
              %h3 Learning Mode
              %p Exercism’s not just about practicing - you can now use it to learn too, with our new Concepts and Exercises.
          .improvement
            = graphical_icon "graphic-editor"
            .info
              %h3 Introducing the Exercism editor
              %p Jump in and try new languages straight away in your browser without installing anything locally. And the CLI is still there if you like the original way!
          .improvement
            = graphical_icon "graphic-reputation"
            .info
              %h3 Reputation &amp; badges
              %p The more you contribute to exercism the faster you get mentored. Unlock badges for achievements. Show them off on your profile.
          .improvement
            = graphical_icon "graphic-journey"
            .info
              %h3 Your Journey
              %p Explore everything you’ve done on Exercism. From your learning, mentoring and contributions.
          .improvement
            = graphical_icon "graphic-mentoring"
            .info
              %h3 New mentoring
              %p No more blocking. More automation. Ability to get friends to mentor you.
          .improvement
            = graphical_icon "graphic-ux"
            .info
              %h3 New look and feel
              %p We’ve taken Exercism to the next level with a whole new user experience, improving every aspect of the website.

        %button.btn-large-cta
          I’m ready to explore the new Exercism!

      .rhs
        <div class="video" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/121725838?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

        .thank-you
          %h3 The biggest thank you to everyone who helped make v3 a reality 💙
          %p Exercism's continued evolution would not be possible if not for these wonderful people.

          %ul.contributors
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
            %li= avatar(User.first)
