.breadcrumbs
  .lg-container.container
    = track_icon track
    = link_to track.title, track
    .seperator /
    = link_to "Exercises", track_exercises_path(track)
    .seperator /
    .exercise-title= exercise.title

.content.lg-container.container
  = exercise_icon exercise
  .info
    %h1
      = exercise.title
      - if solution&.completed?
        = icon 'completed-check-circle', "Exercise is completed"
    .tags
      - if exercise.tutorial?
        .tutorial-tag Tutorial Exercise
      - elsif exercise.concept_exercise?
        / TODO
        .concept-tag Concept Exercise
      - else
        / TODO
        .difficulty-tag Easy

      = render ViewComponents::Track::ExerciseStatusTag.new(exercise, user_track)

  .decorations

  / TODO: Cache this
  .makers
    .c-faces
      - exercise.authors.each do |author|
        .face{ "data-tooltip-type": "user", "data-endpoint": tooltip_profile_path(author.handle), "data-handle": author.handle }
          = avatar(author)
    .stats
      .authors= pluralize exercise.authors.size, "author"
      - if exercise.contributors.present?
        .contributors= pluralize exercise.contributors.size, "contributor"
