.breadcrumbs
  .lg-container.container
    = link_to tracks_path do
      = graphical_icon 'tracks', hex: true
      .span Tracks
    .seperator /
    = link_to track do
      = track_icon track
      .span= track.title
    .seperator /
    = link_to "Exercises", track_exercises_path(track)
    .seperator /
    .exercise-title= exercise.title

.content.lg-container.container
  = exercise_icon exercise
  .info
    %h1
      = exercise.title
      - if solution&.completed?
        = icon 'completed-check-circle', "Exercise is completed"
    .tags
      - if exercise.tutorial?
        .tutorial-tag Tutorial Exercise
      - elsif exercise.concept_exercise?
        / TODO
        .concept-tag Concept Exercise
      - else
        / TODO
        .difficulty-tag Easy

      = render ViewComponents::Track::ExerciseStatusTag.new(exercise, user_track)

  .decorations

  / TODO: Cache this
  = render ReactComponents::Track::ExerciseMakersButton.new(exercise)
