.c-track-breadcrumbs
  .lg-container.container
    = link_to tracks_path do
      = graphical_icon 'tracks', hex: true
      .span Tracks
    .seperator /
    = link_to track do
      = track_icon track
      .span= track.title
    .seperator /
    = link_to "Exercises", track_exercises_path(track)
    .seperator /
    .exercise-title= exercise.title

- if solution&.out_of_date?
  .lg-container
    = render ReactComponents::Student::UpdateExerciseNotice.new(solution)

- elsif solution&.completed?
  .lg-container
    %section.c-completed-exercise-heading
      = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
      .text You've completed #{exercise.title}.
      = render ViewComponents::ProminentLink.new("Discover more exercises", track_exercises_path(track))

.flex
  .content.lg-container.container.flex.items-center.relative
    = exercise_icon exercise, css_class: "self-start md:self-center"
    .flex-grow.flex.flex-col.md:flex-row
      .info
        %h1
          = exercise.title
          - if solution&.completed?
            = icon 'completed-check-circle', "Exercise is completed"

        .tags.mb-16.lg:mb-0
          = render ViewComponents::Track::ExerciseStatusTag.new(exercise, user_track)

          - if exercise.tutorial?
            .c-exercise-type-tag.--tutorial Tutorial Exercise
          - elsif exercise.concept_exercise?
            .c-exercise-type-tag.--concept
              = graphical_icon 'concept-exercise'
              Learning Exercise
          - elsif exercise.difficulty_category == :easy
            -# TODO: Use the React component for these
            .c-difficulty-tag.--easy
              .icon
              Easy
          - elsif exercise.difficulty_category == :medium
            .c-difficulty-tag.--medium
              .icon
              Medium
          - elsif exercise.difficulty_category == :hard
            .c-difficulty-tag.--hard
              .icon
              Hard
    = render ViewComponents::Partner::Advert.new(track:)

    -#
      TODO: Cache this
      = render ReactComponents::Track::ExerciseMakersButton.new(exercise)
