- track_meta_tags(@user_track)
- require_stylesheet "track"

#page-track-about
  = render ViewComponents::Track::Header.new(@track, :about)

  - if @user_track.external?
    %header.track-header.c-header-with-bg
      .lg-container.container
        .info.md:mr-64.flex.flex-col
          %h1.text-h1 Want to learn and master #{@track.title}?
          %p.text-p-xlarge
            Join Exercism’s #{@track.title} Track for access to
            %em.c-underline
              %strong #{@user_track.num_exercises} exercises

            - if @track.course?
              grouped into #{@user_track.num_concepts} #{@track.title} Concepts,
            with automatic analysis
            of your code and
            = succeed(',') do
              %em.c-underline
                %strong> personal mentoring
            all
            %em.c-underline
              %strong 100% free.
            /= @track.blurb

          .btns.flex.flex-col.sm:flex-row
            = button_to join_track_path(@track), method: :post, class: "btn-primary btn-l mb-24 sm:mb-0 sm:mr-24 w-100 sm:w-auto" do
              = graphical_icon(:plus)
              %span Join the #{@track.title} Track

            - if @track.course?
              = link_to track_concepts_path(@track), class: "btn-secondary btn-l" do
                Explore concepts
            - else
              = link_to track_exercises_path(@track), class: "btn-secondary btn-l" do
                Explore exercises

          - if @track.slug == "go"
            .mt-40.border-2.border-gradient.rounded-8.overflow-hidden.self-start
              .bg-veryLightBlue.flex.px-24.py-12
                .font-semibold.text-16.leading-150
                  ⭐
                  %span.text-gradient Exercism is the official GoBridge &amp; GDN mentoring platform.
                  = link_to "Learn more.", blog_post_path('exercism-is-the-official-go-mentoring-platform'), class: "text-gradient border-b-1"

        .graphics.hidden.md:grid
          = track_icon(@track)

  %section.about-section.pb-48.md:pb-64
    .lg-container
      .inner.flex-col.md:flex-row
        .info.mb-32.md:mb-0
          .c-textual-content.--large
            %h2 About #{@track.title}
            = ReactComponents::Common::Expander.new(Markdown::Parse.(@track.about), content_is_safe: true, button_text_compressed: "Read more on #{@track.title}", button_text_expanded: "Read less")

        - if @track.intro_video_youtube_slug.present?
          %div{ class: 'w-[100%] max-w-[500px]' }
            = render ReactComponents::Common::YoutubePlayer.new(@track.intro_video_youtube_slug, 'track#about')
        - else
          %pre
            %code{ class: "lang-#{@track.highlightjs_language}" }
              = @track.snippet

  %section.exercises-section
    .lg-container
      = graphical_icon "exercises", hex: true, css_class: "header-icon"
      .inner
        .info
          %h2
            %em.c-underline #{@user_track.num_exercises} coding exercises
            for #{@track.title} on Exercism.
            - unless @showcase_exercises.empty?
              From #{@showcase_exercises.first.title} to #{@showcase_exercises.last.title}.
          %hr.c-divider
          %p Get better at programming through fun, rewarding coding exercises that test your understanding of concepts with Exercism.

          .exercises
            - @showcase_exercises.each do |exercise|
              = link_to track_exercise_path(@track, exercise), class: 'exercise' do
                = exercise_icon exercise
                .exercise-info
                  %h3= exercise.title
                  %p= exercise.blurb
                = graphical_icon :'chevron-right', css_class: "action-icon"

          = render ViewComponents::ProminentLink.new("See all #{@track.title} exercises on Exercism", track_exercises_path(@track))

        = srcset_tag "screenshots/exercise-about.webp", [400, 632, 800, 1264], [[:lg, "50vw"], "0vw"], alt: "", class: 'hidden lg:block', width: 1264, height: 1180

  = render "tracks/about/key_features", track: @track
  = render "tracks/about/concepts", track: @track
  = render "tracks/about/upsell", track: @track, user_track: @user_track
