- track_meta_tags(@user_track)
- require_stylesheet "track"

#page-track-about
  = render ViewComponents::Track::Header.new(@track, :about)

  - if @user_track.external?
    %header.track-header.c-header-with-bg
      .lg-container.container
        .info.md:mr-64.flex.flex-col
          %h1= t('.header.title', track_title: @track.title)
          %p.text-p-xlarge
            - concepts_clause = @track.course? ? "grouped into #{@user_track.num_concepts} #{@track.title} Concepts," : ""
            = t('.header.subtitle_html', track_title: @track.title, num_exercises: @user_track.num_exercises, concepts_clause: concepts_clause).html_safe

          .btns.flex.flex-col.sm:flex-row
            - url = user_signed_in? ? join_track_path(@track) : User::GenerateNewSessionPath.(request, controller)
            - method = user_signed_in? ? :post : :get
            - elem = user_signed_in? ? :button_to : :link_to
            = send(elem, url, method: method, class: "btn-primary btn-l mb-24 sm:mb-0 sm:mr-24 w-100 sm:w-auto") do
              = graphical_icon(:plus)
              %span= t('.header.join_track_button', track_title: @track.title)

            - if @track.course?
              = link_to track_concepts_path(@track), class: "btn-secondary btn-l" do
                = t('.header.explore_concepts_button')
            - else
              = link_to track_exercises_path(@track), class: "btn-secondary btn-l" do
                = t('.header.explore_exercises_button')

          - if @track.slug == "go"
            .mt-40.border-2.border-gradient.rounded-8.overflow-hidden.self-start
              .bg-veryLightBlue.flex.px-24.py-12
                .font-semibold.text-16.leading-150
                  ⭐
                  %span.text-gradient= t('.header.gobridge_platform_html').html_safe
                  = link_to t('.header.learn_more_link_text'), blog_post_path('exercism-is-the-official-go-mentoring-platform'), class: "text-gradient border-b-1"

        .graphics.hidden.md:grid
          = track_icon(@track)

  %section.about-section.pb-48.md:pb-64
    .lg-container
      .inner.flex-col.md:flex-row
        .info.mb-32.md:mb-0
          .c-textual-content.--large
            %h2= t('.about_section.title', track_title: @track.title)
            = ReactComponents::Common::Expander.new(Markdown::Parse.(@track.about), content_is_safe: true, button_text_compressed: t('.about_section.read_more_button_text', track_title: @track.title), button_text_expanded: t('.about_section.read_less_button_text'))

        - if @track.intro_video_youtube_slug.present?
          %div{ class: 'w-[100%] max-w-[500px]' }
            = render ReactComponents::Common::YoutubePlayer.new(@track.intro_video_youtube_slug, 'track#about')
        - else
          %pre
            %code{ class: "lang-#{@track.highlightjs_language}" }
              = @track.snippet

  %section.exercises-section
    .lg-container
      = graphical_icon "exercises", hex: true, css_class: "header-icon"
      .inner
        .info
          - if @showcase_exercises.present?
            - range_part = t('.exercises_section.range_part_present', first_exercise_title: @showcase_exercises.first.title, last_exercise_title: @showcase_exercises.last.title)
          - else
            - range_part = ""

          %h2= t('.exercises_section.title_html', num_exercises: @user_track.num_exercises, track_title: @track.title, range_part: range_part).html_safe
          %hr.c-divider
          %p= t('.exercises_section.subtitle')

          .exercises
            - @showcase_exercises.each do |exercise|
              = link_to track_exercise_path(@track, exercise), class: 'exercise' do
                = exercise_icon exercise
                .exercise-info
                  %h3= exercise.title
                  %p= exercise.blurb
                = graphical_icon :'chevron-right', css_class: "action-icon"

          = render ViewComponents::ProminentLink.new(t('.exercises_section.all_exercises_link', track_title: @track.title), track_exercises_path(@track))

        = srcset_tag "screenshots/exercise-about.webp", [400, 632, 800, 1264], [[:lg, "50vw"], "0vw"], alt: "", class: 'hidden lg:block', width: 1264, height: 1180

  = render "tracks/about/key_features", track: @track
  = render "tracks/about/concepts", track: @track
  = render "tracks/about/upsell", track: @track, user_track: @user_track
