#page-tracks-build

  .lg-container.grid.grid-cols-3.gap-48.bg-white
    .col-span-2
      %h1.text-h1.mb-12
        %span{ class: "px-12 bg-[url(graphics/impact-highlight.svg)] bg-[length:100%_100%]" } 25,000
        students have developed their #{@track.title} skills.
      .grid.grid-cols-3.mb-32
        .report-stat
          .stat-name
            Students
            = graphical_icon "info-circle"
          .current-number 25,645
          .growth +939 per day
        .report-stat
          .stat-name
            Submissions
            = graphical_icon "info-circle"
          .current-number 89,501
          .growth +2,569 per day
        .report-stat
          .stat-name
            Mentoring Discussions
            = graphical_icon "info-circle"
          .current-number 580
          .growth +10 per day

      .track-status
        %h3.text-h3.font-bold.mb-12
          The #{@track.title} track is
          %span.text-healthyGreen super healthy ✅
        .flex
          .flex.flex-col.mr-40
            .tooling-status-label Building
            .tooling-status-group
              .tooling-status--healthy
                = graphical_icon "syllabus"
              .tooling-status--dead
                = graphical_icon "practice-exercises"
              .tooling-status--critical
                = graphical_icon "representer"
          .flex.flex-col.pl-40.border-l-1.border-borderLight
            .tooling-status-label Outreach & Activity
            .tooling-status-group
              .tooling-status--needs-attention
                = graphical_icon "test-runner"


      .border-2.border-gradient.rounded-12.px-32.py-24.items-center.flex.shadow-smZ1.mb-32
        = image_tag @track.icon_url, class: "w-[64px] h-[64px] mr-24"
        .flex.flex-col.mr-48
          %h5.text-h5 We&apos;re looking for 5 volunteers for the #{@track.title} Track.
          %p.text-textColor5.text-18.leading-140 Could you commit to 3 hours per week over the next 6 months to get the #{@track.title} track up to scratch?
        = link_to "", class: "btn btn-primary btn-large border-1 border-textColor1 rounded-8 shadow-xsZ1v3" do
          Learn more


      .flex
        = graphical_icon "building", css_class: "h-[64px] w-[64px] mr-20", hex: true
        .flex.flex-col
          %h2.text-h2 Build
          %p.text-18.text-textColor1.leading-150 Use your knowledge to build the #{@track.title} track itself
        -# TODO add React component with authors/contributors here


    .col-span-1
      .rounded-8.p-24.shadow-baseZ1
        .flex.items-center.mb-12
          = graphical_icon "team-idea", css_class: "h-[24px] w-[24px] filter-textColor1 mr-16"
          .label-large.mr-16 Volunteers
          .count-bubble 172

        - 2.times do
          .contributor-credit-block
            .contributor
              = image_tag "team/erik.jpg", alt: "A photo of Erik"
              ErikSchierboom
            = render ViewComponents::Reputation.new(300, flashy: true, size: :small)
        .rounded-8.py-16.px-20.bg-backgroundColorG
          %h6.text-h6.leading-150.mb-4 We 💙 our volunteers
          %p.text-textColor5.leading-150.text-14.mb-4
            Exercism relies on open-source volunteers to build our language tracks and mentor students.
          = link_to "https://github.com", class: "text-lightBlue font-semibold flex items-center" do
            %span.mr-8 Become an Exercism Volunteer
            = graphical_icon "arrow-right", css_class: "h-[14px] w-[14px] filter-lightBlue"


