- @dummy_concepts = %w[Basics Structs Booleans Enums]
- @dummy_exercises = %w[Lasagna Moviegoer]
- @dummy_practice = ['Asteroid Exploration Co.']
#page-tracks-build.bg-white

  %header.absolute.top-0
  .lg-container.grid.grid-cols-3.gap-48.relative.mt-40
    .col-span-2
      %h1.text-h1.mb-12.text-48.font-bold.z-1
        .highlight-text 25,000
        students have developed their #{@track.title} skills.
      .grid.grid-cols-3.mb-32.gap-16
        .report-stat
          .stat-name
            Students
            = graphical_icon "info-circle"
          .current-number 25,645
          .growth +939 per day
        .report-stat
          .stat-name
            Submissions
            = graphical_icon "info-circle"
          .current-number 89,501
          .growth +2,569 per day
        .report-stat
          .stat-name
            Mentoring Discussions
            = graphical_icon "info-circle"
          .current-number 580
          .growth +10 per day

      .track-status
        %h3.text-h3.font-bold.mb-12
          The #{@track.title} track is
          %span.text-healthyGreen super healthy ✅
        .flex
          .flex.flex-col.mr-40
            .tooling-status-label Building
            .tooling-status-group
              %div{ 'tooling-status': 'healthy' }
                = graphical_icon "syllabus"
              %div{ 'tooling-status': 'dead' }
                = graphical_icon "practice-exercises"
              %div{ 'tooling-status': 'critical' }
                = graphical_icon "representer"
          .flex.flex-col.pl-40.border-l-1.border-borderLight
            .tooling-status-label Outreach & Activity
            .tooling-status-group
              %div{ 'tooling-status': 'needs-attention' }
                = graphical_icon "test-runner"


      .border-2.border-gradient.rounded-12.px-32.py-24.items-center.flex.shadow-smZ1.mb-32
        = image_tag @track.icon_url, class: "w-[64px] h-[64px] mr-24"
        .flex.flex-col.mr-48
          %h5.text-h5 We&apos;re looking for 5 volunteers for the #{@track.title} Track.
          %p.text-textColor5.text-18.leading-140 Could you commit to 3 hours per week over the next 6 months to get the #{@track.title} track up to scratch?
        = link_to "", class: "btn btn-primary btn-large border-1 border-textColor1 rounded-8 shadow-xsZ1v3" do
          Learn more


      .flex.mb-16
        = graphical_icon "building", css_class: "h-[64px] w-[64px] mr-20", hex: true
        .flex.flex-col
          %h2.text-h2 Build
          %p.text-18.text-textColor1.leading-150 Use your knowledge to build the #{@track.title} track itself
        -# TODO add React component with authors/contributors here

      .track-team-group
        .track-header
          %h3.--syllabus-gradient Create the #{@track.title} syllabus
          %p Help create the track syllabus: is a set of concepts and learning exercises put together to teach foundational elements of the programming language.
          = link_to "", class: "learn-more-new-tab" do
            Learn More

        .action-required
          Action required: Create a complete syllabus with at least 30 concepts and learning exercises.
          = link_to "" do
            Find out more.

        .usage-stats-header
          %h4 Usage statistics
        %details.mb-10
          %summary.--syllabus #{@dummy_concepts.length}/30  concepts created
          - @dummy_concepts.each do |c|
            .record-row
              .record-name= c
              .record-value 42,507 views
        %details.mb-16
          %summary.--lightbulb #{@dummy_exercises.length}/30  learning exercises created
          - @dummy_exercises.each do |c|
            .record-row
              .record-name= c


      .track-team-group
        .track-header
          %h3.--test-runner-gradient Build Test Runners
          %p Create Test Runners that have the single responsibility of taking a solution, running all tests and returning a standardized output.
          = link_to "", class: "learn-more-new-tab" do
            Learn More

        .action-required
          Action required: Get Test Runners to Level 3. #{@track.title} is currently utilising a Level 2 Test Runner. Find out more.
          = link_to "" do
            Find out more.

        .usage-stats-header
          %h4 Usage statistics
        .stats-container
          .record-row
            .record-name Total Test Runs
            .record-value 518,506
          .record-row
            .record-name Outcome Breakdown
            .record-value 24% pass (127,602) 55% fail (248,011) 21% unknown (109,477)
          .record-row
            .record-name Mean Runtime
            .record-value 2.84s


      .track-team-group
        .track-header
          %h3.--analyzer-gradient Build Analyzers
          %p Build an Analyzer for #{@track.title}: Exercism's analyzers automatically assess student's submissions and provide mentor-style commentary.
          = link_to "", class: "learn-more-new-tab" do
            Learn More

        .usage-stats-header
          %h4 Usage statistics
        .stats-container
          .record-row
            .record-name Total Analysis Comments Made
            .record-value 85,602
          .record-row
            .record-name Analysis Display Rate
            .record-value 48%

      .track-team-group
        .track-header
          %h3.--representer-gradient Build Representers
          %p Build a Representer: a bit of code that has the single responsibility of taking a solution and returning a normalized representation of it.
          = link_to "", class: "learn-more-new-tab" do
            Learn More

        .usage-stats-header
          %h4 Usage statistics
        .stats-container
          .record-row
            .record-name Total Representations Created
            .record-value 814
          .record-row
            .record-name Total Representation Comments Made
            .record-value 24% pass (127,602)
          .record-row
            .record-name Representation Display Rate
            .record-value 58%

      .track-team-group
        .track-header
          %h3.--practice-exercises-gradient Create Practice Exercises
          %p Practice Exercises are exercises designed to allow students to solve an arbitrary problem, with the aim of them making use of the concepts they have learned so far.
          = link_to "", class: "learn-more-new-tab" do
            Learn More

        .usage-stats-header
          %h4 Usage statistics
        %details.mb-10
          %summary.--practice-exercises #{@dummy_practice.length}/30  practice exercise created
          - @dummy_practice.each do |c|
            .record-row
              .record-name= c
              .record-value 80,831 completions (30% of attempts)

    .col-span-1
      .rounded-8.p-24.shadow-baseZ1.bg-white
        .flex.items-center.mb-12
          = graphical_icon "team-idea", css_class: "h-[24px] w-[24px] filter-textColor1 mr-16"
          .label-large.mr-16 Volunteers
          .count-bubble 172

        - 2.times do
          .contributor-credit-block
            .contributor
              = image_tag "team/erik.jpg", alt: "A photo of Erik"
              ErikSchierboom
            = render ViewComponents::Reputation.new(300, flashy: true, size: :small)
        .rounded-8.py-16.px-20.bg-backgroundColorG
          %h6.text-h6.leading-150.mb-4 We 💙 our volunteers
          %p.text-textColor5.leading-150.text-14.mb-4
            Exercism relies on open-source volunteers to build our language tracks and mentor students.
          = link_to "https://github.com", class: "text-lightBlue font-semibold flex items-center" do
            %span.mr-8 Become an Exercism Volunteer
            = graphical_icon "arrow-right", css_class: "h-[14px] w-[14px] filter-lightBlue"
