#page-tracks
  %header.tracks-header
    .track-icons
      - @track_icons.each do |icon_name|
        = image_pack_tag "tracks/#{icon_name}.svg", role: :presentation, class: "c-icon c-track-icon"

    %h1 #{@num_tracks} language tracks. All free for you!
    %p
      Become fluent in your chosen programming languages completing these tracks created by our
      = link_to "awesome team of contributors", "#"

  = render ReactComponents::Student::TracksList.new(current_user, @tracks)
