.lg-container
  %h1.text-h1= @mailshot.slug

  .text-h6.mb-8= t('.details.slug', slug: @mailshot.slug)
  .text-h6.mb-8= t('.details.subject', subject: @mailshot.subject)
  .text-h6.mb-8= t('.details.preference_key', key: @mailshot.email_communication_preferences_key)
  .text-h6.mb-8= t('.details.num_sends', count: @send_count)
  .text-h6.mb-8= t('.details.created_at', date: format_date(@mailshot.created_at))
  .text-h6.mb-8= t('.details.test_sent', status: (@mailshot.test_sent ? t('yes') : t('no')))

  - if @mailshot.sent_to_audiences.present?
    %h3.text-h3.mb-12= t('.sent_to_audiences_header')
    %ul.text-h6.mb-20
      - @mailshot.sent_to_audiences.each do |audience|
        %li= audience

  %hr.my-24

  %h2.text-h3.mb-12= t('.sending_options_header')
  .flex.flex-col
    - if flash[:mailshot_status]
      .mb-12.text-p-base.font-bold.text-darkSuccessGreen= flash[:mailshot_status]
    = button_to t('.send_test_button'), send_test_admin_mailshot_path(@mailshot), method: :patch, class: 'btn btn-standard btn-base'

    - if @mailshot.test_sent?
      = form_tag send_to_audience_admin_mailshot_path, method: :patch, class: "flex flex-row items-center mt-20", data: { turbo_confirm: t('.send_to_audience_confirm') } do
        .c-select
          = select_tag :audience, options_for_select(@audiences.map { |a| (a1 = a.split("#")) && [[a1[0].titleize, a1[1]].compact.join(": "), a] })
        = button_tag t('.send_to_audience_button'), class: 'btn btn-standard btn-base ml-8'

  %hr.my-24

  .flex
    = link_to t('.edit_mailshot_button'), edit_admin_mailshot_path(@mailshot), class: 'btn btn-standard btn-base'
    = link_to t('.preview_html_button'), "/rails/mailers/mailshots/mailshot.html?slug=#{@mailshot.slug}", rel: "noopener", target: "_blank", class: 'btn btn-standard btn-base'
    = link_to t('.preview_text_button'), "/rails/mailers/mailshots/mailshot.txt?slug=#{@mailshot.slug}", rel: "noopener", target: "_blank", class: 'btn btn-standard btn-base'
    - if @send_count.zero?
      |
      = button_to t('.destroy_mailshot_button'), [:admin, @mailshot], method: :delete, data: { confirm: t('.destroy_mailshot_confirm', slug: @mailshot.slug) }, class: 'btn btn-warning'
    |
    = link_to t('.back_to_all_mailshots_button'), admin_mailshots_path, class: 'btn btn-standard btn-base'
