%h1 Mentor Solutions List
= form_tag nil, method: :get do
  = label_tag :state
  = select_tag :state, options_for_select(["Success", "Error", "Loading"], params[:state])
  = submit_tag "Submit", name: nil
%hr/
= mentor_solutions_list({ endpoint: test_components_mentoring_mentor_solutions_list_solutions_path, query: { state: params[:state] }, retry: { retry: params[:state] == "Loading" } })
