%ul
  %li= t('.exercises_projects_html').html_safe
  %li= t('.teaching_videos_html').html_safe
  %li= t('.diagrams_html').html_safe
  %li= t('.interface_html').html_safe
  %li= t('.answer_questions_html').html_safe
  %li= t('.community_html').html_safe
  %li= t('.certificate_html').html_safe
