%ul
  %li= t('.exercises_projects_html').html_safe
  %li= t('.live_teaching_html').html_safe
  %li= t('.answer_questions_html').html_safe
  %li= t('.technologies_html').html_safe
  %li= t('.community_html').html_safe
  %li= t('.certificate_html').html_safe
