%hr

%p.info.mb-8
%h3= t('.heading')
= render "courses/pay/#{enrollment.course.template_slug}"

.quote
  .words
    = image_tag "bootcamp/quote.png", class: 'mark left-mark'
    %span
      = raw Markdown::Parse.(t('.testimonial_quote'))
  .person
    .flex.flex-row.items-center.justify-end.gap-8
      .stars
      .text
        .name= t('.testimonial_name')
        .description= t('.testimonial_description')
      = image_tag "bootcamp/testimonials/shaun.jpg"

-#
  .guarantee
    .flex.sm:flex-row.items-center.sm:gap-20.relative
      .sm:py-8.pl-12.pt-32
        %h3.mb-2 Learn to Code Guarantee
        %p
          You're protected by our 100% Learn to Code Guarantee. If you take part, watch the videos, try the projects, and can't code at the end, we'll give you your money back!
      = graphical_icon "guarantee", category: :graphics, css_class: "sm:w-[140px] sm:h-[140px] w-[80px] h-[80px] sm:static absolute top-0 sm:left-0 sm:translate-x-0 sm:translate-y-0 left-[50%]  -translate-x-1/2 -translate-y-1/2"
