.c-admin-page
  .lg-container
    %h1.text-h1.mb-8= t('.title')
    %table.c-admin-table.mb-8
      - @streaming_events.each do |streaming_event|
        %tr
          %td= streaming_event.title
          %td= format_datetime(streaming_event.starts_at)
          %td= link_to t('.table.details_link'), [:admin, streaming_event]
          %td= link_to t('.table.edit_link'), edit_admin_streaming_event_path(streaming_event)
    .flex
      = link_to t('.new_event_button'), new_admin_streaming_event_path, class: 'btn btn-primary btn-base'
