.lg-container
  %h1.text-h1= @streaming_event.title

  .text-h6.mb-8= t('.details.title', title: @streaming_event.title)
  .text-h6.mb-8= t('.details.description', description: @streaming_event.description)
  .text-h6.mb-8= t('.details.starts_at', date: format_date(@streaming_event.starts_at))
  .text-h6.mb-8= t('.details.ends_at', date: format_date(@streaming_event.ends_at))
  .text-h6.mb-8= t('.details.featured', status: (@streaming_event.featured? ? t('yes') : t('no')))
  .text-h6.mb-8= t('.details.thumbnail', url: @streaming_event.thumbnail_url)
  .text-h6.mb-8= t('.details.youtube_id', id: @streaming_event.youtube_id)

  .flex
    = link_to t('.actions.edit'), edit_admin_streaming_event_path(@streaming_event), class: 'btn btn-standard btn-base'
    |
    = button_to t('.actions.destroy'), [:admin, @streaming_event], method: :delete, data: { confirm: t('.actions.destroy_confirm', title: @streaming_event.title) }, class: 'btn btn-warning'
    |
    = link_to t('.actions.back_to_all'), admin_streaming_events_path, class: 'btn btn-standard btn-base'
