#page-iterations-index
  = ViewComponents::Track::ExerciseNav.new(@track, @exercise, @solution, :iterations)

  - if @solution&.iterations.present?
    .lg-container.container
      .iterations
        - @solution.iterations.each do |iteration|
          .iteration
            .header
              = ViewComponents::Track::IterationSummary.new(iteration)
            .content
              .files
                %pre
                  %code
                    / TODO: 🤮
                    = iteration.submission.files.first.content
              .analysis
                .comment
                  .text
                    %p The biggest improvement you could make to this would be to use Ruby's String helper methods rather than regular expressions. That will help make it much more readable to future-you or another developer.
                    %p Take a look at the String docs and check out things such as  strip  and  end_with? .
                  .byline
                    = rounded_bg_img("https://avatars3.githubusercontent.com/u/135246?s=460&u=733b8575c8f0dbb5a52840c3efb2480b166c897a&v=4", "Erik SchierBOOM's uploaded avatar")
                    %span
                      by
                      = link_to "Erik SchierBOOM", "#"
                    .c-reputation{ 'aria-label': "#{123 * 1} reputation" }
                      = icon(:reputation, "Reputation")
                      123

                .comment
                  .text
                    %p I recommend you learn how to say my name properly.
                  .byline
                    = rounded_bg_img("https://avatars3.githubusercontent.com/u/135246?s=460&u=733b8575c8f0dbb5a52840c3efb2480b166c897a&v=4", "Erik SchierBOOM's uploaded avatar")
                    %span
                      by
                      = link_to "Erik SchierBOOM", "#"
                    .c-reputation{ 'aria-label': "#{123 * 1} reputation" }
                      = icon(:reputation, "Reputation")
                      123

