.c-generic-tooltip.text-16.leading-150{ class: "!py-16 !px-24 !max-w-[420px]" }
  %p.font-semibold.mb-4
    = t('.title')

  - if @solution&.downloaded? || @solution&.submitted?
    %p.mb-12.text-borderLight{ class: '!mt-0 ' }
      = t('.unlock_dig_deeper', exercise_title: @exercise.title)

    = ReactComponents::Track::UnlockHelpButton.new(unlock_help_api_solution_url(@solution.uuid))
  - else
    %p.mb-12
      = t('.attempt_exercise_first')

  .font-semibold.text-lightGold.text-14.leading-150
    = t('.recommendation')
