#nav-fixed.nav{ class: "h-[64px]" }
  #nav-contents.lg-container.flex.flex-row.gap-8.items-center
    = link_to root_path, class: "flex flex-1 gap-12" do
      = image_tag "bootcamp/exercism-face-light.svg", class: 'exercism-face'
      .content.mr-auto
        %strong Exercism
        %span.hidden.md:inline-block · Learn to Code
    = link_to "Enroll Now →", "#signup-section", class: "button ml-auto"

#nav-sticky.nav

.hero
  .md-container
    .text-center
      %h1.rock-solid
        Master
        %strong Coding Fundamentals
        with Jiki
      .tagline{ class: "max-w-[650px]" }
        The
        %em ultimate
        way to
        %strong.font-semibold Learn to Code.
        %span.inline-block
          %strong Launching in
          January 2026.

    .bubbles
      .bubble
        = image_tag "bootcamp/video-tutorial.svg"
        .text
          %strong Video
          tutorials
      .bubble
        = image_tag "bootcamp/fun.svg"
        .text
          %strong Fun
          projects
      .bubble
        = image_tag "bootcamp/globe.svg"
        .text
          %strong 40+
          languages

  = render "scrolling_testimonials"

%section.welcome
  .md-container
    .flex.flex-col.items-center.gap-40
      .flex.flex-col.items-stretch
        %h2.mb-12
          Don't know where to start? Stuck in
          %span.font-semibold.intro-aspiring-coder.rough-highlight tutorial hell?
        %p
          %strong You're not alone!
          If you've tried learning from other websites or videos and found it's not sticking, or you just feel utterly overwhelmed knowing where to start, then you're not alone!
        %p
          The majority of courses out there
          %strong suck.
          They promise you the world then massively underdeliver.
          They're
          %strong.rough-highlight boring, confusing,
          and they leave you feeling like
          %strong you're not cut out for this.
        %p
          We made this course to fix that.
          If you're looking for something
          %strong.font-regular.intro-fun-and-creative.rough-highlight fun and creative
          where you learn by actually making things, with support when you need it, then this might just be
          %strong.font-medium
            %span.intro-you the course for you!
        .flex.flex-col.items-center.mt-8.mb-12.mr-80{ class: "scale-x-[-1]" }
          = image_tag "bootcamp/arrow-1.svg", class: 'bootcamp-arrow-1'

    %h3
      Hi there!
      %span.waving-hand
        👋
      I'm Jeremy, and I've helped over
      .inline.rough-highlight two million people
      level up their coding skills.
    %p
      But over the last few years, I've seen a really worrying trend...
    %p
      More and more people are trying to learn to code (🥳) but they seem to be
      %strong struggling more than ever (😢).
      And they're struggling with things that should be pretty straightforward once you've been learning for a while.
      %strong People just don't seem to be grasping the fundamentals.

    %p So I started reading around to see if I could work out what was going on, and found a crazy statistic.
    %h3
      %span.inline.rough-highlight 96% of people who try to learn to code give up
      🤯

    %p How could it be that so many people were trying to learn to code, but so few were actually succeeding?
    %p I went investigating… 🕵️
    %p
      I watched the
      %strong most popular YouTube videos (🥱),
      tried the "best"
      %strong online courses (😐),
      and even paid my friends to try to learn so I could see what happened (a mix of 😭😠🤬🙅‍♀️).

    %p I dug into formal research, spoke to my friends in education, and pretty quickly came to a simple conclusion...

    %h3
      %span.inline.rough-highlight The way people are being taught to code is causing them to fail!
    %p
      I started coding when I was 8.
      Back then, YouTube didn't exist. There weren't any "learn to code" websites. I didn't even have the internet.
      There was basically only one way to learn.
      %strong Make stuff. Lots of stuff!

    .sm:float-right.mt-20.sm:ml-24.sm:mb-24{ class: "xl:mr-[-100px] mr-0" }
      %div{ class: 'border-white border-[8px] rounded-[5px] lg:w-[300px] sm:w-[220px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/with-rhodri.jpg", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-14.text-center.font-normal.pt-8.px-8{ class: "leading-[140%]" }
          %span.lg:hidden.inline 1998: Me making the first website I ever got paid for.
          %span.lg:inline.hidden 1998: Me and Rhodri making the first website we ever got paid for.

    %p.mt-16
      And make stuff I did! I started making games and then graduated to making little bots to play against. And as I grew older I made websites for me and my friends, and
      %span.sm:hidden.inline eventually for customers.
      %span.sm:inline.hidden.relative
        %span#eventually-underline.rough-underline.whitespace-nowrap
          eventually for customers.
        %span#rhodri.arrow-animation

    %p I created, I played, I experimented. I had fun!
    %p
      And through this, I got really good.
      %strong I learned the coder mindset,
      and I laid the foundations that I've built my whole career on.
    %p
      %strong.rough-highlight But that's not how these modern courses teach.
      Giving you a space to practice and play and experiment is hard.
      It's much easier to just give you a video to watch, a quiz to take, and a certificate to print out.
    %p
      But you won't learn that way.
      You'll be
      %strong bored, frustrated,
      and like most other people, you'll
      %strong probably quit 😞😡

    %h3
      %span.rough-highlight If you want to get good, master the basics

    %p
      The best coders
      %strong are not
      the ones who know the most.
    %p
      The best coders are the ones who have
      %strong.rough-highlight gained a total mastery of the basics.
      Once you've got the basics down, everything will become easy.
      You can go and learn whatever you want or need.
    %p
      And the way to master the basics? Practice, practice, practice.
    %p
      Take on different challenges. Solve different problems. And have fun learning your craft!
    %h3
      %span.rough-highlight Which is why we made this...

    %p
      We've made a different type of course. One that teaches you the fundamentals of coding differently. It's focused on getting you
      %strong building fun things,
      on solving interesting problems, on learning the coding mindset that will actually get you good at this.
    %p
      Within 12 weeks, you'll go from zero to building games like
      %strong Space Invaders, Tic Tac Toe, and
      %strong Breakout.
      You'll be building bots that can solve mazes, and talking to real APIs like
      %strong ChatGPT
      to build useful real-world projects.

    .grid.grid-cols-4.gap-10.my-16
      = image_tag "bootcamp/space-invaders.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/tic-tac-toe.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/breakout.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/maze.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"

    %p ☝️☝️☝️ You'll make all these in the first 12 weeks!

    %h3
      %span.rough-highlight Focusing on what matters.

    %p
      We've worked really hard to build a course that focusses on the
      %strong important stuff.
      We've written our own programming language that gets out of your way and lets you focus on the actual coding.
    %p
      We've made a
      %strong kickass interface
      that's really fun and easy to use, but gets you coding fast.
      Everything is focused on giving you rock solid foundations, that will
      %strong.rough-highlight make it easy to learn any languages
      or technologies you want.

    .mt-20.mb-20
      %div{ class: 'border-bootcamp-purple border-[8px] rounded-[5px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/editor.png", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-17.text-center.font-medium.pt-16.pb-6.px-8.bg-bootcamp-purple.text-white{ class: "leading-[140%] " }
          %span Our specially designed interface that makes getting started easy!

    %h3.mt-32
      %span.rough-highlight Taught in a way that makes sense

    %p
      I'll teach you coding concepts using analogy and imagery, that will mean your
      %strong brain actually absorbs
      the information and understands what's going on.

    .sm:float-right.sm:ml-24.sm:mb-24{ class: "xl:mr-[-100px] mr-0" }
      %div{ class: 'border-white border-[8px] rounded-[5px] lg:w-[300px] sm:w-[220px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/jiki-slide.png", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-14.text-center.font-normal.pt-8.px-8{ class: "leading-[140%]" }
          %span This is
          %strong Jiki.
          We learn in detail how he runs the code you write!

    %p.mt-20
      There are no abstract concepts in this course.
      There's no hand-waving.
      If something is complex, I take my time breaking it down
      %span#jiki-underline.rough-underline.whitespace-nowrap
        until it's clear.
      %span.sm:inline.hidden.relative
        %span#jiki.arrow-animation

    %p
      We've put together over
      %strong 40 hours of live teaching
      for you to watch, where you can see me explaining the concepts of programming and answering questions from a real beginner audience.
    %p
      We have a great community of alumni and mentors who are there to help you when you get stuck.
      And I'll be there too, making sure you get the most out of the course!
    %p
      We've designed the course for
      %strong total beginners
      and it's entirely focused on
      %strong learning by doing.
      You'll be coding from day one, and
      %strong.font-semibold.rough-highlight you'll be coding a lot.
    %p
      It's also perfect if you've
      %strong been coding for a while
      but you don't feel like you've got a solid grasp on everything yet. About 50% of our students are in that category and love the course.
    %p
      If that sounds exciting, then
      %strong I'd love for you to join us! 💙

%section#bootcamp
  .lg-container
    .container.syllabus
      .tag What we cover
      %h2
        What's on the
        %strong menu?
      %p.intro.mb-24.text-balance{ class: 'max-w-[820px]' }
        The course teaches Coding Fundamentals - the things you need to know to understand the fundamentals of programming.

      .sections
        .section.mb-32
          .flex.flex-row
            .lhs
              %h3.mb-8
                Coding Fundamentals 🧑‍🔬
                .bubble Beginners

              .part-intro.mb-20
                The course focusses on
                %span.rough-highlight.font-medium building rock solid foundations.
                We'll cover all the core concepts in programming and give you tons of exercises and projects to practice with.

              %ul
                %li
                  = image_tag "bootcamp/understanding.svg"
                  .text
                    %strong Build a solid understanding
                    of core programming principles, including flow control, conditionals, data types, functions, and much more, using a beginner-friendly version of JavaScript.
                %li
                  = image_tag "bootcamp/confidence.svg"
                  .text
                    %strong Gain the confidence
                    to put your knowledge into practice, being able to solve a wide variety of problems, using the right concept at the right time.
                %li
                  = image_tag "bootcamp/coders-mind.svg"
                  .text
                    %strong Develop the Coder's Mind.
                    You'll notice that your critical thinking, problem solving, and logic skills are all improving.
                %li
                  = image_tag "bootcamp/build.svg"
                  .text
                    %strong A base to build on
                    Whatever type of programming you want to do, this the base you need, and one you can easily build on.
            .rhs
              .dates.h3-sideheading.relative
                = image_tag "bootcamp/calendar.svg"
                Takes 12-20 weeks
              = image_tag "bootcamp/part-1.png", class: 'w-[350px] -mr-32 -mt-[60px]'

  .lg-container
    #portfolio-subsection.subcontainer.relative
      #portfolio-arrow.arrow-animation
      .flex.flex-col.mb-8{ class: 'lg:flex-row' }
        %h2.mr-auto
          The
          %strong Levels
          of Coding Fundamentals
        .h3-sideheading
          Students normally take 1-2 weeks per level.
      %p.mb-8
        From day one you'll be building fun things. You'll start by drawing, then animating, then making games, then building intelligence into your programs. Every level has lots of fun challenges!
      %p.mb-16
        %strong Here are just a few of the fun things you'll make! 👇

        .levels
          .level
            = image_tag "bootcamp/penguin.png"
            %h4
              In
              %strong level 2
              you get familiar with
              %strong coding basics
              through some drawing puzzles.

          .level
            = image_tag "bootcamp/golf.gif"
            %h4
              In
              %strong level 3
              you'll learn how to
              %strong make things move
              for the first time.

          .level
            = image_tag "bootcamp/flower.gif"
            %h4
              Your first
              %strong major project
              is to
              %strong animate flipbook-style
              using variables and loops.

          .level
            = image_tag "bootcamp/space-invaders.gif"
            %h4
              By
              %strong level 7
              you'll start
              %strong building some intelligence
              into your code.

          .level
            = image_tag "bootcamp/wall.gif"
            %h4
              In
              %strong level 10
              you use
              %strong repeatable chunks
              of code eliminate duplication.

          .level
            = image_tag "bootcamp/wordle.png"
            %h4
              %strong Level 12
              introduces lists, your first
              %strong compound data type,
              and Wordle!

          .level
            = image_tag "bootcamp/tic-tac-toe.gif"
            %h4
              %strong Level 14
              focusses on
              %strong coding mindset
              and solving a hard project.
          .level
            = image_tag "bootcamp/maze.gif"
            %h4
              In
              %strong Level 16
              you unlock
              %strong dictionaries
              making Emoji Collector possible.

          .level

          .level
            = image_tag "bootcamp/dreaming-house.gif"
            %h4
              By
              %strong Level 20
              you're able to build
              %strong complex programs
              with intertwining ideas.

          .level
            = image_tag "bootcamp/breakout.gif"
            %h4
              And by the
              %strong end of the course
              you're building games like
              %strong Breakout!



  .lg-container
    .subcontainer
      #certificate-arrow.arrow-animation
      #certificate-subsection
        .flex.lg:flex-row.flex-col.items-center.gap-0

          .lhs.flex.flex-col.items-start
            .bubble Celebrate your new skills!
            %h3.mb-8 Get a verified certificate
            %p.text-16.mb-12 At the end of the course, we'll issue you an official certificate to recognise your participation and completion of the course.
            %p.text-16 Show off your skills on your resume and in the Certifications section of your LinkedIn profile.

          = image_tag "bootcamp/certificate-arrow.png", class: 'w-[100px] self-middle mt-[100px] mb-10 mr-40 my-10 lg:block hidden'
          .certificate.flex-shrink-0.mt-24.lg:mt-0
            = image_tag "bootcamp/certificate.png", class: 'lg:w-[350px] w-100 rounded-[5px]', style: 'box-shadow: 0 0 20px rgba(0,0,0,0.4)'
        .linkedin
          = image_tag "bootcamp/linkedin.png"
          %span Share your certificate in your network

= render "testimonials", quotes: @quotes

%section#signup-section
  .lhs-bg
  .rhs-bg
  .lg-container
    %h2.text-center.font-normal
      Join the
      %strong.font-semibold Waiting List
    %p.intro.text-balance
      We're be opening up the course starting in January 2026.
      The first 1,000 signups get
      %strong.font-semibold free Premium access
      for the year!

    %hr.mx-auto.mb-20{ class: "border-[#ddd] max-w-[500px]" }

    - if user_signed_in?
      = form_with url: jiki_signup_path, method: :post, class: 'max-w-[650px] mx-auto mt-24 mb-24' do |f|
        #signup-confirmation.text-textColor1{ class: @existing_signup ? "" : "hidden" }
          .mt-24.mb-24.p-24.bg-veryLightGreen.border-2.border-darkSuccessGreen.rounded-8.text-darkSuccessGreen
            %h4.text-center.mb-12.text-22.font-semibold ✅  You're on the waiting list!
            %p.text-center We will email you nearer the time with details. You can use the form below to update your preferences if needed.

        %p.text-18.mb-24
          We'll be opening up the course in tranches based on people's chosen language.
          The more popular the language, the higher we'll prioritise it!
        .mb-28
          = f.label :preferred_locale, "What's your preferred language?", class: 'block mb-8 font-medium text-18'
          .c-select
            = f.select :preferred_locale, @locale_options, { selected: @existing_signup&.preferred_locale || 'en' }

        .mb-20
          = f.label :preferred_programming_language, "Which programming language would you like to learn?", class: 'block mb-8 font-medium text-18'
          .c-select
            = f.select :preferred_programming_language, @programming_language_options, { selected: @existing_signup&.preferred_programming_language }

        = f.submit @existing_signup ? "Update Preferences" : "Join Waiting List", class: 'btn w-full'

    - else
      %p.text-20.mb-24.text-center
        Please sign into Exercism to continue.
      = link_to "Sign In to Exercism", new_user_session_path(return_to: jiki_path), class: "btn mx-auto w-fit block"

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#exercism
  .lg-container
    %h2 What makes Exercism special?
    %p.intro.text-balance
      Exercism is a
      %strong.font-medium longstanding nonprofit
      that's helped over
      %strong.font-medium.whitespace-nowrap 2.5 million people
      level-up their coding skills.
    %ul
      %li
        .emoji 🧑‍💻
        .count 2,500,000
        .title Exercism students
        %p We've grown entirely by word of mouth. Good friends tell their friends about Exercism!

      %li
        .emoji 👏
        .count 85,000
        .title Testimonials
        %p We've been one of the most trusted resources for coding education for over a decade.

      %li
        .emoji 🧩
        .count 47,082,260
        .title Exercises Solved
        %p Our exercises are trusted by the coding community as the perfect way to level up!

      %li
        .emoji 👯
        .count 384,906
        .title Mentoring Sessions
        %p Our unique mentoring program is one of the best ways to get tips from experts!

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#faqs
  .background
  .md-container.relative
    %h2 Frequently Asked Questions
    %p.intro
      These are the questions we get asked the most. Your question not answered here?
      = link_to "Ping us an email!", "mailto:bootcamp@exercism.org"

    .faq
      %h4 How much will this cost? What's the price?
      %p
        All of the videos and exercises on Jiki will be free. There will be Premium and Max options that adds features such as AI-help, an ad-free experience, exclusive live-streams and a extra projects.

    .faq
      %h4 How much time will I need to spend each week on the course?
      %p You can spend as long or as little as you like. We've designed the course so it can be completed in 12-24 weeks by most people spending 5-10 hours per week. But it really comes down to how much time you can put in.

    .faq
      %h4 How hard is the course? How smart do I need to be?
      %p The course is designed to be accessible to everyone, regardless of your background. We don't believe you need to be "smart" to learn to code. But you do need to put in the effort and be willing to be challenged.
      %p But if you put in the effort, ask for help when you get stuck, and embrace the challenge, you'll be amazed at how far you can go in a short time.

    .faq
      %h4 When will Jiki launch?
      %p
        Jiki is launching in January 2026. We'll be letting people in gradually throughout January and February as we add more languages.

    .faq
      %h4 I already signed up to the Bootcamp - is this different?
      %p
        Thanks for being part of the Bootcamp! Jiki is the next stage in the evolution of our Bootcamp. Most of the exercises you solved will appear in Jiki along with lots more. We've also broken down the 3 hour videos into smaller, 5-10 minute chunks to make watching easier!
      %p
        As a member of the Bootcamp, you'll automatically get Jiki Premium for Life. This applies to both the initial Coding Fundamentals course and future courses.

    .faq
      %h4 How will I know when I can access Jiki?
      %p
        We'll email you when it's your turn to access Jiki. Make sure to check your spam folder!
