.action-box.pending
  .action-box-content
    %h3= t('.title', exercise_title: exercise.title)
    .leading-160.text-textColor2.text-16.mb-20
      = t('.description_html', exercise_title: content_tag(:span, exercise.title, class: 'font-semibold'), activate_practice_mode: content_tag(:span, render(ReactComponents::Track::ActivatePracticeMode.new(user_track.track, t('.activate_practice_mode_text'), redirect_to_url: track_exercise_path(user_track.track, exercise))), class: 'inline-block')).html_safe

    .prereqs
      - prereq_exercises = user_track.enabled_exercises(exercise.prerequisite_exercises)
      - prereq_solutions = user_track.solutions.where(exercise_id: prereq_exercises.map(&:id)).index_by(&:exercise_id)
      - prereq_exercises.each do |prereq|
        = render ReactComponents::Common::ExerciseWidget.new(prereq, user_track, solution: prereq_solutions[prereq.id], skinny: true)

= render "tracks/exercises/show/action_box_solve_locked"
= render("tracks/exercises/show/action_box_dig_deeper_locked", exercise:)
= render "tracks/exercises/show/action_box_complete_locked"
= render "tracks/exercises/show/action_box_publish_locked"
