.action-box
  .complete
    %h3 Done with the exercise?
    %p Taken this exercise as far as you want to? Tick it off your list, and optionally publish your solution for the community to learn from.
    = ReactComponents::Student::CompleteExerciseButton.new(current_user, exercise)
    = render ViewComponents::Exercise::UnlockOnCompleteSentence.new(exercise, user_track)

  %h3 Continue #{exercise.title}
  %p
    %strong
      You have submitted
      = link_to pluralize(solution.iterations.size, "iteration"), track_exercise_iterations_path(track, exercise)
      for this exercise.
    - if exercise.concept_exercise?
      Continue improving your solution or mark the exercise as completed to proceed.
    - else
      Continue improving your solution
      - if solution.mentoring_none?
        or #{link_to 'request mentoring', new_track_exercise_mentor_request_path(track, exercise)} to discover new techniques.
      - else
        or mark the exercise as completed.

  - if exercise.has_test_runner?
    %h4 Via Exercism Editor
    = link_to edit_track_exercise_path(track, exercise), class: "editor-btn btn-default btn-m" do
      = graphical_icon :editor
      Continue in editor

  %h4 Work locally (via CLI)
  = ReactComponents::Common::CopyToClipboardButton.new(exercise.download_cmd)

  = render ViewComponents::ProminentLink.new("Learn more about solving exercises locally", Exercism::Routes.solving_exercises_locally_path)

