- track = user_track.track
.join-box
  .icons
    = track_icon track
    = graphical_icon :plus, css_class: "plus"
    = icon :logo, "Exercism"
  %h3
    = t('.title', exercise_title: exercise.title)
  %p.mb-12
    = t('.description_html', track_title: track.title, track_link: link_to(track.title, track_path(track)), num_concepts: user_track.num_concepts, concept_link: (link_to t('.concept_plural', count: user_track.num_concepts), track_concepts_path(track) if track.course?), num_exercises: user_track.num_exercises, exercise_link: link_to(t('.exercise_plural', count: user_track.num_exercises), track_exercises_path(track))).html_safe

  .buttons
    = link_to t('.signup_button'), new_user_registration_path, class: 'btn-primary btn-m'
    = link_to t('.login_button'), new_user_session_path, class: 'btn-secondary btn-m'
