- track = user_track.track
.action-box.join
  .icons
    = track_icon track
    = graphical_icon :plus, css_class: "plus"
    = icon :logo, "Exercism"
  %h3
    Ready to start #{exercise.title}?
  %p
    Sign up to Exercism to learn and master
    = link_to track.title, track_path(track)
    with
    - if user_track.num_concepts.positive?
      #{link_to "#{user_track.num_concepts} #{'concept'.pluralize(user_track.num_concepts)}", track_concepts_path(track)},
    #{link_to "#{user_track.num_exercises} #{'exercise'.pluralize(user_track.num_exercises)}", track_exercises_path(track)},
    and real human mentoring,
    %strong all for free.

  .buttons
    = link_to "Sign up, it’s free!", new_user_registration_path, class: 'btn-primary btn-m'
    = link_to "Log in to Exercism", new_user_session_path, class: 'btn-secondary btn-m'

