.action-box.pending
  .action-box-content.complete
    - if exercise.tutorial?
      %h3= t('.tutorial.title')
      %p.mb-6= t('.tutorial.paragraph_1')
      %p.mb-12= t('.tutorial.paragraph_2')

    - elsif exercise.concept_exercise?
      %h3= t('.concept_exercise.title')
      %p.mb-8= t('.concept_exercise.paragraph_1')
      %p.mb-8= render ViewComponents::Exercise::UnlockOnCompleteSentence.new(exercise, user_track)

    - else
      %h3= t('.general.title')
      %p.mb-8= t('.general.paragraph')

    = ReactComponents::Student::CompleteExerciseButton.new(current_user, exercise)
