- if solution.mentoring_finished?
  - discussion = solution.mentor_discussions.last

  .inner-box.completed
    .inner-box-content
      .text-h6.mb-2= t('.code_review_finished.title')
      %p
        = t('.code_review_finished.description_html', mentor_handle: discussion.mentor.handle, link: link_to(t('code_review_finished.link_text'), track_exercise_mentor_discussions_path(track, exercise), class: 'text-linkColor border-b-1')).html_safe

- elsif solution.mentoring_in_progress?
  - discussion = solution.in_progress_mentor_discussion
  .inner-box.in-progress
    .inner-box-content
      .text-h6.mb-2= t('.code_review_in_progress.title')
      - if discussion.mentor_finished? || discussion.timed_out?
        %p.mb-8= t('.code_review_in_progress.mentor_finished_description', mentor_handle: discussion.mentor.handle)
        = link_to t('.code_review_in_progress.finish_discussion_button'), track_exercise_mentor_discussion_path(track, exercise, discussion), class: 'btn-s btn-secondary self-start'
      - elsif discussion.awaiting_mentor?
        %p
          = t('.code_review_in_progress.awaiting_mentor_description', mentor_handle: discussion.mentor.handle)
          = succeed('.') do
            = link_to t('.code_review_in_progress.go_to_code_review_link'), track_exercise_mentor_discussion_path(track, exercise, discussion), class: 'text-linkColor border-b-1'
      - else
        %p.mb-8
          = t('.code_review_in_progress.your_turn_description_html').html_safe
        = link_to t('.code_review_in_progress.go_to_code_review_button'), track_exercise_mentor_discussion_path(track, exercise, discussion), class: 'btn-s btn-secondary self-start'

- elsif solution.mentoring_requested?
  .inner-box.in-progress
    .inner-box-content
      .text-h6.mb-2= t('.code_review_requested.title')
      %p.mb-8
        = t('.code_review_requested.description')
        = link_to t('.code_review_requested.view_mentoring_request_link'), track_exercise_mentor_request_path(track, exercise), class: "text-linkColor border-b-1"

- elsif solution.mentoring_none?
  .inner-box.pending
    .inner-box-content
      .text-h6.mb-2= t('.request_code_review.title')
      %p.mb-8= t('.request_code_review.description')
      = link_to t('.request_code_review.button'), new_track_exercise_mentor_request_path(track, exercise), class: 'btn-s btn-secondary self-start'
