.action-box.join
  .icons= track_icon user_track.track
  %h3
    Ready to start #{exercise.title}?
  %p
    Join the #{user_track.track.title} track with
    = link_to "#{user_track.num_concepts} concepts", track_concepts_path(user_track.track)
    and
    = link_to "#{user_track.num_exercises} exercises", track_exercise_path(user_track.track)
    ready for you to dig into!

  .buttons
    = button_to "Join the #{user_track.track.title} track", join_track_path(user_track.track), method: :post, class: "btn-primary btn-m"
    = link_to "See all #{user_track.track.title} exercises", track_exercise_path(user_track.track), class: 'btn-secondary btn-m'
