.action-box.pending
  .action-box-content
    %h3
      = solution ? t('.solve_button') : t('.start_button')
      = exercise.title

    %p.mb-20
      - if solution
        %strong= t('.continue_work')
      - else
        %strong= t('.available_to_start')
      = t('.solve_description')

    - if exercise.has_test_runner?
      %h4= t('.via_editor_heading')
      = link_to edit_track_exercise_path(track, exercise), class: "editor-btn btn-primary btn-m" do
        = graphical_icon :editor
        = t('.start_in_editor_button')

    %h4= t('.work_locally_heading')
    - unless current_user.recently_used_cli?
      = render ReactComponents::Common::CLIWalkthroughButton.new(current_user)

    = ReactComponents::Common::CopyToClipboardButton.new(exercise.download_cmd)

    = render ViewComponents::ProminentLink.new(t('.learn_more_link'), Exercism::Routes.solving_exercises_locally_path)
