- if solution.published?
  .action-box.completed
    .action-box-content
      %h3= t('.exercise_published.title')
      .publish-section
        = t('.exercise_published.description')
        = render ReactComponents::Student::ChangePublishedIterationModalButton.new(solution, t('.exercise_published.change_published_iteration_button'))
        = t('.exercise_published.or_text')
        = render ReactComponents::Student::UnpublishSolutionModalButton.new(solution, t('.exercise_published.unpublish_solution_button'))
        = render ReactComponents::Common::CommunitySolution.new(solution, context: :exercise)

- else
  .action-box.completed
    .action-box-content
      %h3= t('.exercise_completed.title')
      %p
        = t('.exercise_completed.description')

  .action-box.pending
    .action-box-content
      %h3= t('.publish_exercise.title')
      %p.mb-4= t('.publish_exercise.description')
      = render ReactComponents::Student::PublishSolutionButton.new(solution)
