.action-box.join
  .icons
    = track_icon user_track.track
    = graphical_icon :plus, css_class: "plus"
    = icon :logo, "Exercism"
  %h3
    Ready to start #{exercise.title}?
  %p
    Sign up to Exercism to learn and master
    = link_to user_track.track.title, track_path(user_track.track)
    with
    #{link_to "#{user_track.num_concepts} concepts", track_concepts_path(user_track.track)},
    #{link_to "#{user_track.num_exercises} exercises", track_exercise_path(user_track.track)},
    and real human mentoring,
    %strong all for free.

  .buttons
    = link_to "Sign up, it’s free!", new_user_registration_path, class: 'btn-primary btn-m'
    = link_to "Log in to Exercism", new_user_session_path, class: 'btn-secondary btn-m'

