.action-box.pending
  .action-box-content
    %h3 Unlock #{exercise.title}
    %p.mb-20
      This exercise is currently unavailable for you to start. Complete
      %strong "Hello, World!"
      to unlock this exercise.

    - if track.tutorial_exercise
      = render ReactComponents::Common::ExerciseWidget.new(track.tutorial_exercise, user_track)

= render "tracks/exercises/show/action_box_solve_locked"
= render("tracks/exercises/show/action_box_dig_deeper_locked", exercise:)
= render "tracks/exercises/show/action_box_complete_locked"
= render "tracks/exercises/show/action_box_publish_locked"
