.action-box
  %h3 Continue #{exercise.title}
  %p You have submitted #{5 * 1} iterations for this exercise. Either continue improving your solution or mark the exercise as completed to proceed.

  %h4 Via Exercism Editor
  = link_to start_track_exercise_path(@track, @exercise), method: :patch, class: "editor-btn btn" do
    = graphical_icon :editor
    Continue in Editor

  %h4 Work locally (via CLI)
  = ReactComponents::Common::CopyToClipboardButton.new("exercism download --exercise=pattern")

  = render ViewComponents::ProminentLink.new("Learn more about solving exercises locally", "#")

  .complete
    %h3 Done with the exercise?
    = ReactComponents::Student::CompleteExerciseButton.new(current_user, exercise)
    .explanation By marking #{'Structs' * 1} as complete, you’ll unlock the concepts #{'Agent and Errors' * 1}.
