%section.completed-heading
  = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
  .text You've completed #{exercise.title}.
  = ViewComponents::ProminentLink.new("Discover more exercises", track_exercises_path(track))

- if exercise.concept_exercise?
  %section.completed-info
    %h3 You’ve learnt #{pluralize exercise.taught_concepts.size, 'concept'} by completing this exercise.
    .concepts
      - exercise.taught_concepts.each do |concept|
        = link_to track_concept_path(track, concept), class: 'concept' do
          .concept-icon= concept.name[0, 2]
          = concept.name

    = ViewComponents::ProminentLink.new("See how your concept map has changed", track_concepts_path(track))
    .explanation
      To master the concepts, you can try completing more exercises for them. Or, you can continue to broaden your knowledge and #{link_to 'explore new concepts', track_concepts_path(track)}.

%section.latest-iteration
  %h2 Your latest iteration

  = link_to Exercism::Routes.track_exercise_iteration_path(track, exercise, iteration), class: "iteration" do
    = ViewComponents::Track::IterationSummary.new(iteration)
    = graphical_icon 'chevron-right', css_class: 'action-icon'

  = ViewComponents::ProminentLink.new("See all of your iterations", track_concepts_path(track))
