.lg-container.flex.flex-col.lg:flex-row
  %section.lg:mr-32.flex-grow
    = render("tracks/exercises/show/instructions", track:, exercise:, solution: nil)
  .flex-shrink-0.mb-32.lg:mb-0.lg:w-1-3
    - if user_signed_in?
      = render("tracks/exercises/show/action_box_join_track", exercise:, user_track:)
    - else
      = render("tracks/exercises/show/action_box_join_exercism", exercise:, user_track:)

    - deep_dive_youtube_id = exercise.deep_dive_youtube_id
    - if deep_dive_youtube_id.present?
      .mt-32.bg-backgroundColorA.shadow-lg.rounded-8.px-20.lg:px-32.py-20.lg:py-24
        .text-h4.mb-4 Deep Dive into #{exercise.title}!
        %p.text-p-large.mb-16= exercise.deep_dive_blurb
        %div{ class: 'w-[100%]' }
          = render ReactComponents::Common::YoutubePlayer.new(deep_dive_youtube_id, 'exercise#external')
