%section.instructions.c-textual-content.--large.px-20.lg:px-32.py-20.lg:py-24
  - introduction = solution ? solution.introduction : exercise.introduction
  - if introduction.present?
    .border-b-1.border-borderColor5{ class: "!pb-8 !mb-32" }
      %h2 Introduction
      .mb-32= raw Markdown::Parse.(introduction)

  - if exercise.tutorial?
    %h2 Introduction
    %section{ class: "!mb-24" }
      %p.mb-12
        “Hello, World!” will get you writing some #{track.title} and familiarize yourself with the Exercism workflow.
        %strong Completing it unlocks the rest of the #{track.title} Track.
      %p.mb-20
        Watch our "Introduction to Hello, World" video to get started 👇

      = vimeo_embed("853440496?h=6abbdfc68f")

  %h2 Instructions
  - instructions = solution ? solution.instructions : exercise.instructions
  = raw Markdown::Parse.(instructions)

  - if exercise.source.present? || exercise.source_url.present?
    .source
      %hr.c-divider.--small
      %h3 Source
      - source = solution ? solution.source : exercise.source
      - source_url = solution ? solution.source_url : exercise.source_url
      - if source.present? && source_url.present?
        = external_link_to source, source_url
      - elsif source.present?
        = source
      - else
        Explore the #{external_link_to 'source of this exercise', source_url}.

%section.extra-info
  = render ReactComponents::Track::ExerciseMakersButton.new(exercise)

  = link_to "https://github.com/exercism/#{track.slug}/tree/main/exercises/#{exercise.git_type}/#{exercise.slug}", target: "_blank", rel: 'noreferrer' do
    = graphical_icon "external-site-github", css_class: "github-icon"
    %span Edit via GitHub
    = icon "external-link", "The link opens in a new window or tab", css_class: "action-icon"


