= render("tracks/exercises/show/action_box_pending", track:, exercise:)
= render "tracks/exercises/show/action_box_community_solutions_locked"
= render("tracks/exercises/show/action_box_approaches_locked", exercise:)
= render "tracks/exercises/show/action_box_mentoring_locked"
= render "tracks/exercises/show/action_box_complete_locked"
= render "tracks/exercises/show/action_box_publish_locked"



