%section.taught-concepts
  %h3.mb-4 Exercise Learning goals
  %p.text-p-base.mb-12
    While completing #{exercise.title}, you'll learn
    = succeed(":") do
      %strong= pluralize exercise.taught_concepts.size, 'concept'
  .concepts
    - exercise.taught_concepts.each.each do |concept|
      = link_to track_concept_path(track, concept), class: 'concept' do
        = render ViewComponents::ConceptIcon.new(concept, :small)
        = concept.name
