- content_for :meta_title, "Community solutions for #{@exercise.title} in #{@track.title} on Exercism"
- content_for :meta_description, "Explore other people's solutions to #{@exercise.title} in #{@track.title}, and learn how others have solved the exercise.".html_safe

#page-community-solutions-index
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :community_solutions)
  = render ReactComponents::Track::ExerciseCommunitySolutionsList.new(@exercise, params)
