#page-community-solution
  .c-exercise-header
    .breadcrumbs
      .lg-container.container
        = link_to tracks_path do
          = graphical_icon 'tracks', hex: true
          .span Tracks
        .seperator /
        = link_to @track do
          = track_icon @track
          .span= @track.title
        .seperator /
        = link_to "Exercises", track_exercises_path(@track)
        .seperator /
        = link_to @exercise.title, track_exercise_path(@track, @exercise)
        .seperator /
        = link_to "Community Solutions", track_exercise_community_solutions_path(@track, @exercise)
        .seperator /
        .exercise-title #{@author.handle}'s solution

    .content.lg-container.container
      = track_icon @track
      = avatar @author
      %h1
        .name
          #{@author.handle}'s solution
          = render ViewComponents::Reputation.new(@author.reputation, size: :small, flashy: true)
        .to
          to
          = link_to @exercise.title, track_exercise_path(@track, @exercise)
          in
          = link_to @track.title, @track

      .decorations
      .buttons
        %button.share-button
          .inner
            = graphical_icon "share-with-gradient"
            Share

        = render ReactComponents::CommunitySolutions::StarButton.new(@solution)

        %button.comments-button
          = icon "comment", "Number of comment"
          %span= @solution.num_comments

  %article.lg-container.container
    .lhs
      .iteration-section
        = render ReactComponents::Common::SolutionView.new(@solution)

      - if @mentor_discussions.present?
        .mentoring
          .inner
            .c-faces.--static
              - @mentor_discussions.each do |discussion|
                .face= avatar discussion.mentor
            .info
              .mentors
                Mentored by
                %strong= @mentor_discussions.map { |d| d.mentor.handle }.to_sentence
              .more
                = graphical_icon "info-circle"
                What is this?

            = render ViewComponents::Reputation.new("+5", size: :small, flashy: true)

    .rhs
      .about
        %h2
          About the
          = track_icon @track
          = @track.title
          Exercise
        = render ReactComponents::Common::ExerciseWidget.new(@exercise, @user_track, size: :medium)

      .other-solutions
        %h2
          Other solutions to
          = @exercise.title
          .light in
          = track_icon @track
          .track-title= @track.title

        - @other_solutions.each do |solution|
          = render ReactComponents::Common::CommunitySolution.new(solution, context: :exercise)

        = render ViewComponents::ProminentLink.new("Explore other solutions to this exercise", track_exercise_community_solutions_path(@track, @exercise))
