- content_for :meta_title, "#{sanitize(@solution.user.handle)}'s solution for #{@exercise.title} in #{@track.title} on Exercism".html_safe
- content_for :meta_description, "Learn from how #{@solution.user.handle} solved #{@exercise.title} in #{@track.title}, and learn how others have solved the exercise."

#page-community-solution
  .c-exercise-header
    .c-track-breadcrumbs
      .lg-container.container
        = link_to tracks_path do
          = graphical_icon 'tracks', hex: true
          .span Tracks
        .seperator /
        = link_to @track do
          = track_icon @track
          .span= @track.title
        .seperator /
        = link_to "Exercises", track_exercises_path(@track)
        .seperator /
        = link_to @exercise.title, track_exercise_path(@track, @exercise)
        .seperator /
        = link_to "Community Solutions", track_exercise_solutions_path(@track, @exercise)
        .seperator /
        .exercise-title #{@own_solution ? 'Your' : "#{@author.handle}'s"} solution

    .content.lg-container.flex.flex-col.lg:flex-row.lg:items-center
      = track_icon @track
      .flex.items-start.sm:items-center
        .avatar.mr-16.sm:mr-32
          - if @author.profile
            = link_to avatar(@author), profile_path(@author)
          - else
            = avatar(@author)

        %h1
          .name
            - if @own_solution
              Your
            - elsif @author.profile
              = link_to "#{@author.handle}'s", profile_path(@author)
            - else
              #{@author.handle}'s
            solution
            = render ViewComponents::Reputation.new(@author.formatted_reputation, size: :small, flashy: true)
          .to
            to
            = link_to @exercise.title, track_exercise_path(@track, @exercise)
            in
            = link_to @track.title, @track

      .decorations.hidden.lg:block
      .buttons.lg:ml-96.mt-24.lg:mt-0
        = render ViewComponents::CommunitySolutions::ShareSolutionButton.new(@solution)

        = render ReactComponents::CommunitySolutions::StarButton.new(@solution)

        - if @solution.allow_comments?
          = link_to "#comments", "data-turbolinks": "false", class: 'comments-button btn-enhanced btn-s' do
            = icon "comment", "Number of comment"
            %span= @solution.num_comments

  %article.lg-container.container.flex.flex-col.lg:flex-row.items-stretch
    .lhs.mb-40.lg:mb-0.lg:w-arbitary
      .iteration-section
        = render ReactComponents::Common::SolutionView.new(@solution)

      - if @mentor_discussions.present?
        .mentoring
          .inner
            .c-faces.--static
              - @mentor_discussions.each do |discussion|
                .face= avatar discussion.mentor
            .info
              .mentors
                Mentored by
                %strong= @mentor_discussions.map { |d| d.mentor.handle }.to_sentence
              = link_to doc_path(:using, 'feedback'), class: 'more' do
                = graphical_icon "info-circle"
                What is this?

            = render ViewComponents::Reputation.new("+5", size: :small, flashy: true)

      %a{ name: "comments" }
      = render ReactComponents::CommunitySolutions::CommentsList.new(@solution)

    .rhs.lg:ml-48
      .about
        %h2
          About the
          = track_icon @track
          = @track.title
          Exercise
        = render ReactComponents::Common::ExerciseWidget.new(@exercise, @user_track, render_track: false, render_blurb: false)

      .other-solutions
        %h2
          Other solutions to
          = @exercise.title
          .light in
          = track_icon @track
          .track-title= @track.title

        - @other_solutions.each do |solution|
          = render ReactComponents::Common::CommunitySolution.new(solution, context: :exercise)

        = render ViewComponents::ProminentLink.new("Explore other solutions to this exercise", track_exercise_solutions_path(@track, @exercise))
