-# rubocop:disable Lint/LiteralAsCondition
#page-bootcamp-project
  %header
    .c-breadcrumbs
      .lg-container.container
        = link_to bootcamp_projects_path do
          = graphical_icon 'bootcamp-projects'
          .span= t('.breadcrumbs.projects')
        .seperator /

        .title= @project.title

    .lg-container
      .project-bar
        = image_tag @project.icon_url, width: 64, height: 64
        .flex.flex-col.gap-4
          %h1= @project.title
          .tags
            .tag.completed= t('.project_bar.completed_tag')

      -#
        - if @project.concepts.any?
          .flex
            - @project.concepts.each do |concept|
              = link_to concept.title, concept, class: 'bubble'

  .lg-container
    .introduction.c-prose.pb-40{ class: "max-w-[800px]" }
      = raw @project.introduction_html

    - num_completed = @project.exercises.to_a.count { |exercise| @solutions[exercise.id]&.completed? }
    - num_unlocked = @project.exercises.to_a.count(&:unlocked?)
    %h2.font-semibold.text-24.mb-4= t('.exercises.title')
    %p.text-18.leading-150.mb-16
      = t('.exercises.description', num_completed: num_completed, num_unlocked: num_unlocked)
    .exercises.grid.grid-cols-3.gap-16.mb-40
      - @project.exercises.unlocked.each do |exercise|
        = render ViewComponents::Bootcamp::ExerciseWidget.new(exercise, solution: @solutions[exercise.id], user_project: @user_project)

    - if false # @project.slug == "drawing"
      %h2= t('.your_drawings.title')
      %p= t('.your_drawings.description')
      .grid.grid-cols-3
        - current_user.bootcamp_drawings.each do |drawing|
          = link_to edit_bootcamp_drawing_path(drawing), class: 'drawing' do
            = drawing.uuid
            -# = image_tag drawing.image_url, width: 200, height: 200
        = button_to bootcamp_drawings_path, method: :post, class: "drawing new" do
          = t('.your_drawings.new_drawing_button')
-# rubocop:enable Lint/LiteralAsCondition
