.lg-container.container
  %section.iterations
    - iterations.each do |iteration|
      .iteration
        .header
          = ReactComponents::Track::IterationSummary.new(iteration)
        .content
          .files
            %pre
              %code
                / TODO: 🤮
                = iteration.submission.files.first.content
          .automated-feedback
            - case iteration.automated_feedback_status
            - when :pending
              .automated-feedback-pending
                = graphical_icon :spinner
                %h3 We’re analysing your code for suggestions
                %p This usually takes 10-30 seconds.

            - when :present
              .automated-feedback-present
                - feedback = iteration.automated_feedback
                .comment
                  .text= raw feedback[:html]
                  .byline
                    = rounded_bg_img(feedback[:author][:avatar_url], "Erik SchierBOOM's uploaded avatar")
                    %span
                      by
                      = link_to feedback[:author][:name], feedback[:author][:profile_url]
                    - if feedback[:author][:reputation]
                      = render ViewComponents::Reputation.new(feedback[:author][:reputation])
            - else
              .automated-feedback-absent

