.c-admin-page
  .lg-container
    %h1.text-h1.mb-8= t('.title')

    %ul.links
      %li
        = link_to t('.links.community_videos'), admin_community_videos_path
      %li
        = link_to t('.links.donors'), admin_donors_path
      %li
        = link_to t('.links.mailshots'), admin_mailshots_path
      %li
        = link_to t('.links.streaming_events'), admin_streaming_events_path
      %li
        = link_to t('.links.users'), admin_users_path
