.c-admin-page
  .lg-container
    %h1.text-h1.mb-8 Admin

    %ul.links
      %li
        = link_to "Community Videos", admin_community_videos_path
      %li
        = link_to "Donors", admin_donors_path
      %li
        = link_to "Mailshots", admin_mailshots_path
      %li
        = link_to "Streaming Events", admin_streaming_events_path
      %li
        = link_to "Users", admin_users_path
