.text-center.flex.flex-col.items-center.items-stretch.pt-32.px-24
  %h2.text-h3.mb-8= t('.title')
  %p.text-p-base.font-semibold.mb-8
    = t('.subtitle')
  %p.text-p-base.mb-16
    = t('.description_p1')
    = t('.description_p2')

  = link_to t('.explore_button'), challenge_path("48in24"), class: 'btn-primary btn-s mb-12'

  %p.text-p-small.mb-8
    = t('.feature_info')
