.flex.flex-col.items-center.items-stretch.pt-20.px-24
  %h2.text-h3.mb-4 Coding Fundamentals
  %p.text-p-base.font-semibold.mb-12
    Video tutorials. Fun projects. Fair pricing.
  %p.text-p-base.mb-8
    A course designed to give you rock-solid programming fundamentals.
    %strong Totally new?
    Stuck in
    %strong "Tutorial Hell"?
    If you've been coding for under a year, this course is perfect for you.
  %p.text-p-base.mb-4
    In 12 weeks you'll go from zero to making...

  .grid.grid-cols-4.gap-10.my-16
    = image_tag "bootcamp/space-invaders.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
    = image_tag "bootcamp/tic-tac-toe.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
    = image_tag "bootcamp/breakout.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
    = image_tag "bootcamp/maze.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"

  = link_to "Explore Coding Fundamentals", Exercism::Routes.bootcamp_url, class: 'btn-primary btn-s'
