#journey-view
  .journey-contents
    .content
      = graphical_icon "reputation"
      %span= t('.reputation_label')
    .content
      = graphical_icon "badges"
      %span= t('.badges_label')
    .content
      = graphical_icon "code-history"
      %span= t('.history_label')
    .content
      %span= t('.and_more_label')
