- content_for :meta_title, t('.meta_title', track_title: @track.title)
- content_for :meta_description, t('.meta_description', num_concepts: @user_track.num_concepts, track_title: @track.title)
- content_for :canonical_url, track_concepts_url(@track)
- require_stylesheet "track"

#page-concepts-index
  = render ViewComponents::Track::Header.new(@track, :concepts)

  %article.content
    - if @user_track.external?
      .md-container.container.hidden.lg:block
        %section.external-cta
          = track_icon(@track)
          .info
            %h2= t('.external_cta.title', num_concepts: @user_track.num_concepts, track_title: @track.title)
            %p
              = t('.external_cta.description')

          = button_to join_track_path(@track), method: :post, class: "btn-primary btn-m" do
            = graphical_icon(:plus)
            = t('.external_cta.join_button', track_title: @track.title)

    %header.page-header
      .lg-container.container.flex-col.sm:flex-row
        = graphical_icon "forest", css_class: 'graphic', category: 'graphics'
        .info.text-center.sm:text-left
          %h1= t('.page_header.title', track_title: @track.title)
          %p= t('.page_header.description', track_title: @track.title)

    %section.concepts
      .lg-container.container
        = ReactComponents::Student::ConceptMap.new(@concept_map_data)
