#page-concepts-index
  = render ViewComponents::Track::TopLevelNav.new(@track, :concepts)

  %article.content
    - if @user_track.external?
      .md-container.container
        %section.external-cta
          = track_icon(@track)
          .info
            %h2 Master #{@track.concepts.count} key concepts in #{@track.title}
            %p
              All the concepts covered are explained in the context of language-specific paradigms and conventions.

          = button_to join_track_path(@track), method: :post, class: "btn-cta" do
            = graphical_icon(:plus)
            Join The #{@track.title} Track

    %header.page-header
      .lg-container.container
        = graphical_icon "forest", css_class: 'graphic', category: 'graphics'
        .info
          %h1 Your journey through #{@track.title}
          %p Learn and master concepts to achieve fluency in #{@track.title}.

    %section.concepts
      .lg-container.container
        = ReactComponents::Student::ConceptMap.new(@concept_map_data)
