- concept_meta_tags(@concept, @user_track)
- require_stylesheet "track"

- advert = Partner::Advert.for_track(@track)
- advert = nil unless advert&.show_to?(current_user)

#page-concept-show{ class: advert ? "has-advert" : nil }
  .lg-container.relative.z-1
    - if advert
      = render ViewComponents::Partner::Advert.new(advert:)

  %header.concept-header
    .c-track-breadcrumbs
      .lg-container.container
        = link_to tracks_path do
          = graphical_icon 'tracks', hex: true
          .span= t('.header.breadcrumbs.tracks')
        .seperator /
        = link_to @track do
          = track_icon @track
          .span= @track.title
        .seperator /
        = link_to t('.header.breadcrumbs.syllabus'), track_concepts_path(@track)
        .seperator /
        .exercise-title= @concept.name

    .lg-container.container.relative
      = render ViewComponents::ConceptIcon.new(@concept, :huge)
      .info
        %h1
          = @concept.name
          %small= t('.header.concept_info.in')
          = track_icon(@track)
        .exercises
          = graphical_icon(:exercises)
          = t('.header.concept_info.exercises_count', count: @user_track.num_exercises_for_concept(@concept))

      -#
        - unless @user_track.external?
          .rhs.progress
            .progress-text{ class: @user_track.concept_mastered?(@concept) ? 'completed' : '' }
              #{@user_track.num_completed_exercises_for_concept(@concept)}/#{@user_track.num_exercises_for_concept(@concept)}
              = 'exercise'.pluralize(@user_track.num_exercises_for_concept(@concept))
              completed
            .progress-exercises
              - @concept_exercises.each do |exercise|
                = render ReactComponents::Student::ExerciseStatusDot.new(exercise, @user_track)
              - @practice_exercises.each do |exercise|
                = render ReactComponents::Student::ExerciseStatusDot.new(exercise, @user_track)

  .lg-container
    - if @user_track.concept_mastered?(@concept)
      %section.mastered-heading
        = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
        .text= t('.mastered_heading.text', concept_name: @concept.name, track_title: @track.title)
        = render ViewComponents::ProminentLink.new(t('.mastered_heading.explore_link'), track_concepts_path(@track))

    .flex.flex-col.xl:flex-row
      .flex-grow.xl:w-arbitary.xl:mr-48.mb-32.xl:mb-0
        %section.about.px-20.xl:px-32.py-20.xl:py-24
          .c-textual-content.--large
            %h2= t('.about.title', concept_name: @concept.name)
            - if @user_track.external? || @user_track.concept_learnt?(@concept)
              = raw Markdown::Parse.(@concept.about)
            - else
              = raw Markdown::Parse.(@concept.introduction)

          - if @concept.links.present?
            .links
              %h3= t('.about.learn_more_links.title')
              %ul
                - @concept.links.each do |link|
                  %li
                    = link_to link.url do
                      %span= link.description
                      = icon('external-link', t('.about.learn_more_links.external_link_aria_label'))
        %section.extra-info
          = render ReactComponents::Track::ConceptMakersButton.new(@concept)

          = link_to "https://github.com/exercism/#{@track.slug}/tree/main/concepts/#{@concept.slug}", target: "_blank", rel: 'noreferrer' do
            = graphical_icon "external-site-github", css_class: "github-icon"
            %span= t('.extra_info.edit_via_github')
            = icon "external-link", t('.extra_info.github_link_aria_label'), css_class: "action-icon"

      .rhs.flex-shrink-0
        - if @user_track.concept_learnt?(@concept)
          = render "tracks/concepts/show/learnt", concept: @concept, user_track: @user_track, concept_exercises: @concept_exercises, practice_exercises: @practice_exercises, solutions: @solutions
        - elsif @concept_exercises.present?
          = render "tracks/concepts/show/learn", concept: @concept, user_track: @user_track, concept_exercises: @concept_exercises, practice_exercises: @practice_exercises, solutions: @solutions
