#page-concept-show
  = render ViewComponents::Track::ConceptNav.new(@track)

  %header.concept-header
    .lg-container.container
      = render ViewComponents::ConceptIcon.new(@concept, :huge)
      .info
        %h1
          = @concept.name
          %small in
          = track_icon(@track)
        .exercises
          = graphical_icon(:exercises)
          5 exercises
      .progress.tw-w-5-7

        = render ViewComponents::ConceptProgressBar.new(@concept, @user_track_summary)
        .progress-text{ class: @concept_summary.mastered? ? 'completed' : '' }
          = graphical_icon "completed-check-circle"
          #{@concept_summary.num_completed_exercises}/#{@concept_summary.num_exercises}
          = 'exercise'.pluralize(@concept_summary.num_exercises)
          completed

  %section.lg-container.tw-flex
    .tw-flex-grow.tw-w-arbitary
      .about.c-textual-content
        %h2 About #{@concept.name}
        = raw ParseMarkdown.(@concept.about)

      .links
        %h3 Learn More
        - if @concept.links.present?
          %ul
            - @concept.links.each do |link|
              %li
                = link_to link.url do
                  = bg_img("https://c.s-microsoft.com/favicon.ico?v2", "Favicon of linked website")
                  = link.description
                  = icon(:external_link, "(external link)")
        - else
          / TODO: Remove this from launch
          TODO: Add some links.

    .tw-w-5-7.tw-flex-shrink-0.tw-ml-spacedColumns

      - if @concept_exercises.present?
        .learn
          %h3
            = graphical_icon(:concepts)
            Learn #{@concept.name}

          .exercises
            - @concept_exercises.each do |concept_exercise|
              = render ViewComponents::Widgets::Exercise.new(concept_exercise, @user_track_summary)

      - if @practice_exercises.present?
        .practice
          Practice this:

          .exercises
            - @practice_exercises.each do |practice_exercise|
              = render ViewComponents::Widgets::Exercise.new(practice_exercise, @user_track_summary)
