- concept_meta_tags(@concept, @user_track)
- require_stylesheet "track"

#page-concept-show
  %header.concept-header
    .c-track-breadcrumbs
      .lg-container.container
        = link_to tracks_path do
          = graphical_icon 'tracks', hex: true
          .span Tracks
        .seperator /
        = link_to @track do
          = track_icon @track
          .span= @track.title
        .seperator /
        = link_to "Syllabus", track_concepts_path(@track)
        .seperator /
        .exercise-title= @concept.name

    .lg-container.container.relative
      = render ViewComponents::ConceptIcon.new(@concept, :huge)
      .info
        %h1
          = @concept.name
          %small in
          = track_icon(@track)
        .exercises
          = graphical_icon(:exercises)
          = pluralize @user_track.num_exercises_for_concept(@concept), "exercise"

      .absolute{ style: 'right: var(--container-padding-x)', class: 'z-[10] top-[-31px]' }
        = render ViewComponents::Partner::Advert.new(track: @track)
      -#
        - unless @user_track.external?
          .rhs.progress
            .progress-text{ class: @user_track.concept_mastered?(@concept) ? 'completed' : '' }
              #{@user_track.num_completed_exercises_for_concept(@concept)}/#{@user_track.num_exercises_for_concept(@concept)}
              = 'exercise'.pluralize(@user_track.num_exercises_for_concept(@concept))
              completed
            .progress-exercises
              - @concept_exercises.each do |exercise|
                = render ReactComponents::Student::ExerciseStatusDot.new(exercise, @user_track)
              - @practice_exercises.each do |exercise|
                = render ReactComponents::Student::ExerciseStatusDot.new(exercise, @user_track)

  .lg-container
    - if @user_track.concept_mastered?(@concept)
      %section.mastered-heading
        = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
        .text You've mastered #{@concept.name} in #{@track.title}.
        = render ViewComponents::ProminentLink.new("Explore more concepts", track_concepts_path(@track))

    .flex.flex-col.xl:flex-row
      .flex-grow.xl:w-arbitary.xl:mr-48.mb-32.xl:mb-0
        %section.about.px-20.xl:px-32.py-20.xl:py-24
          .c-textual-content.--large
            %h2 About #{@concept.name}
            - if @user_track.external? || @user_track.concept_learnt?(@concept)
              = raw Markdown::Parse.(@concept.about)
            - else
              = raw Markdown::Parse.(@concept.introduction)

          - if @concept.links.present?
            .links
              %h3 Learn More
              %ul
                - @concept.links.each do |link|
                  %li
                    = link_to link.url do
                      %span= link.description
                      = icon('external-link', "(external link)")
        %section.extra-info
          = render ReactComponents::Track::ConceptMakersButton.new(@concept)

          = link_to "https://github.com/exercism/#{@track.slug}/tree/main/concepts/#{@concept.slug}", target: "_blank", rel: 'noreferrer' do
            = graphical_icon "external-site-github", css_class: "github-icon"
            %span Edit via GitHub
            = icon "external-link", "The link opens in a new window or tab", css_class: "action-icon"

      .rhs.flex-shrink-0
        - if @user_track.concept_learnt?(@concept)
          = render "tracks/concepts/show/learnt", concept: @concept, user_track: @user_track, concept_exercises: @concept_exercises, practice_exercises: @practice_exercises, solutions: @solutions
        - elsif @concept_exercises.present?
          = render "tracks/concepts/show/learn", concept: @concept, user_track: @user_track, concept_exercises: @concept_exercises, practice_exercises: @practice_exercises, solutions: @solutions
