.header
  = render ViewComponents::ConceptIcon.new(@concept, :large)
  .summary
    .title
      .name= @concept.name
      .in= t('.summary.in')
      = track_icon(@track)
    .num-exercises
      - if @locked
        = t('.summary.exercises_locked', count: @exercises.length)
      - else
        = t('.summary.exercises_completed', num_completed: @num_completed_exercises, num_total: @exercises.size, count: @exercises.size)
  - unless @user_track.external?
    - if @locked
      .c-exercise-status-tag.--locked= t('.status_tag.locked')
    - elsif @mastered
      .c-exercise-status-tag.--completed= t('.status_tag.mastered')

.blurb= @concept.blurb

- unless @user_track.external?
  - if @locked
    .info.locked
      .icon= graphical_icon :lock
      - if @user_track.tutorial_exercise_completed?
        = t('.info.locked_prerequisite', prerequisite_names: @prerequisite_names.to_sentence)
      - else
        = t('.info.locked_tutorial')
  - elsif @mastered
    .info.mastered
      = graphical_icon 'completed-check-circle'
      = t('.info.mastered', concept_name: @concept.name)
  - elsif @learnt
    .info.learnt
      .icon= graphical_icon 'learn-concept'
      = t('.info.learnt', concept_name: @concept.name)
  - else
    .info.available
      .icon.c-ed.--available.--concept.disabled.shrink-0
      = t('.info.available', concept_name: @concept.name)

= link_to Exercism::Routes.track_concept_path(@track, @concept), class: 'explore-concept-button btn-xs btn-secondary mt-16' do
  = t('.explore_button')
