.c-concept-tooltip
  .heading
    = render ViewComponents::ConceptIcon.new(@concept, :large)
    .summary
      .title
        .name= @concept.name
        .in in
        = track_icon(@track)
      .num-exercises= pluralize(@concept_summary.num_exercises, "exercise")

  .blurb= @concept.blurb

  - if @concept_summary.mastered?
    - num_exercises = @concept_summary.num_exercises
    .mastered
      .summary
        = graphical_icon "completed-check-circle"
        #{num_exercises}/#{num_exercises} #{'exercise'.pluralize(num_exercises)}
        completed
      = render ViewComponents::ConceptProgressBar.new(@concept, @user_track_summary)
      .info You’ve mastered #{@concept.name}. Well done!
