.heading
  = render ViewComponents::ConceptIcon.new(@concept, :large)
  .summary
    .title
      .name= @concept.name
      .in in
      = track_icon(@track)
    .num-exercises= pluralize(@exercises.length, "exercise")

.blurb= @concept.blurb

- if @user_track.concept_unlocked?(@concept)
  .exercises-section
    %h3 #{@num_completed_exercises}/#{pluralize @exercises.size, 'exercise'} completed
    .exercises
      - @exercises.each do |exercise|
        / TODO
        .c-ed{ class: "--#{@user_track.exercise_short_status(exercise)}" }

  - if @user_track.concept_mastered?(@concept)
    .mastered You’ve mastered #{@concept.name}. Well done!

  - elsif @user_track.concept_learnt?(@concept)
    .learnt
      .icon= graphical_icon 'learn-concept'
      You've learnt the basics of #{@concept.name}

    .learnt-extras
      = graphical_icon 'exercises'
      Complete more exercises to master Structs.

  - elsif @user_track.concept_unlocked?(@concept)
    - exercise = @concept.concept_exercises.first
    .learn
      .icon= graphical_icon 'learn-concept'
      Learn #{@concept.name} by completing #{exercise.title}.

    .learn-extras
      Completing
      %strong= exercise.title
      will unlock more exercises for you to master Structs.
