- num_exercises = @user_track.num_exercises_for_concept(@concept)
- num_exercises_completed = @user_track.num_completed_exercises_for_concept(@concept)

.heading
  = render ViewComponents::ConceptIcon.new(@concept, :large)
  .summary
    .title
      .name= @concept.name
      .in in
      = track_icon(@track)
    .num-exercises= pluralize(num_exercises, "exercise")

.blurb= @concept.blurb

- if @user_track.concept_mastered?(@concept)
  .mastered
    .progress
      = graphical_icon "completed-check-circle"
      #{num_exercises_completed}/#{num_exercises} #{'exercise'.pluralize(num_exercises)}
      completed
    = render ViewComponents::ConceptProgressBar.new(@concept, @user_track)
    .info You’ve mastered #{@concept.name}. Well done!

- elsif @user_track.concept_learnt?(@concept)
  / TODO: Add this once we have practice exercises in
  TODO

- elsif @user_track.concept_unlocked?(@concept)
  - exercise = @concept.concept_exercises.first
  .available
    .progress
      #{num_exercises_completed}/#{num_exercises} #{'exercise'.pluralize(num_exercises)}
      completed
    = render ViewComponents::ConceptProgressBar.new(@concept, @user_track)
    .learn-heading
      = graphical_icon :concepts
      Learn #{@concept.name}
    = render ReactComponents::Common::ExerciseWidget.new(exercise, @user_track, size: :small)

    .info
      Completing
      %strong= exercise.title
      will unlock more exercises for you to master #{@concept.name}.

