.header
  = render ViewComponents::ConceptIcon.new(@concept, :large)
  .summary
    .title
      .name= @concept.name
      .in in
      = track_icon(@track)
    .num-exercises
      - if @locked
        = pluralize(@exercises.length, "exercise")
      - else
        #{@num_completed_exercises}/#{pluralize @exercises.size, 'exercise'} completed
  - unless @user_track.external?
    - if @locked
      .c-exercise-status-tag.--locked Locked
    - elsif @mastered
      .c-exercise-status-tag.--completed Mastered

.blurb= @concept.blurb

- unless @user_track.external?
  - if @locked
    .info.locked
      .icon= graphical_icon :lock
      - if @user_track.tutorial_exercise_completed?
        Learn #{@prerequisite_names.to_sentence} to unlock this concept.
      - else
        Complete "Hello, World!" to unlock concepts.
  - elsif @mastered
    .info.mastered
      = graphical_icon 'completed-check-circle'
      You’ve mastered #{@concept.name}!
  - elsif @learnt
    .info.learnt
      .icon= graphical_icon 'learn-concept'
      You’ve learnt #{@concept.name}.
  - else
    .info.available
      .icon.c-ed.--available.--concept.disabled.shrink-0
      #{@concept.name} is available for you to learn.


= link_to Exercism::Routes.track_concept_path(@track, @concept), class: 'explore-concept-button btn-xs btn-secondary mt-16' do
  Explore concept
