- tag_type = status == :locked ? :div : :a
= content_tag tag_type, href: bootcamp_project_exercise_url(project, exercise), class: "c-exercise-widget #{status} size-#{size}" do
  .flex.items-start
    = image_tag exercise.icon_url
    .flex-grow.flex.flex-col
      .flex.items-start
        .title
          .project-title= project.title
        .tag
      .exercise-title
        = exercise.title
      .description= exercise.description
