= link_to project, class: "c-project-widget #{status}" do
  .flex.items-start
    = image_tag project.icon_url
    .flex.flex-col.flex-grow
      .flex.items-start
        .title= project.title
        .tag
      .description= project.description
