#contributing-contributors
  = render ViewComponents::Contributing::Header.new(:contributors)

  .lg-container.container
    .highlights
      = link_to profile_path(@featured_contributor), class: "featured-contributor highlight" do
        .emoji 🚀
        = avatar(@featured_contributor)
        .info
          .title Featured contributor
          .handle= @featured_contributor.handle

      = link_to profile_path(@latest_contributor), class: "new-contributor highlight" do
        .new New
        = avatar(@latest_contributor)
        .info
          .title New contributor
          .handle= @latest_contributor.handle

    / TODO: Karlo this is the component with the correct initial_data
    / method. Everything below this should be part of this component
    = render ReactComponents::Contributing::ContributorsList.new(params)
    .c-search-bar
      .tabs
        .c-tab-2.selected
          %span{ 'data-text': 'Last 7 days' } Last 7 days
        .c-tab-2
          %span{ 'data-text': 'Last 30 days' } Last 30 days
        .c-tab-2
          %span{ 'data-text': 'Last year' } Last year
        .c-tab-2
          %span{ 'data-text': 'All time' } All time

      / TODO: kntsoriano: Use the TrackSwitcher component for this with class of --small
      .c-track-switcher.--small
        %button.current-track
          = graphical_icon "all-tracks", css_class: "all"
          .track-title All tracks
          = graphical_icon "chevron-down", css_class: "action-icon"
      .c-select
        %select
          %option{ value: nil } Select a category...
          %option{ value: 'building' } Building
          %option{ value: 'maintaining' } Maintaining
          %option{ value: 'authoring' } Authoring
          %option{ value: 'mentoring' } Mentoring
          %option{ value: 'publishing' } Publishing

    .contributors
      - @contributors.each do |contributor|
        / TODO: Kntsoriano this should be a div or a link depending on if there's a profile or not
        = link_to contributor[:profile_path], class: "contributor" do
          .rank ##{contributor[:rank]}
          / TOOD: Avatar helper
          = image_tag contributor[:avatar_url], class: 'c-avatar'
          .info
            %h3= contributor[:handle]
            %p= contributor[:activity]

          / TODO: Kntsoriano: This should use the reputation widget. It should *not* be a link though.
          .c-primary-reputation
            .--inner
              = graphical_icon "reputation"
              %span= contributor[:reputation]

          = graphical_icon "chevron-right", css_class: "action-icon"
