- content_for :canonical_url, contributing_contributors_url
- require_stylesheet "contributing"

#contributing-contributors
  = render ViewComponents::Contributing::Header.new(:contributors)

  .lg-container.container{ data: { 'scroll-top-anchor': 'contributors-list' } }
    -# .highlights.grid-cols-1.md:grid-cols-2
      = link_to profile_path(@featured_contributor), class: "featured-contributor highlight" do
        .emoji 🚀
        = avatar(@featured_contributor)
        .info
          .title Featured contributor
          .handle= @featured_contributor.handle

      = link_to profile_path(@latest_contributor), class: "new-contributor highlight" do
        .new New
        = avatar(@latest_contributor)
        .info
          .title New contributor
          .handle= @latest_contributor.handle

    = render ReactComponents::Contributing::ContributorsList.new(params)
