#page-admin-settings.page-admin.pt-20
  .lg-container
    %h1= t('.application_settings_title')

    %h2= t('.current_level.title')
    %p.mb-6.text-16= t('.current_level.description', level_idx: Bootcamp::Settings.instance.level_idx)

    = form_with url: increment_level_admin_settings_path, method: :post, local: true, id: "admin-settings-increment-level-form" do
      = button_tag t('.increment_level_button'), class: "btn btn-m btn-primary", data: { confirm: t('.increment_level_confirm') }

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("admin-settings-increment-level-form");
    form.addEventListener("submit", function(event) {
      const confirmed = confirm("#{t('.js_confirm_message')}");
      if (!confirmed) {
        event.preventDefault();
      }
    });
  });
