.introduction
  .header
    .content
      %h2= t('.header.title')
      %p
        = t('.header.subtitle_html', exercise_title: exercise.title, track_title: track.title).html_safe
      .btns
        = link_to t('.header.submit_button'), new_track_exercise_mentor_request_path(track, exercise), class: 'btn-primary btn-m'
        .wow= t('.header.free_text')

    = graphical_icon "mentoring-prompt", category: 'graphics'
  .why
    %h3= t('.why.heading')
    .points
      .point
        %h4= t('.why.points.fluency.heading', track_title: track.title)
        %p
          = t('.why.points.fluency.body_html').html_safe

      .point
        %h4= t('.why.points.unknown.heading')
        %p= t('.why.points.unknown.body', track_title: track.title)

      .point
        %h4= t('.why.points.questions.heading')
        %p= t('.why.points.questions.body')

      .point
        %h4= t('.why.points.push.heading')
        %p= t('.why.points.push.body', track_title: track.title)

  .how
    %h3= t('.how.heading')
    .points
      .point
        .num 1
        .content
          %h4= t('.how.points.submit.heading')
          %p= t('.how.points.submit.body')

      .point
        .num 2
        .content
          %h4= t('.how.points.feedback.heading')
          %p= t('.how.points.feedback.body')

      .point
        .num 3
        .content
          %h4= t('.how.points.iterate.heading')
          %p= t('.how.points.iterate.body')

      .point
        .num 4
        .content
          %h4= t('.how.points.end_celebrate.heading_html').html_safe
          %p= t('.how.points.end_celebrate.body')
