.mentoring-in-progress
  .header.c-mentor-discussion-widget
    = avatar(discussion.student, css_class: 'c-avatar student-avatar')
    = avatar(discussion.mentor, css_class: 'c-avatar mentor-avatar')

    .info
      %h2.flex
        You're being mentored by&nbsp;
        %strong= render ViewComponents::HandleWithFlair.new(discussion.mentor.handle, discussion.mentor.flair, size: :large)

      .details
        - if discussion.mentor_finished? || discussion.timed_out?
          .--turn Review your mentor
        - elsif discussion.awaiting_mentor?
          .--turn Waiting for mentor
        - else
          .--turn Your turn to respond
        .--comments
          = graphical_icon "comment"
          = pluralize discussion.num_posts, "comment"
    .in-progress
      .icon= graphical_icon "more-horizontal"
      In-progress

  = link_to "Open discussion", track_exercise_mentor_discussion_path(track, exercise, discussion), class: 'btn-primary btn-m'
