.mentoring-in-progress
  .header.c-mentor-discussion-widget
    = avatar(discussion.student, css_class: 'c-avatar student-avatar')
    = avatar(discussion.mentor, css_class: 'c-avatar mentor-avatar')

    .info
      %h2.flex
        = t('.mentor_info_html', mentor_handle: render(ViewComponents::HandleWithFlair.new(discussion.mentor.handle, discussion.mentor.flair, size: :large))).html_safe

      .details
        - if discussion.mentor_finished? || discussion.timed_out?
          .--turn= t('.status.review_mentor')
        - elsif discussion.awaiting_mentor?
          .--turn= t('.status.waiting_mentor')
        - else
          .--turn= t('.status.your_turn')
        .--comments
          = graphical_icon "comment"
          = t('.comments_count', count: discussion.num_posts)
    .in-progress
      .icon= graphical_icon "more-horizontal"
      = t('.in_progress_label')

  = link_to t('.open_discussion_button'), track_exercise_mentor_discussion_path(track, exercise, discussion), class: 'btn-primary btn-m'
