- if discussions.present?
  .previous-discussions
    - discussions.each do |discussion|
      = link_to track_exercise_mentor_discussion_path(track, exercise, discussion), class: "discussion" do
        = avatar(discussion.mentor, css_class: 'c-avatar mentor-avatar')
        .info
          %h4= discussion.mentor.handle
          .when= t('.discussion_ended', time_ago: time_ago_in_words(discussion.finished_at))
        .ended
          = graphical_icon "completed-check-circle"
          = t('.status_ended')

- else
  .no-previous-discussions
    = t('.no_discussions_message')
