- require_stylesheet "track"

#page-exercise-mentoring
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :mentoring)

  .lg-container.container
    .lhs
      - if @solution.mentoring_finished?
        = render "mentoring_finished", track: @track, exercise: @exercise

      - elsif @solution.mentoring_in_progress?
        = render "mentoring_in_progress", discussion: @solution.in_progress_mentor_discussion, track: @track, exercise: @exercise

      - elsif @solution.mentoring_requested?
        = render "mentoring_requested", track: @track, exercise: @exercise

      - elsif @solution.mentoring_none?
        = render "introduction", track: @track, exercise: @exercise

      = render "previous_discussions", track: @track, exercise: @exercise, discussions: @previous_discussions

    .rhs
      .personal-mentoring{ class: @solution.mentoring_in_progress? ? 'locked' : nil }
        - if @solution.mentoring_in_progress?
          .c-alert.locked
            %strong You&apos;re currently being mentored.
            Please end your existing discussion before starting a new mentoring session with someone else.

        .content
          %h2 Want a friend to mentor you instead?
          %p If you want mentoring by a friend, teacher, colleague, etc rather than experiencing community mentoring, send them the link below and they will be able to mentor you directly.

          %h3 Direct Mentoring Invite Link
          = ReactComponents::Common::CopyToClipboardButton.new(@solution.external_mentoring_request_url)

        = render ViewComponents::ProminentLink.new("Learn more about direct mentoring", doc_path(:using, "feedback/private"))
