- require_stylesheet "track"

#page-exercise-mentoring
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :mentoring)

  .lg-container.container
    .lhs
      - if @solution.mentoring_finished?
        = render "mentoring_finished", track: @track, exercise: @exercise

      - elsif @solution.mentoring_in_progress?
        = render "mentoring_in_progress", discussion: @solution.in_progress_mentor_discussion, track: @track, exercise: @exercise

      - elsif @solution.mentoring_requested?
        = render "mentoring_requested", track: @track, exercise: @exercise

      - elsif @solution.mentoring_none?
        = render "introduction", track: @track, exercise: @exercise

      = render "previous_discussions", track: @track, exercise: @exercise, discussions: @previous_discussions

    .rhs
      .personal-mentoring{ class: @solution.mentoring_in_progress? ? 'locked' : nil }
        - if @solution.mentoring_in_progress?
          .c-alert.locked
            %strong= t('.personal_mentoring.locked_message_html').html_safe

        .content
          %h2= t('.personal_mentoring.heading')
          %p= t('.personal_mentoring.body')

          %h3= t('.personal_mentoring.link_heading')
          = ReactComponents::Common::CopyToClipboardButton.new(@solution.external_mentoring_request_url)

        = render ViewComponents::ProminentLink.new(t('.personal_mentoring.prominent_link'), doc_path(:using, "feedback/private"))
