%article.summary-article
  .lg-container.container
    .lhs
      %section.progress-chart
        %h2
          - if user_track.completed_percentage.zero?
            You’ve just started the #{track.title} track.
            %strong Good luck, adventurer!
          - else
            You’re
            %em #{user_track.completed_percentage}%
            through the #{track.title} track.
            %strong Keep it up! 🚀

        .progress
          .bar{ style: "width: #{user_track.completed_percentage}%" }
          / TODO: Disable this on SRs?
          .completed-icon
            = track_icon track
            = icon "completed-check-circle", "Completed", css_class: "completed-icon"

        = render ReactComponents::Student::ExerciseStatusChart.new(track)

        .key
          .item
            .c-ed.--completed
            .status Completed
            .count= user_track.num_completed_exercises
          .item
            .c-ed.--in_progress
            .status In-progress
            .count= user_track.num_in_progress_exercises
          .item
            .c-ed.--available
            .status Available
            .count= user_track.num_available_exercises
          .item
            .c-ed.--locked
            .status Locked
            .count= user_track.num_locked_exercises
          .item.total
            .status Total Exercises
            .count= user_track.num_exercises

      - if user_track.tutorial_exercise_completed?
        %section.activities
          - recent_solutions.each do |solution|
            = render ViewComponents::Track::SolutionActivity.new(track, solution)

      - else
        = render "tracks/show/joined/start_track_section", track: track
    .rhs
      - if user_track.tutorial_exercise_completed?
        %section.weekly-count
          .text
            .count 7.8
            %h3 Avg. exercises completed per week

          / TODO
          <svg viewBox="0 0 132 53" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2 42.7162C2 42.7162 12.3911 2.5 23.2546 2.5C34.1181 2.5 34.1181 2.5 44.5092 2.5C55.3727 2.5 55.3727 40.1216 65.7638 40.1216C76.6273 40.1216 76.6273 50.5 87.4908 50.5C97.8819 50.5 97.8819 23.2568 108.745 23.2568C119.609 23.2568 130 15.473 130 15.473" stroke="url(#paint0_linear)" stroke-width="3.5"/> <defs>
          <linearGradient id="paint0_linear" x1="66" y1="2.5" x2="66" y2="50.5" gradientUnits="userSpaceOnUse">
          <stop stop-color="#2200FF"/>
          <stop offset="1" stop-color="#9E00FF"/>
          </linearGradient>
          </defs>
          </svg>

        %section.learning-pattern
          = graphical_icon "steady-learning-pattern"
          .info
            %h3 Cheetah Learning Pattern
            %p You occasionally complete numerous exercises in a week

      = link_to "#", class: "stats-box" do
        / TOOD
        .info
          .count= user_track.num_completed_exercises
          %h3 Exercises completed
          .icons
            - sample_completed_exercises.each do |exercise|
              = exercise_icon exercise
        = graphical_icon "chevron-right", css_class: "action-icon"

      - if track.course?
        = link_to "#", class: "stats-box" do
          .info
            .count= user_track.num_concepts_learnt
            %h3
              = "Concept".pluralize(user_track.num_concepts_learnt)
              learnt

            .icons
              - sample_learnt_concepts.each do |concept|
                = render ViewComponents::ConceptIcon.new concept, :base
          = graphical_icon "chevron-right", css_class: "action-icon"

        = link_to "#", class: "stats-box" do
          .info
            .count= user_track.num_concepts_mastered
            %h3
              = "Concept".pluralize(user_track.num_concepts_mastered)
              mastered
            .icons
              - sample_mastered_concepts.each do |concept|
                = render ViewComponents::ConceptIcon.new concept, :base
          = graphical_icon "chevron-right", css_class: "action-icon"

      - else
        = link_to "#", class: "stats-box" do
          .info
            .count= user_track.num_in_progress_exercises
            %h3
              = "Exercise".pluralize(user_track.num_in_progress_exercises)
              in-progress
            .icons
              - sample_in_progress_exercises.each do |exercise|
                = exercise_icon exercise
          = graphical_icon "chevron-right", css_class: "action-icon"

        / TOOD
        = link_to "#", class: "stats-box" do
          .info
            .count= user_track.num_available_exercises
            %h3 Exercises available
            .icons
              - sample_available_exercises.each do |exercise|
                = exercise_icon exercise
          = graphical_icon "chevron-right", css_class: "action-icon"

      = external_link_to "View #{track.title} Documentation", track_docs_path(track), class: "c-prominent-link --with-bg"


