%section.updates-section
  .updates
    .update
      .icon
        .c-concept-icon.c--medium St
      .info
        .desc
          %strong erikschierboom
          published a new concept
          %strong Structs
        %time 2 days ago
      .faces
        = avatar(User.first)

    - exercise = track.exercises.first
    - if exercise
      .update
        .icon
          = exercise_icon(exercise)
        .info
          .desc
            %strong thelostlambda, WDNeumann and 3 others
            published a new exercise
            %strong= exercise.title
          %time 3 days ago
        .faces
          = avatar(User.first)

    .update
      .icon
        .c-concept-icon.c--medium Bo
      .info
        .desc
          %strong bobahop
          updated the concept
          %strong Booleans
        %time 5 days ago
      .faces
        = avatar(User.first)

  = render ViewComponents::ProminentLink.new("See all #{track.title} updates", "#")

