!!! XML
%rss{ "xmlns:atom": "http://www.w3.org/2005/Atom", version: "2.0" }
  %channel
    %title Exercism's Blog
    %link= blog_posts_url(format: "rss")
    %description Keep up to date with changes to Exercism, get to know our community, and find out about the new up and coming features!
    %language en-US
    = tag.lastBuildDate @posts[0].published_at.rfc822
    = tag.webMaster "jeremy@exercism.org (Jeremy Walker)"
    = tag.managingEditor "jeremy@exercism.org (Jeremy Walker)"

    - @posts.each do |post|
      %item
        %title= post.title
        %link= blog_post_url(post)
        %description= post.marketing_copy
        = tag.pubDate post.published_at.rfc822
        %guid{ isPermaLink: 'true' }= blog_post_url(post)
        %content:encoded <![CDATA[#{raw post.content_html.delete("\n")}]]>
