- require_stylesheet "blog"
- content_for :meta_title, @post.title.html_safe
- content_for :meta_description, @post.marketing_copy.html_safe
- content_for :meta_image, @post.image_url
- content_for :canonical_url, blog_post_url(@post)

#page-blog-post.pb-80
  %header.pt-24.md:pt-48.pb-64.md:pb-128
    .md-container.flex.flex-col.md:flex-row-reverse
      = avatar(@post.author)
      .block.flex-grow
        %h1.text-h0.mb-12.md:mb-18= @post.title
        = render "info_bar", post: @post
  .md-container.mb-32.md:mb-48.flex.gap-32
    %article.shadow-lg.bg-backgroundColorA.rounded-8{ class: 'md:max-w-[840px] max-w-[100%]' }
      .share-bar.border-b-1.border-borderColor6.py-12.md:py-16.px-24.md:px-32.flex.items-center
        = graphical_icon "lightbulb", category: :graphics, css_class: "main-graphic hidden md:block"
        .info.md:hidden
          %h3.text-h6.mb-2 Find this post useful?
          %p.text-p-small Share it around!
        .info.hidden.md:block.mr-auto
          %h3.text-h5.mb-2 Find the post interesting or useful?
          %p.text-p-base Share it around and have others benefit too!

        = render ViewComponents::Blog::SharePostButton.new(@post)

      .p-16.md:py-32.md:px-40.flex.flex-col
        - if @post.video?
          = render ReactComponents::Common::YoutubePlayer.new(@post.youtube_id, 'blog_post#show')

        .c-textual-content.--large
          = raw @post.content_html

        .published-at.mt-24.pt-16.border-t-1.border-borderColor6.text-16.text-textColor6.leading-150.md:self-start.mb-28
          = format_date(@post.published_at)
          &middot;
          Found it useful?
          = render ViewComponents::Blog::SharePostLink.new(@post)

        - t = @post.author.profile? ? :a : :div
        - tag_options = { class: "byline shadow-sm rounded-8 py-16 px-24 flex flex-col md:flex-row md:items-center border-1 border-borderColor6" }
        - tag_options[:href] = profile_path(@post.author) if @post.author.profile?

        = content_tag t, tag_options do
          .flex.items-center
            = avatar(@post.author)
            .info
              .text-16.leading-150.text-textColor6.mb-2 Published by
              .sm:flex.hidden.items-center.mb-4
                .text-h4.mr-16 @#{@post.author.handle}
                = render ViewComponents::Reputation.new(@post.author.formatted_reputation, flashy: true, size: :small)
              .text-16.leading-150.font-semibold.text-textColor6= @post.author.name

    .hidden.mxl:flex.flex-col.pt-32.gap-20
      %h4.text-h4 More from our blog
      - @other_posts.each do |post|
        = render ViewComponents::BlogPost.new(post)

  .sm-container.flex.flex-col
    %h2.text-h3.mb-24 Other community posts
    .grid.gap-24.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.mb-32
      - @other_posts.each do |post|
        = render ViewComponents::BlogPost.new(post)

    .self-center
      = render ViewComponents::ProminentLink.new("View all community blog posts", blog_posts_path)
