- require_stylesheet "about"
- require_stylesheet "track"

%nav.c-header-with-bg.mb-32.pb-24
  .lg-container.flex.mt-24
    .content.flex.flex-col.items-center.text-center.text-balance.mx-auto{ class: "max-w-[820px]" }
      = graphical_icon "world", category: :graphics, css_class: 'w-[190px] h-[190px] mb-12'
      %h1.text-h1.mb-12= t('.hero.title')
      %p.text-p-xlarge.mb-16
        = t('.hero.subtitle_html').html_safe
      %p.text-p-xlarge.mb-16
        = t('.hero.description')

.lg-container.flex.mt-24
  .content.flex.flex-col.items-center.text-center.text-balance.mx-auto{ class: "max-w-[820px]" }
    - if !user_signed_in?
      %h2.text-h2.mb-8= t('.call_to_action.join_team_signed_out')
      %p.text-p-xlarge.mb-12= t('.call_to_action.login_prompt_html').html_safe
      .flex.gap-8.mb-32
        = link_to t('.call_to_action.log_in_button'), new_user_session_path, class: 'btn-l btn-primary !px-40'
        = link_to t('.call_to_action.sign_up_button'), new_user_registration_path, class: 'btn-l btn-secondary !px-40'

    - elsif current_user.translator_locales.present?
      = form_with url: localization_translator_path, class: "flex flex-col max-w-[600px] mb-40" do
        %h2.text-h2.mb-8= t('.form.signed_up_title')
        %p.text-p-large.mb-12
          = t('.form.signed_up_description_html').html_safe

        - 5.times do |idx|
          .styled-selected.mb-8.text-18
            = select_tag "locales[]", options_for_select(@locale_options, selected: current_user.translator_locales[idx].to_s), prompt: idx.zero? ? t('.form.select_language_prompt_first') : "", required: idx.zero?, class: 'px-12 py-8 w-fill border-1 border-borderColor5 rounded-5'

        = button_tag t('.form.update_languages_button'), class: 'btn-l btn-primary mt-12'

    - else
      = form_with url: localization_translator_path, class: "flex flex-col max-w-[550px] mb-40" do
        %h2.text-h2.mb-8= t('.call_to_action.join_team_signed_in')
        %p.text-p-large.mb-12= t('.call_to_action.choose_languages_description')

        - 5.times do |idx|
          .styled-selected.mb-8.text-18
            = select_tag "locales[]", options_for_select(@locale_options), prompt: idx.zero? ? t('.form.select_language_prompt_first') : "", required: idx.zero?, class: 'px-12 py-8 w-fill border-1 border-borderColor5 rounded-5'

        = button_tag t('.form.become_translator_button'), class: 'btn-l btn-primary mt-12'

    %hr.c-divider.mt-28.mb-36

    %h2.text-h1.mb-24= t('.faq.title')
    %h4.text-22.font-semibold.mb-12.text-textColor2= t('.faq.what_it_involves_question')
    %p.text-p-xlarge.mb-40
      = t('.faq.what_it_involves_answer')

    %h4.text-22.font-semibold.mb-12.text-textColor2= t('.faq.time_commitment_question')
    %p.text-p-xlarge.mb-40
      = t('.faq.time_commitment_answer')

    %h4.text-22.font-semibold.mb-12.text-textColor2= t('.faq.payment_reward_question')
    %p.text-p-xlarge.mb-40
      = t('.faq.payment_reward_answer_html').html_safe

    %h4.text-22.font-semibold.mb-12.text-textColor2= t('.faq.when_start_question')
    %p.text-p-xlarge.mb-40
      = t('.faq.when_start_answer')
