#page-premium
  .gradient-container.top
    .lg-container
      .grid.grid-cols-1.md:grid-cols-2.gap-48.mb-64
        .top-lhs.flex.flex-col
          %h1.text-h1.flex.items-center.gap-20.mb-4.sm:mb-8.lg:text-48.text-30.sm:text-32
            Exercism Premium
          %h3.text-h3.mb-16 Supercharge your Exercism Experience!
          %h5.launching.rounded-8 Only $9.99/month
          %p.text-p-xlarge.mb-8{ class: "max-w-[600px]" }
            Enhance your learning journey with Exercism Premium!
            %br
            Unlock
            = succeed(',') do
              %strong{ class: "!text-white" } Dark Mode, ChatGPT integration, extra mentoring slots, exclusive badges
            and more.
          %p.text-p-large.mb-24
            (All while supporting our open-source, not-for-profit mission! 💙)

          .flex.flex-row.gap-16
            = link_to "Upgrade to Premium", "#pricing-section", class: 'btn-l btn-primary basis-1/2', data: { turbo: false }
            = link_to "Learn more", "#features-section", class: 'btn-l btn-secondary', data: { turbo: false }

        .top-rhs
          .c-youtube-container
            %iframe{ width: "560", height: "315", src: "https://www.youtube-nocookie.com/embed/8onnSv5r9Hw", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

  #features-section
  .gradient-container.py-64
    .lg-container
      %h2.text-h2.mb-32 Exclusive Premium Features
      .features.mb-32
        - @features.each do |feature|
          .feature
            = graphical_icon feature[:icon], css_class: feature[:filter] ? "filter-yellowPrompt" : ""
            %h4= feature[:title]
            %p= feature[:desc]

      %p.text-p-large.text-center (And even more coming soon!)

  #pricing-section
  .gradient-container.text-center.py-64
    .lg-container.flex.flex-col
      %h2.text-h1.mb-8.relative Choose Your Subscription
      %p.text-p-xlarge.mb-16.relative Subscribe monthly, annually, or forever!

      .grid.grid-cols-3.gap-32.justify-center.my-32
        .price-card.border-gradient-russianViolet
          %h2.text-h2 Monthly
          .price $9.99/month
          %p.text-p-base.mb-auto Subscribe monthly and enjoy all our Premium features for as long as you stay subscribed. Cancel anytime or convert to an annual or Insiders membership later.
          = render ReactComponents::Premium::PriceOption.new(:monthly)

        .price-card.border-gradient-russianViolet
          %h2.text-h2 Annually
          .price $99/year
          %p.text-p-base.mb-auto Subscribe annually, enjoy Premium for a whole year, plus get a month of access to Exercism Insiders exclusive behind-the-scenes videos. Membership will renew annually.
          = render ReactComponents::Premium::PriceOption.new(:yearly)

        .price-card.border-gradient-russianViolet
          %h2.text-h2 Become an Insider
          .price $499
          %p.text-p-base.mb-32 Enjoy full lifetime access to both Exercism Premium and Exercism Insiders, giving you behind-the-scenes access to videos and exclusive team community spaces.
          = render ReactComponents::Premium::PriceOption.new(:lifetime)
