- active_part = current_user.bootcamp_data.active_part
- alternate_part = active_part == 1 ? 2 : 1

#page-bootcamp-dashboard
  .lg-container
    .flex.mb-40
      .lhs.mr-48{ class: 'w-full max-w-[780px]' }
        %h1 Welcome to Level #{@level.idx}!
        .level-content
          = raw @level.content_html
          = link_to "Go to Level #{@level.idx}", bootcamp_level_path(@level), class: "btn-l btn-primary mt-20 max-w-[200px]"

        %hr.border-borderColor5.my-20

        - if @exercise
          - if @solution
            %h2.mb-4 Continue where you left off
            .text-18.mb-20 You have an exercise in progress.

            = render ViewComponents::Bootcamp::ExerciseWidget.new(@exercise, solution: @solution, size: "large")
          - else
            %h2.mb-4 Start new exercise
            .text-18.mb-20 You have a new exercise available to work on.
            = render ViewComponents::Bootcamp::ExerciseWidget.new(@exercise, size: "large")
        - else
          %h2.mb-8 All exercises completed 🎉
          .text-18.mb-20 Congratulations - you have completed all the exercises currently available to you.

      .rhs.ml-auto{ class: 'max-w-[400px]' }
        %h2.mb-4 Upcoming Live Sessions
        %ul.text-16.leading-140.list-disc.ml-16.mb-20.gap-4
          %li
            %strong JavaScript Confidence Booster
            = link_to "Monday 26th May at Noon UTC", "https://youtube.com/live/W9TdczZymjk", class: 'text-linkColor font-semibold underline'

        %h2.mb-2 Make the most of the Bootcamp
        %p.mb-16 The more you take part in all areas of the Bootcamp, the more you'll learn.
        .flex.flex-col.gap-16
          = link_to bootcamp_level_path(@level), class: "section-link" do
            .level-number= @level.idx
            .text
              %h4 Level #{@level.idx}
              %p= @level.description

          = link_to "https://exercism.org/r/discord", class: "section-link" do
            = graphical_icon 'external-site-discord-blue'
            .text
              %h4 Chat on Discord
              %p Use the exclusive #bootcamp area on Exercism's Discord server to chat to other Bootcamp students and mentors.

          = link_to "https://forum.exercism.org/c/bootcamp/661", class: "section-link" do
            = graphical_icon 'discourser'
            .text
              %h4 Ask questions on the Forum
              %p
                Use the Bootcamp Category on the forum to ask questions and get unstuck.
                Read the pinned post to learn more.

        - if current_user.bootcamp_data.enrolled_in_both_parts?
          .mt-32
            %h2.mb-2 Switch to Part #{alternate_part}
            %p.mb-8
              You have access to both parts of the bootcamp.
              You are currently set to working through Part #{active_part}, which means the content on this dashboard will be tailored for Part #{active_part}.
            %p.mb-8
              You can switch between parts at any time.
            %p.mb-8
              = button_to "Switch to Part #{alternate_part}", bootcamp_change_part_path(part: alternate_part), method: :post, class: "btn-m btn-primary"

        .mt-32
          = render ReactComponents::Settings::BootcampAffiliateCouponForm.new("bootcamp")
