#page-auth
  %section.form-section
    .inner
      = icon "exercism-with-logo-black", "Exercism's Logo", css_class: "logo"

      .intro
        %h2= t('.change_your_password.title')
        %p= t('.change_your_password.description')

      = flash_messages

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        .field
          = f.label :password, t('.new_password_label')
          = f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t('.new_password_placeholder', minimum_password_length: @minimum_password_length)
        .field
          = f.label :password_confirmation, t('.confirm_new_password_label')
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('.confirm_new_password_placeholder')
        .actions
          = f.button t('.change_my_password_button'), class: "btn-primary btn-l"

      = render "devise/shared/links"

  = render "devise/shared/information"
