#page-auth
  %section.form-section
    .inner
      = icon "exercism-with-logo-black", "Exercism's Logo", css_class: "logo"

      .intro
        %h2 Forgot your password?
        %p
          If you've forgotten your password, use the form below to request a link to change it.
          Many people who think they've forgotten their password originally signed in using GitHub so you may like to try that too.

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, 'data-turbo': false }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email address"
        = f.button "Send instructions", class: "btn-primary btn-l"

      = render "devise/shared/links"

  = render "devise/shared/information"
