#page-auth
  %section.form-section
    .inner
      = icon "exercism-with-logo-black", "Exercism's Logo", css_class: "logo"

      .intro
        %h2= t('.forgot_your_password.title')
        %p= t('.forgot_your_password.description')

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, 'data-turbo': false }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('.email_placeholder')
        = f.button t('.send_instructions_button'), class: "btn-primary btn-l"

      = render "devise/shared/links"

  = render "devise/shared/information"
