- content_for :canonical_url, docs_url
- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description')
- require_stylesheet "docs"

= render ViewComponents::DocsMainNav.new

#page-docs-index
  .sm-container
    .header
      = graphical_icon "guides", css_class: "header-icon", hex: true
      %h1= t('.welcome_heading')
      %p= t('.welcome_subtitle')
      %hr.c-divider.md:block.hidden

    .using-section
      .info
        %h2= t('.using_exercism.heading')
        %p
          = t('.using_exercism.paragraph_html')
        = link_to docs_section_path(:using), class: 'btn-primary btn-l' do
          %span= t('.using_exercism.get_started_button')
          = graphical_icon 'arrow-right'
      = graphical_icon 'hacker-boy', category: "graphics"

    .extra-sections
      .section
        = graphical_icon "building", category: "graphics", css_class: "header-icon"
        %h2= t('.building_exercism.heading')
        %p= t('.building_exercism.paragraph')
        = render ViewComponents::ProminentLink.new(t('.building_exercism.learn_more_link'), docs_section_path(:building))

      .section
        = graphical_icon "mentoring", category: "graphics", css_class: "header-icon"
        %h2= t('.mentoring.heading')
        %p= t('.mentoring.paragraph')
        = render ViewComponents::ProminentLink.new(t('.mentoring.learn_more_link'), docs_section_path(:mentoring))

      .section
        = graphical_icon "community", category: "graphics", css_class: "header-icon"
        %h2= t('.community.heading')
        %p= t('.community.paragraph')
        = render ViewComponents::ProminentLink.new(t('.community.learn_more_link'), docs_section_path(:community))

      -# .section
        = graphical_icon "community", category: "graphics", css_class: "header-icon"
        %h2 Not-for-profit Organisation
        %p Discover Exercism as an organisation, our mission, our history, and why we've chosen to be a not-for-profit. Learn how you can support us moving forward and help us reach our objectives.
        = render ViewComponents::ProminentLink.new("Learn More", docs_section_path(:organisation))

    .tracks-section
      %h2= t('.track_specific_docs_heading')
      = render ViewComponents::DocsTrackList.new
