= render ViewComponents::DocsMainNav.new(@section)

#page-docs-show
  .container.lg-container
    %nav.docs-side-nav
      - if @track
        %h2= @track.title
      %ul
        - @nav_docs.each do |doc|
          %li{ class: @doc == doc ? "selected" : nil }
            = link_to doc.nav_title, doc.track ? track_doc_path(doc.track, doc) : doc.apex? ? doc_section_path(doc.section) : doc_path(doc.section, doc.slug)

    .docs-content
      %h1= @doc.title
      - if @doc.blurb.present?
        %p.h1-subtitle= @doc.blurb
      = graphical_icon "sharp-squiggle", css_class: "header-divider"

      .c-textual-content.--large= raw @doc.content_html
