- content_for :meta_title, "#{@doc.title} | Exercism's Docs".html_safe
- content_for :meta_description, @doc.blurb.presence || strip_tags(@doc.content_html).truncate(150)
- content_for :canonical_url, docs_section_url(@section)
- require_stylesheet "docs"

= render ViewComponents::DocsMainNav.new(@section)

#page-docs-show
  .container.lg-container
    = render ViewComponents::DocsSideNav.new(@nav_docs, @doc, track: @track)

    .docs-content
      %h1= @doc.title
      - if @doc.blurb.present?
        %p.h1-subtitle= @doc.blurb
      %hr.c-divider

      .c-textual-content.--large= raw @doc.content_html
