= render ViewComponents::DocsMainNav.new(@section)

#page-docs-show
  .container.lg-container
    = render ViewComponents::DocsSideNav.new(@nav_docs, @doc)

    .docs-content
      %h1= @doc.title
      - if @doc.blurb.present?
        %p.h1-subtitle= @doc.blurb
      = graphical_icon "sharp-squiggle", css_class: "header-divider"

      .c-textual-content.--large= raw @doc.content_html
