- content_for :meta_title, t('.meta_title', track_title: @track.title).html_safe
- content_for :meta_description, t('.meta_description', track_title: @track.title)
- content_for :canonical_url, track_docs_url(@track.slug)
- require_stylesheet "docs"

= render ViewComponents::DocsMainNav.new(:tracks)

#page-docs-show
  .container.lg-container
    = render ViewComponents::DocsSideNav.new(@nav_docs, nil, track: @track)

    .docs-content
      %h1= t('.track_title', track_title: @track.title)
      %p.h1-subtitle= t('.track_subtitle', track_title: @track.title)
      %hr.c-divider

      .c-textual-content.--large
        %p= t('.explore_docs_paragraph', track_title: @track.title)
