- content_for :meta_title, "Exercism's Track Docs".html_safe
- content_for :meta_description, "Everything you need to know about using #{@track.title} on Exercism."
- content_for :canonical_url, track_docs_url(@track.slug)
- require_stylesheet "docs"

= render ViewComponents::DocsMainNav.new(:tracks)

#page-docs-show
  .container.lg-container
    = render ViewComponents::DocsSideNav.new(@nav_docs, nil, track: @track)

    .docs-content
      %h1 #{@track.title} Docs
      %p.h1-subtitle Everything you need to know about using #{@track.title} on Exercism.
      %hr.c-divider

      .c-textual-content.--large
        %p Explore our #{@track.title} docs and discover everything you need to know to make the most of your #{@track.title} experience on Exercism, from installing #{@track.title} to running the tests, learning the language, and useful resources.
