- content_for :canonical_url, mentoring_url
#mentor-external-page
  %section.top-section
    .lg-container.c-shapes
      = graphical_icon "mentoring", category: 'graphics'
      %h1 Share your knowledge with others
      %p
        Mentoring is a fun and rewarding way to reinforce your own learning, while helping others learn and discover things they don’t know.
        = link_to "Mentoring also earns reputation.", doc_path(:using, "product/reputation")
      %p.unsure
        Not sure if you can mentor effectively?
        Some of our best mentors worried too.

      - if user_signed_in?
        - if current_user.reputation >= User::MIN_REP_TO_MENTOR
          = ReactComponents::Mentoring::TryMentoringButton.new
        - else
          = render "locked", profile_min_reputation: User::MIN_REP_TO_MENTOR
      - else
        .flex.items-center
          = link_to "Sign up to try mentoring", new_user_registration_path, class: 'btn-m btn-primary'
          = link_to "Log in", new_user_session_path, class: 'btn-m btn-secondary ml-24'

  %article.lg-container
    %section.video-section
      <div class="video rounded-5 overflow-hidden" style="padding:57% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/595885591?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=3d84913229" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Become an Exercism mentor"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    %section.reasons-section
      %h2 Why become a mentor?
      .reasons.grid-cols-1.md:grid-cols-3
        .reason
          = graphical_icon "mentoring-challenge"
          %h3 Challenge your knowledge
          %p Teaching is one of the best ways to solidify your own knowledge, discover your weak spots, and see innovative ideas you'd never have dreamed of.

        .reason
          = graphical_icon "mentoring-opportunity"
          %h3 Provide opportunity for others
          %p Mentors can have a tremendous impact on students' learning, rapidly accelerating their skills. Be that catalyst for change in another’s life.

        .reason
          = graphical_icon "mentoring-soft-skills"
          %h3 Develop your "soft skills"
          %p Soft skills like communication and being able to take feedback are paramount in progressing in any field or profession.
