- content_for :canonical_url, mentoring_url
#mentor-external-page
  %section.top-section
    .lg-container.c-shapes
      = graphical_icon "mentoring", category: 'graphics'
      %h1= t('.share_knowledge_heading')
      %p
        = t('.share_knowledge_description')
        = link_to t('.earns_reputation'), doc_path(:using, "product/reputation")
      %p.unsure
        = t('.unsure_mentor')

      - if user_signed_in?
        - if current_user.reputation >= User::MIN_REP_TO_MENTOR
          = ReactComponents::Mentoring::TryMentoringButton.new
        - else
          = render "locked", profile_min_reputation: User::MIN_REP_TO_MENTOR
      - else
        .flex.items-center
          = link_to t('.signup_button'), new_user_registration_path, class: 'btn-m btn-primary'
          = link_to t('.login_button'), new_user_session_path, class: 'btn-m btn-secondary ml-24'

  %article.lg-container
    %section.video-section
      <div class="video rounded-5 overflow-hidden" style="padding:57% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/595885591?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=3d84913229" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Become an Exercism mentor"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    %section.reasons-section
      %h2= t('.why_mentor_heading')
      .reasons.grid-cols-1.md:grid-cols-3
        .reason
          = graphical_icon "mentoring-challenge"
          %h3= t('.challenge_knowledge_heading')
          %p= t('.challenge_knowledge_description')

        .reason
          = graphical_icon "mentoring-opportunity"
          %h3= t('.provide_opportunity_heading')
          %p= t('.provide_opportunity_description')

        .reason
          = graphical_icon "mentoring-soft-skills"
          %h3= t('.develop_soft_skills_heading')
          %p= t('.develop_soft_skills_description')
