#mentor-external-page
  .lg-container
    %section.top-section
      = graphical_icon "mentoring-header", category: 'graphics'
      %h1 Share your knowledge with others
      %p
        Mentoring is a fun and rewarding way to reinforce your own learning, while helping others learn and discover things they don’t know.
        = link_to "Mentoring also earns reputation.", "#"
      %p.unsure
        Not sure if you can mentor effectively?
        = link_to "Some of our best mentors worried too.", "#"

      = ReactComponents::Mentoring::TryMentoringButton.new.to_s


    %section.reasons-section
      %h2 Why become a mentor?
      .reasons
        .reason
          = graphical_icon "mentoring-challenge"
          %h3 Challenge your knowledge
          %p Teaching is one of the best ways to solidify your own knowledge, discover your weak spots, and see innovative ideas you'd never have dreamed of.

        .reason
          = graphical_icon "mentoring-opportunity"
          %h3 Provide opportunity for others
          %p Mentors can have a tremendous impact on students' learning, rapidly accelerating their skills. Be that catalyst for change in another’s life.

        .reason
          = graphical_icon "mentoring-soft-skills"
          %h3 Develop your "soft skills"
          %p Soft skills like communication and being able to take feedback are paramount in progressing in any field or profession.
