= form_for(update, url:, as: :site_update) do |form|
  - if update.errors.any?
    .mb-12.text-red
      %h2
        = pluralize(update.errors.count, "error")
        prohibited this site update from being saved:
      %ul
        - update.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :title, "Title"
    = form.text_field :title

  .field
    = form.label :description_markdown, "Description (markdown, max 600 chars, don't use headings)"
    = form.text_area :description_markdown, maxlength: 600, class: '!w-[600px]'

  - if update.new_record?
    .field
    = form.label :track, "Track"
    .c-select.mb-20= form.collection_select :track_id, tracks, :id, :title

  .field
    = form.label :pull_request_number, "Pull Request number (https://github.com/exercism/<repo>/pull/<number>)"
    = form.number_field :pull_request_number

  .flex.gap-8
    = form.button button_label, class: "btn-primary btn-m"
    = link_to maintaining_site_updates_path, class: "btn-primary btn-m" do
      Back to site updates
