:css
  #maintaining-site-update-form {
    padding:25px 5%;
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  input, textarea {
    width:400px;
    border:1px solid #aaa;
  }
  textarea {
    padding:20px;
    height:100px;
  }
  .field {
    margin-bottom:20px;
  }
  label {
    display:block;
  }

#maintaining-site-update-form
  %h2.text-h3 Edit Update
  = form_for @update, url: maintaining_site_update_path(@update), as: :site_update, local: true do |f|
    .field
      = f.label :title, "Title"
      = f.text_field :title

    .field
      = f.label :title, "Description"
      = f.text_area :description

    .field
      = f.label :pull_request_number, "Pull Request ID (#{@update.track.repo_url}/pull/xxx)"
      = f.text_field :pull_request_number

    = f.button "Update Post", class: "btn-primary btn-m"


