- require_stylesheet "maintaining"

#maintaining-site-updates.c-admin-page
  .lg-container
    %h1.text-h1.mb-16.mt-32 Site updates
    - if flash[:site_updates_notice]
      .mb-12.text-p-base.font-bold.text-darkSuccessGreen= flash[:site_updates_notice]
    %table.mb-16.c-admin-table
      %thead
        %tr
          %th Type
          %th About
          %th.flex.items-center.gap-8
            Published At
            = icon('question-circle', 'Icon of a question mark', css_class: 'filter-textColor5', height: 16, width: 16, title: 'Site updates are published a few hours after the exercises are put live ')
          %th Expanded Details
          %th Pull Request
          %th
      %tbody
        - @updates.each do |update|
          %tr
            - case update
            - when SiteUpdates::NewExerciseUpdate
              %td Exercise
              %td #{update.track&.title} / #{update.exercise&.title}
            - when SiteUpdates::NewConceptUpdate
              %td Concept
              %td #{update.track&.title} / #{update.concept&.name}
            - when SiteUpdates::ArbitraryUpdate
              %td Arbitrary
              %td= update.track&.title

            %td= update.published_at
            %td
              - if update.expanded?
                .title= update.title
                .handle= update.author.handle
                %p= update.description_html&.html_safe
            %td= update.pull_request&.title
            %td
              - if update.editable_by?(current_user)
                = link_to "Edit", edit_maintaining_site_update_path(update), class: 'text-prominentLinkColor font-bold'

    .flex
      = link_to "New site update", new_maintaining_site_update_path, class: 'btn btn-primary btn-base'

    = paginate @updates
