#contributing-tasks
  = render ViewComponents::Contributing::Header.new(:tasks)

  .lg-container.container
    .c-search-bar
      .c-track-switcher.--small
        %button.current-track
          = graphical_icon "all-tracks", css_class: "all"
          .track-title All tracks
          = graphical_icon "chevron-down", css_class: "action-icon"
      .c-select
        %select
          %option
            All actions
      .c-select
        %select
          %option
            All actions
      .c-select
        %select
          %option
            All types
      .c-select
        %select
          %option
            All sizes
      .c-select
        %select
          %option
            Any knowledge
      .c-select
        %select
          %option
            Any component

    %header.main-header.c-search-bar
      %h2
        %strong Showing 7,195 tasks
        \/ out of 7,195 possible tasks
      %button.btn-m.btn-link.reset-btn
        = graphical_icon :reset
        %span Reset Filters
      .c-select
        %select
          %option
            Sort by most recent

    .tasks
      - (@data[:results] + @data[:results]).each do |task|
        = link_to task[:links][:github_url], class: "task" do
          - if task.dig(:tags, :action).present?
            .action-icon= icon "task-action-#{task[:tags][:action]}", "Action: #{task[:tags][:action]}"
          - else
            .action-icon

          .info
            .heading
              %h3= task[:title]
              - if task[:isNew]
                .new
                  = graphical_icon "stars"
                  New
            .track-type
              - if task[:track]
                .track
                  .for for
                  = image_tag task[:track][:icon_url], class: "c-track-icon"
                  .title= task[:track][:title]
              - case task.dig(:tags, :type)
              - when 'docs'
                .type.c-tag.--small
                  = graphical_icon 'task-type-docs'
                  docs
              - when 'docker'
                .type.c-tag.--small
                  = graphical_icon 'task-type-docker'
                  docker
              - when 'coding'
                .type.c-tag.--small
                  = graphical_icon 'task-type-coding'
                  coding
              - when 'content'
                .type.c-tag.--small
                  = graphical_icon 'task-type-content'
                  content
              - when 'ci'
                .type.c-tag.--small
                  = graphical_icon 'task-type-ci'
                  ci

          .tags
            - case task.dig(:tags, :knowledge)
            - when 'none'
              .knowledge
                = graphical_icon 'task-knowledge'
                .dot
                .dot
                .dot
            - when 'elementary'
              .knowledge
                = graphical_icon 'task-knowledge'
                .dot.filled
                .dot
                .dot
            - when 'intermediate'
              .knowledge
                = graphical_icon 'task-knowledge'
                .dot.filled
                .dot.filled
                .dot
            - when 'advanced'
              .knowledge
                = graphical_icon 'task-knowledge'
                .dot.filled
                .dot.filled
                .dot.filled
            - else
              .knowledge.blank

            - case task.dig(:tags, :size)
            - when 'tiny'
              .size xs
            - when 'small'
              .size s
            - when 'medium'
              .size m
            - when 'large'
              .size l
            - when 'massive'
              .size xl
            - else
              .size.blank

            - case task.dig(:tags, :module)
            - when 'analyzer'
              = icon 'automation', "Analyzer", css_class: "module"
            - when 'representer'
              = icon 'task-module-representer', "Representer", css_class: "module"
            - when 'concept-exercise'
              = icon 'concept-exercise', "Concept Exercise", css_class: "module"
            - when 'practice-exercise'
              = icon 'exercises', "Practice Exercise", css_class: "module"
            - when 'test-runner'
              = icon 'tests', "Test Runner", css_class: "module"
            - when 'generator'
              = icon 'task-module-generator', "Track Generators", css_class: "module"
            - when 'concept'
              = icon 'task-module-concept', "Track Generators", css_class: "module"
            - else
              .module.blank

          = graphical_icon "external-link", css_class: "external-link"
