#contributing-tasks
  = render ViewComponents::Contributing::Header.new(:tasks)

  .lg-container.container
    .c-search-bar
      .c-track-switcher.--small
        %button.current-track
          = graphical_icon "all-tracks", css_class: "all"
          .track-title All tracks
          = graphical_icon "chevron-down", css_class: "action-icon"
      .c-select
        %select
          %option
            All actions
      .c-select
        %select
          %option
            All actions
      .c-select
        %select
          %option
            All types
      .c-select
        %select
          %option
            All sizes
      .c-select
        %select
          %option
            Any knowledge
      .c-select
        %select
          %option
            Any component

    %header.main-header.c-search-bar
      %h2
        %strong Showing 7,195 tasks
        \/ out of 7,195 possible tasks
      %button.btn-m.btn-link.reset-btn
        = graphical_icon :reset
        %span Reset Filters
      .c-select
        %select
          %option
            Sort by most recent

    .tasks
      - (@data[:results] + @data[:results]).each do |task|
        = link_to task[:links][:github_url], class: "task" do
          - if task[:tags][:action].present?
            = icon "task-action-#{task[:tags][:action]}", "Action: #{task[:tags][:action]}", css_class: "action-icon"
          .info
            .heading
              %h3= task[:title]
              - if task[:isNew]
                .new
                  = graphical_icon "stars"
                  New
            .track-type
              - if task[:track]
                .track
                  .for for
                  = image_tag task[:track][:icon_url], class: "c-track-icon"
                  .title= task[:track][:title]
              - case task[:tags][:type]
              - when 'docs'
                .type.c-tag.--small
                  = graphical_icon :guides
                  docs
          .tags
            - case task[:tags][:knowledge]
            - when 's'
              .knowledge
                = graphical_icon 'task-knowledge'
                .dot.filled
                .dot
                .dot
                .dot
            - case task[:tags][:knowledge]
            - when 'm'
              .knowledge
                = graphical_icon 'task-knowledge'
                .dot.filled
                .dot.filled
                .dot
                .dot

            - case task[:tags][:size]
            - when 'small'
              .size s

            - case task[:tags][:module]
            - when 'analyzer'
              = icon 'automation', "Analyzer", css_class: "module"

          = graphical_icon "external-link", css_class: "external-link"
