#page-exercises-index
  = render ViewComponents::Track::Header.new(@track, :exercises)

  %article.content
    - if @user_track.external?
      .md-container.container
        %section.external-cta
          = track_icon(@track)
          .info
            %h2 Practice #{@track.exercises.count} exercises in #{@track.title}
            %p
              Learn and practice #{@track.title} by completing #{@track.exercises.count} exercises
              that explore different concepts and ideas.

          = button_to join_track_path(@track), method: :post, class: "btn-cta" do
            = graphical_icon(:plus)
            Join The #{@track.title} Track

    %header.page-header
      .lg-container.container
        = graphical_icon "laptop-man-1", css_class: 'graphic', category: 'graphics'

        .info
          %h1 Explore the #{@track.title} exercises on Exercism
          %p Unlock more exercises as you progress. They’re great practice and fun to do!

    %section.exercises
      = render ReactComponents::Student::ExerciseList.new(@track)

