#page-concepts-index
  = render ViewComponents::Track::TopLevelNav.new(@track, :exercises)

  .page-header
    .lg-container.container
      = graphical_icon("graphic-laptop-man-1", css_class: 'graphic')
      .info
        %h1
          All the
          = track_icon(@track)
          exercises on Exercism
        %p Unlock more exercises as you progress. They’re great practice and fun to do!
        %progress.progress-bar{ value: @num_completed, max: @exercises.size }
        .progress-text #{pluralize(@num_completed, 'exercise')} completed

  .exercises
    .lg-container.container
      - @exercises.each do |exercise|
        = render ViewComponents::Widgets::Exercise.new(exercise, @user_track)

