#page-exercises-index
  = render ViewComponents::Track::TopLevelNav.new(@track, :exercises)

  %article.content
    - if @user_track.external?
      .md-container.container
        %section.external-cta
          = track_icon(@track)
          .info
            %h2 Practice #{@track.exercises.count} exercises in #{@track.title}
            %p
              Learn and practice #{@track.title} by completing #{@track.exercises.count} exercises
              that explore different concepts and ideas.

          = button_to join_track_path(@track), method: :post, class: "btn-cta" do
            = graphical_icon(:plus)
            Join The #{@track.title} Track

    %header.page-header
      .lg-container.container
        = graphical_icon "laptop-man-1", css_class: 'graphic', category: 'graphics'

        .info
          %h1
            All the
            = track_icon(@track)
            exercises on Exercism
          %p Unlock more exercises as you progress. They’re great practice and fun to do!
          %progress.progress-bar{ value: @num_completed, max: @exercises.size }
          .progress-text #{pluralize(@num_completed, 'exercise')} completed

    %section.exercises
      .lg-container.container
        .c-search-bar
          %input.--search{ placeholder: "Search by title" }
        .tabs
          .c-tab.selected
            All Exercises
            .count 160
          .c-tab
            Completed
            .count 14
          .c-tab
            In Progress
            .count 29
          .c-tab
            Available
            .count 37
          .c-tab
            Locked
            .count 100

        .exercises
          - @exercises.each do |exercise|
            = render ViewComponents::Widgets::Exercise.new(exercise, @user_track, size: :large)

