- content_for :meta_title, "#{@track.title} exercises on Exercism"
- content_for :meta_description, "Explore the #{@user_track.num_exercises} #{@track.title} exercises on Exercism"
- content_for :canonical_url, track_exercises_url(@track)
- require_stylesheet "track"

#page-exercises-index
  = render ViewComponents::Track::Header.new(@track, :exercises)

  %article.content
    - if @user_track.external?
      .md-container.container.hidden.lg:block
        %section.external-cta
          = track_icon(@track)
          .info
            %h2 Practice #{@user_track.num_exercises} exercises in #{@track.title}
            %p
              Learn and practice #{@track.title} by completing #{@user_track.num_exercises} exercises
              that explore different concepts and ideas.

          = button_to join_track_path(@track), method: :post, class: "btn-primary btn-m" do
            = graphical_icon(:plus)
            Join The #{@track.title} Track

    %header.page-header
      .lg-container.container.flex-col.sm:flex-row
        = graphical_icon "laptop-man-1", css_class: 'graphic mb-16 md:mb-0', category: 'graphics'

        .info.text-center.sm:text-left
          %h1 Explore the #{@track.title} exercises on Exercism
          %p Unlock more exercises as you progress. They’re great practice and fun to do!

    %section.exercises
      = render ReactComponents::Student::ExerciseList.new(@track, params)

