.sm-container.flex.flex-col.items-center
  %h1.text-64.font-bold.leading-130.text-textColor2.mt-64.mb-12= t('.editor_unavailable_title')
  - if @track.has_test_runner?
    %h2.text-h2.mb-20= t('.test_runner_not_working_title')
    %p.text-p-xlarge.mb-32.text-center
      = t('.test_runner_not_working_description_html', github_link: link_to(t('.github_repo_link_text'), "https://github.com/exercism/#{@track.slug}-test-runner")).html_safe
  - else
    %h2.text-h2.mb-20= t('.editor_unsupported_title')
    %p.text-p-xlarge.mb-32.text-center
      = t('.editor_unsupported_description')

  = render ViewComponents::ProminentLink.new(t('.back_to_exercise_button'), track_exercise_path(@track, @exercise))
