#page-exercise-show
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :overview)

  .lg-container.tw-flex
    .tw-w-arbitary.tw-flex-grow
      - if @solution&.completed?
        %section.completed-heading
          = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
          .text You've completed #{@exercise.title}.
          = render ViewComponents::ProminentLink.new("Discover more exercises", track_exercises_path(@track))

      = ReactComponents::Student::Nudge.new(@solution) if @solution
      = render "tracks/exercises/show/concepts_section", user_track: @user_track, track: @track, exercise: @exercise, solution: @solution
      = ReactComponents::Student::SolutionSummary.new(@solution) if @solution

      - if @exercise.tutorial?
        %section.tutorial-introduction
          “Hello, World!” will get you writing some #{@track.title} and familiarise yourself with the Exercism workflow.
          %strong Completing it unlocks the rest of the #{@track.title} Track.

      - elsif @exercise.practice_exercise?
        - introduction = @solution ? @solution.introduction : @exercise.introduction
        - if introduction.present?
          %section.introduction.c-textual-content.--large
            %h2 Introduction
            = raw Markdown::Parse.(introduction)

      - else
        = render "tracks/exercises/show/uncompleted_concepts_section", user_track: @user_track, track: @track, exercise: @exercise, solution: @solution

      %section.instructions.c-textual-content.--large
        %h2 Instructions
        - instructions = @solution ? @solution.instructions : @exercise.instructions
        = raw Markdown::Parse.(instructions)

      -# TODO: add styling
      - if @exercise.source.present? || @exercise.source_url.present?
        %section.source
          %h2 Based on
          - source = @solution ? @solution.source : @exercise.source
          - source_url = @solution ? @solution.source_url : @exercise.source_url
          = [source, source_url].compact_blank.join(' - ')

    .tw-w-1-3.tw-flex-shrink-0.tw-ml-32
      - if @solution&.completed?
        = render "tracks/exercises/show/action_box_completed"
      - elsif @solution&.iterated?
        = render "tracks/exercises/show/action_box_continue", track: @track, exercise: @exercise
      - elsif @user_track
        - if @user_track.exercise_unlocked?(@exercise)
          = render "tracks/exercises/show/action_box_start", exercise: @exercise

        - else
          .action-box
            %h3
              = icon :lock, "This exercise is locked"
              Unlock #{@exercise.title}
            %p
              This exercise is currently unavailable for you to start. Complete all of these exercises to unlock
              %strong #{@exercise.title}.

            .prereqs
              - @exercise.prerequisite_exercises.each do |prereq|
                = render ReactComponents::Common::ExerciseWidget.new(prereq, @user_track, size: :small)

      - else
        / TODO: External state
        External State
