#page-exercise-show
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :overview)

  .lg-container.tw-flex
    .tw-w-arbitary.tw-flex-grow
      - if @solution&.completed?
        %section.completed-heading
          = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
          .text You've completed #{@exercise.title}.
          = render ViewComponents::ProminentLink.new("Discover more exercises", track_exercises_path(@track))

      = ReactComponents::Student::Nudge.new(@solution) if @solution
      = render "tracks/exercises/show/concepts_section", user_track: @user_track, track: @track, exercise: @exercise, solution: @solution
      = ReactComponents::Student::SolutionSummary.new(@solution) if @solution

      -# TODO: I've just added this here to verify that the temp endpoint works
      - if @solution && @solution.mentor_discussions.finished.any?
        %p You've completed the mentor discussion for this exercise

      - if @exercise.tutorial?
        %section.tutorial-introduction
          “Hello, World!” will get you writing some #{@track.title} and familiarise yourself with the Exercism workflow.
          %strong Completing it unlocks the rest of the #{@track.title} Track.

      - elsif @exercise.practice_exercise?
        - introduction = @solution ? @solution.introduction : @exercise.introduction
        - if introduction.present?
          %section.introduction.c-textual-content.--large
            %h2 Introduction
            = raw Markdown::Parse.(introduction)

      - else
        = render "tracks/exercises/show/uncompleted_concepts_section", user_track: @user_track, track: @track, exercise: @exercise, solution: @solution

      %section.instructions.c-textual-content.--large
        %h2 Instructions
        - instructions = @solution ? @solution.instructions : @exercise.instructions
        = raw Markdown::Parse.(instructions)

        - if @exercise.source.present? || @exercise.source_url.present?
          .source
            %hr.c-divider.--small
            %h3 Source
            - source = @solution ? @solution.source : @exercise.source
            - source_url = @solution ? @solution.source_url : @exercise.source_url
            - if source.present? && source_url.present?
              = external_link_to source, source_url
            - elsif source.present?
              = source
            - else
              Explore the #{external_link_to 'source of this exercise', source_url}.

    .tw-w-1-3.tw-flex-shrink-0.tw-ml-32
      - if @solution&.completed?
        = render "tracks/exercises/show/action_box_completed", track: @track, exercise: @exercise, solution: @solution
      - elsif @solution&.iterated?
        = render "tracks/exercises/show/action_box_continue", track: @track, exercise: @exercise, solution: @solution
      - elsif @user_track && !@user_track.external?
        - if @user_track.exercise_unlocked?(@exercise)
          = render "tracks/exercises/show/action_box_start", track: @track, exercise: @exercise
        - else
          = render "tracks/exercises/show/action_box_locked", exercise: @exercise, user_track: @user_track
      - elsif user_signed_in?
        = render "tracks/exercises/show/action_box_join_track", exercise: @exercise, track: @track
      - else
        = render "tracks/exercises/show/action_box_join_exercism", exercise: @exercise, track: @track
