#page-exercise-show
  = render ViewComponents::Track::ExerciseHeader.new(@track, @exercise, @solution, :overview)

  .lg-container.tw-flex
    .tw-w-arbitary.tw-flex-grow
      - if @solution&.completed?
        %section.completed-heading
          = graphical_icon 'completed-check-circle', css_class: "check-mark-icon"
          .text You've completed #{@exercise.title}.
          = render ViewComponents::ProminentLink.new("Discover more exercises", track_exercises_path(@track))

      = render "tracks/exercises/show/nudge_section", user_track: @user_track, track: @track, exercise: @exercise, iteration: @iteration
      = render "tracks/exercises/show/iteration_section", user_track: @user_track, track: @track, exercise: @exercise, iteration: @iteration

      - if @exercise.concept_exercise?
        = render "tracks/exercises/show/concepts_section", user_track: @user_track, track: @track, exercise: @exercise, iteration: @iteration

      - if @exercise.practice_exercise?
        - introduction = @solution ? @solution.introduction : @exercise.introduction
        - if introduction.present?
          %section.introduction.c-textual-content.--large
            %h2 Introduction
            = raw Markdown::Parse.(introduction)

      %section.instructions.c-textual-content.--large
        %h2 Instructions
        - instructions = @solution ? @solution.instructions : @exercise.instructions
        = raw Markdown::Parse.(instructions)

      -# TODO: add styling
      - if @exercise.source.present? || @exercise.source_url.present?
        %section.source
          %h2 Based on
          - source = @solution ? @solution.source : @exercise.source
          - source_url = @solution ? @solution.source_url : @exercise.source_url
          = [source, source_url].compact_blank.join(' - ')

    .tw-w-1-3.tw-flex-shrink-0.tw-ml-32
      - if @solution
        - if @solution.completed?
          = render "tracks/exercises/show/action_box_completed"
        - else
          = render "tracks/exercises/show/action_box_continue", track: @track, exercise: @exercise
      - elsif @user_track
        - if @user_track.exercise_available?(@exercise)
          = render "tracks/exercises/show/action_box_start", exercise: @exercise

        - else
          .action-box
            %h3
              = icon :lock, "This exercise is locked"
              Unlock #{@exercise.title}
            %p
              This exercise is currently unavailable for you to start. Complete all of these exercises to unlock
              %strong #{@exercise.title}.

            .prereqs
              - @exercise.prerequisite_exercises.each do |prereq|
                = render ViewComponents::Widgets::Exercise.new(prereq, @user_track, size: :small)

      - else
        / TODO: External state
        External State
