- exercise_meta_tags(@exercise, @user_track)
- require_stylesheet "track"

#page-exercise-show
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :overview)
  - if @user_track.external?
    = render "tracks/exercises/show/external", track: @track, exercise: @exercise, user_track: @user_track
  - else
    .lg-container.flex.flex-col.lg:flex-row
      .flex-shrink-0.mb-32.lg:mb-0{ class: 'lg:w-[40%]' }
        .bg-backgroundColorA.shadow-lg.py-20.px-20.rounded-8{ class: "lg:py-24 lg:px-32" }
          - if @solution
            - if @solution.status_completed? || @solution.status_published?
              = render "tracks/exercises/show/timeline_completed", track: @track, exercise: @exercise, solution: @solution, user_track: @user_track
            - elsif @solution.status_iterated?
              = render "tracks/exercises/show/timeline_iterated", track: @track, exercise: @exercise, solution: @solution, user_track: @user_track
            - elsif @solution.status_started?
              = render "tracks/exercises/show/timeline_pending", track: @track, exercise: @exercise, solution: @solution

          - else
            - if @user_track.exercise_unlocked?(@exercise)
              = render "tracks/exercises/show/timeline_pending", track: @track, exercise: @exercise, solution: nil
            - elsif @user_track.tutorial_exercise_completed?
              = render "tracks/exercises/show/action_box_locked", exercise: @exercise, user_track: @user_track
            - else
              = render "tracks/exercises/show/action_box_locked_by_hello_world", exercise: @exercise, user_track: @user_track, track: @track

        .mt-28.ml-8
          = render ViewComponents::ProminentLink.new("View track documentation", Exercism::Routes.track_docs_path(@track))

      .lg:ml-32.lg:w-arbitary.flex-grow
        - if @exercise.concept_exercise?
          - if @solution&.completed?
            = render "tracks/exercises/show/concepts_section", user_track: @user_track, track: @track, exercise: @exercise, solution: @solution
          - else
            = render "tracks/exercises/show/uncompleted_concepts_section", user_track: @user_track, track: @track, exercise: @exercise, solution: @solution
        = render "tracks/exercises/show/instructions", track: @track, exercise: @exercise, solution: @solution
