#page-settings-donations.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:premium)

    %article
      %h1 Premium
      %section
        .subscription-box
          = graphical_icon "donation-superhero", category: :graphics
          .flex.flex-col.items-start
            - if current_user.active_premium_subscription
              = render ReactComponents::Donations::SubscriptionForm.new
            - else
              -# TODO: update copy
              %h2 Join Exercism Premium
              %p.text-p-base
                Exercism is a not-for-profit organisation that relies on community donations to grow.
                Support
                = link_to "our mission", about_path, class: "text-a-subtle"
                to help everyone get better at programming.
              = link_to "Find out more", donate_path, class: "btn-primary btn-s"

          %table.payments
            %tr
              %th Date
              %th Amount
              %th Via
              %th
            - @payments.each do |payment|
              %tr
                %td= format_date(payment.created_at)
                %td= number_to_currency(payment.amount_in_dollars)
                %td
                  - case payment.provider
                  - when :stripe
                    Stripe
                  - when :paypal
                    PayPal
                  - when :github
                    GitHub
                %td
                  - if payment.external_receipt_url
                    = link_to payment.external_receipt_url, class: 'btn-enhanced btn-xs' do
                      = graphical_icon "download"
                      %span View Receipt

        - if current_user.active_premium_subscription
          .summary-box
            %h3.text-h5.mb-4 Your premium payments will appear here
            %p.text-p-base.mb-4
              Once you've paid, you'll be able to see a history of all payment here.
            %p.text-p-base
              If you've paid for premium, but do not see your payments here or have not been awarded the Supporter badge, please email
              = link_to "Loretta", "mailto:loretta@exercism.org"
              and she'll sort it for you.
