#page-settings-general.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:general)

    %article
      %h1= t('.account_settings.heading')

      - if current_user.unconfirmed_email.present?
        .unconfirmed-email
          %span= t('.account_settings.confirmation_email_sent', email: current_user.unconfirmed_email)
          = button_to user_confirmation_path(user: { email: current_user.unconfirmed_email }), method: :post, class: "c-prominent-link" do
            %span= t('.account_settings.resend_email_button')
            = graphical_icon("arrow-right")

      %section
        = render ReactComponents::Settings::ProfileForm.new

      %section.picture-section
        = render ReactComponents::Settings::PhotoForm.new

      %section.pronouns-section
        = render ReactComponents::Settings::PronounsForm.new

      %section
        = render ReactComponents::Settings::HandleForm.new
      %section
        = render ReactComponents::Settings::EmailForm.new

      %section
        = render ReactComponents::Settings::PasswordForm.new

      - if current_user.profile.present?
        %section.danger
          = render ReactComponents::Settings::DeleteProfileForm.new

      .danger-section
        .reset.box
          %h2= t('.account_settings.reset_account.heading')
          .info
            %p
              = t('.account_settings.reset_account.info_html').html_safe

          = render ReactComponents::Settings::ResetAccountButton.new

        .box
          %h2= t('.account_settings.delete_account.heading')
          .info
            %strong= t('.account_settings.delete_account.info_strong')
            = t('.account_settings.delete_account.info_text')
          = render ReactComponents::Settings::DeleteAccountButton.new
