#page-settings-general.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:general)

    %article
      %h1 Account Settings

      - if current_user.unconfirmed_email.present?
        .unconfirmed-email
          %span We've sent a confirmation email to #{current_user.unconfirmed_email}
          = render ViewComponents::ProminentLink.new("Resend email", "#")

      %section
        = render ReactComponents::Settings::ProfileForm.new

      %section.pronouns-section
        = render ReactComponents::Settings::PronounsForm.new

      %section
        = render ReactComponents::Settings::HandleForm.new

      %section
        = render ReactComponents::Settings::EmailForm.new

      %section
        = render ReactComponents::Settings::PasswordForm.new
