#page-settings-general.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:general)

    %article
      %h1 Account Settings

      - if current_user.unconfirmed_email.present?
        .unconfirmed-email
          %span We've sent a confirmation email to #{current_user.unconfirmed_email}
          = link_to user_confirmation_path(user: { email: current_user.unconfirmed_email }), method: :post, class: "c-prominent-link" do
            %span Resend email
            = graphical_icon("arrow-right")

      %section
        = render ReactComponents::Settings::ProfileForm.new

      %section.picture-section
        = render ReactComponents::Settings::PhotoForm.new

      %section.pronouns-section
        = render ReactComponents::Settings::PronounsForm.new

      %section
        = render ReactComponents::Settings::HandleForm.new

      %section.github-section.flex.flex-col.items-start
        %h2 GitHub Integration
        %hr.c-divider.--small
        - if current_user.provider.present?
          %p.text-16.leading-140
            Your Exercism and GitHub accounts are linked. Any pull requests that are merged on GitHub should award you
            = link_to doc_path(:using, "product/reputation"), class: 'external-link' do
              reputation
              = icon "external-link", "(opens in a new tab)"
            on your Exercism account.
        - else
          %p.text-16.leading-140.mb-16
            To be awarded
            = link_to doc_path(:using, "product/reputation"), class: 'external-link' do
              reputation
              = icon "external-link", "(opens in a new tab)"
            on Exercism when you submit pull requests on GitHub, please connect your accounts using the button below.
          = button_to omniauth_authorize_path(:user, :github),
            form_class: "github-btn",
            class: "btn-enhanced btn-m",
            method: :post,
            data: { turbo: false } do
            = graphical_icon 'external-site-github'
            Connect with GitHub

      %section
        = render ReactComponents::Settings::EmailForm.new

      %section
        = render ReactComponents::Settings::PasswordForm.new

      - if current_user.profile.present?
        %section.danger
          = render ReactComponents::Settings::DeleteProfileForm.new

      .danger-section
        .reset.box
          %h2 Reset account
          .info
            %p
              Resetting your account will
              %strong reset your progress on all tracks,
              reset all exercises and remove access to all your previous mentoring.

          = render ReactComponents::Settings::ResetAccountButton.new

        .box
          %h2 Delete account
          .info
            %strong This option will eliminate your account entirely with all data.
            You’ll get a chance to confirm your choice.
          = render ReactComponents::Settings::DeleteAccountButton.new
