#page-settings-general.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:general)

    %article
      %h1 Account Settings

      - if current_user.unconfirmed_email.present?
        .unconfirmed-email
          %span We've sent a confirmation email to #{current_user.unconfirmed_email}
          = render ViewComponents::ProminentLink.new("Resend email", "#")

      %section
        = render ReactComponents::Settings::ProfileForm.new

      %section.pronouns-section
        = render ReactComponents::Settings::PronounsForm.new

      %section
        = render ReactComponents::Settings::HandleForm.new

      %section
        = form_with model: current_user, url: sudo_update_settings_path, method: :patch do |f|
          %h2 Change your email
          %hr.c-divider.--small
          .field
            = f.label :email, "Your email address", class: 'label'
            = f.text_field :email, required: true

          .field
            = f.label :sudo_password, "Confirm your password", class: 'label'
            = f.password_field :sudo_password, required: true

            %p.info You can change your email using the form above. We will send you a new confirmation email for you to accept.
          .form-footer
            = f.button "Change email", class: "btn-primary btn-m", method: :patch

      %section
        = form_with model: current_user, url: sudo_update_settings_path, method: :patch do |f|
          %h2 Change your password
          %hr.c-divider.--small
          .field
            = f.label :sudo_password, "Current Password", class: 'label'
            = f.password_field :sudo_password, required: true

          .field
            = f.label :password, "New password", class: 'label'
            = f.password_field :password, required: true
          .field
            = f.label :password_confirmation, "Confirm new password", class: 'label'
            = f.password_field :password_confirmation, required: true

            %p.info
              %strong Warning: Changing your password will sign you out.
              You can then sign back in with your new password.
          .form-footer
            = f.button "Change email", class: "btn-primary btn-m", method: :patch

