#page-settings-general.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:general)

    %article
      %h1 Account Settings

      - if current_user.unconfirmed_email.present?
        .unconfirmed-email
          %span We've sent a confirmation email to #{current_user.unconfirmed_email}
          = button_to user_confirmation_path(user: { email: current_user.unconfirmed_email }), method: :post, class: "c-prominent-link" do
            %span Resend email
            = graphical_icon("arrow-right")

      %section
        = render ReactComponents::Settings::ProfileForm.new

      %section.picture-section
        = render ReactComponents::Settings::PhotoForm.new

      %section.pronouns-section
        = render ReactComponents::Settings::PronounsForm.new

      %section
        = render ReactComponents::Settings::HandleForm.new
      %section
        = render ReactComponents::Settings::EmailForm.new

      %section
        = render ReactComponents::Settings::PasswordForm.new

      - if current_user.profile.present?
        %section.danger
          = render ReactComponents::Settings::DeleteProfileForm.new

      .danger-section
        .reset.box
          %h2 Reset account
          .info
            %p
              Resetting your account will
              %strong reset your progress on all tracks,
              reset all exercises and remove access to all your previous mentoring.

          = render ReactComponents::Settings::ResetAccountButton.new

        .box
          %h2 Delete account
          .info
            %strong This option will eliminate your account entirely with all data.
            You’ll get a chance to confirm your choice.
          = render ReactComponents::Settings::DeleteAccountButton.new
