- all_tracks_completed_percentage = 42

#page-journey
  = render "journey/hero", user_tracks: @user_tracks

  = render ReactComponents::Journey::JourneyPage.new("overview", params)

  %article.overview-tab.theme-dark
    .md-container
      %section.learning-section
        %header.section-header
          = graphical_icon :exercises, hex: true
          %h2.journey-h2 Your learning
          %p
            You’ve progressed the furthest in
            = succeed(',') do
              %span.track.t-b-csharp C# (78.2%)
            followed by 
            = succeed(',') do
              %span.track.t-b-kotlin Kotlin (77.8%)
            %span.track.t-b-fsharp F# (65.1%)
            and
            %span.track.t-b-javascript Javascript (40.1%).

        .summary-boxes
          .box
            .journey-h3 9
            .journey-label Tracks enrolled
          .box
            .journey-h3 129
            .journey-label Exercises completed
          .box
            .journey-h3 78
            .journey-label Concepts learnt

        .overview
          %h3
            You're
            %em #{all_tracks_completed_percentage}%
            through your entrolled Tracks.
            %strong Keep it up! 🚀

          .c-progress.--large
            .bar{ style: "width: #{all_tracks_completed_percentage}%" }
            / TODO: Disable this on SRs?
            .completed-icon
              = icon "completed-check-circle", "Completed", css_class: "completed-icon"

          .count 221/520 exercises completed


      %section.mentoring-section
        %header.section-header
          = graphical_icon :mentoring, hex: true
          %h2.journey-h2 Your mentoring
          %p
            You’ve mostly mentored in
            = succeed(',') do
              %span.track.t-b-csharp C# (48%)
            followed by 
            %span.track.t-b-fsharp F# (32%)
            and
            %span.track.t-b-javascript Javascript (20%).
        .content
          .info
            .summary-boxes
              .box
                .journey-h3 318
                .journey-label Total sessions mentored
                .c-community-rank-tag.--top-1 Top 1%
              .box
                .journey-h3 250
                .journey-label Total students mentored
                .c-community-rank-tag.--top-3 Top 3%
              .box
                .journey-h3 1.27
                .journey-label Sessions per student
                -# .c-community-rank-tag.--top-10 Top 3%
            .track-metrics
              .track
                .dot.t-b-fsharp
                = track_icon Track.first
                .details
                  .journey-label= Track.first.title
                  .journey-h4 140 sessions
              .track
                .dot.t-b-ruby
                = track_icon Track.second
                .details
                  .journey-label= Track.second.title
                  .journey-h4 130 sessions
              .track
                .dot.t-b-csharp
                = track_icon Track.third
                .details
                  .journey-label= Track.third.title
                  .journey-h4 60 sessions
          .chart
            // Kntsoriano - we already have this in React
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
            <canvas id="mentoring-chart" width="350" height="350"></canvas>

            :javascript
              const config = {
                type: 'doughnut',
                options: {
                  plugins: {
                    legend: { display: false },
                  }
                },
                data: {
                  labels: [
                    'C#',
                    'F#',
                    'JavaScript'
                  ],
                  datasets: [{
                    label: 'Sessions mentored per track',
                    data: [140, 130, 60],
                    // Kntsoriano: You need to compute these from CSS vars
                    // It will be something like this:
                    //
                    // slug = "javascript"
                    // doc = getComputedStyle(document.documentElement)
                    // colors = doc.getPropertyValue(`--track-color-${slug}`);
                    // `rgb(${colors})`
                    backgroundColor: [
                      'rgb(19, 140, 148)',
                      'rgb(48, 185, 219)',
                      'rgb(240, 219, 79)'
                    ],
                    borderWidth: 0,
                    cutout:150,
                    hoverOffset: 4
                  }]
                }
              };
              var ctx = document.getElementById('mentoring-chart').getContext('2d');
              var myChart = new Chart(ctx, config)

      %section.contributing-section
        %header.section-header
          = graphical_icon :contribute, hex: true
          %h2.journey-h2 Your contributions
          %p
            You’ve contributed most to
            = succeed(',') do
              %span.track.t-b-csharp C# (48%)
            followed by 
            %span.track.t-b-fsharp F# (32%)
            and
            %span.track.t-b-javascript Javascript
        .content
          .lhs
            / This is the Profile/TotalReputation component
            .c-primary-reputation.--large
              .--inner
                You have
                = graphical_icon "reputation"
                500 Reputation

      %section.badges-section
        .info
          .journey-h3 A glimpse of your badges collection
          %p.text-p-large You have one legendary badge, two ultimate badges, and 12 common badges.
          = render ViewComponents::ProminentLink.new("See your entire badge collection", badges_journey_path, with_bg: true)

        .badges
          .c-badge-medallion{ class: "--common" }
            = graphical_icon "mentoring"
          .c-badge-medallion{ class: "--rare" }
            = graphical_icon "building"
          .c-badge-medallion{ class: "--ultimate" }
            = graphical_icon "task-type"
          .c-badge-medallion{ class: "--legendary" }
            = graphical_icon "task-action-improve"
