- all_tracks_completed_percentage = 42

#page-journey
  = render "journey/hero", user_tracks: @user_tracks

  = render ReactComponents::Journey::JourneyPage.new("overview", params)

  %article.overview-tab.theme-dark
    .md-container
      %section.learning-section
        %header.section-header
          = graphical_icon :exercises, hex: true
          %h2.journey-h2 Your learning
          %p
            You’ve progressed the furthest in
            = succeed(',') do
              %span.track.t-b-csharp C# (78.2%)
            followed by 
            = succeed(',') do
              %span.track.t-b-kotlin Kotlin (77.8%)
            %span.track.t-b-fsharp F# (65.1%)
            and
            %span.track.t-b-javascript Javascript (40.1%).

        .summary-boxes
          .box
            .journey-h3 9
            .journey-label Tracks enrolled
          .box
            .journey-h3 129
            .journey-label Exercises completed
          .box
            .journey-h3 78
            .journey-label Concepts learnt

        .overview
          %h3
            You're
            %em #{all_tracks_completed_percentage}%
            through your entrolled Tracks.
            %strong Keep it up! 🚀

          .c-progress.--large
            .bar{ style: "width: #{all_tracks_completed_percentage}%" }

          .count 221/520 exercises completed

        - tracks = [[Track.first, 100], [Track.second, 87]]
        .tracks
          - tracks.each do |track, percentage_completed|
            %details.c-details.track
              %summary.--summary
                .--summary-inner
                  = track_icon track
                  %h3= track.title

                  - if percentage_completed == 100
                    .c-progress.--small.--completed
                      .bar{ style: "width: #{percentage_completed}%" }
                      .completed-icon
                        = icon "completed-check-circle", "Completed", css_class: "completed"

                  - else
                    .c-progress.--small
                      .bar{ style: "width: #{percentage_completed}%" }

                  .percentage #{percentage_completed}%

                  = graphical_icon "chevron-right", css_class: "--closed-icon"
                  = graphical_icon "chevron-down", css_class: "--open-icon"

              .track-details
                .time-area
                  - points = "0,95, 20,93, 40,85, 60,70, 80,64, 100,59, 120,55, 140,48, 160,40, 180,32, 200,22, 220,20, 240,15, 260,13, 280,10, 300,4"
                  <svg viewBox="0 0 300 100">
                  <polyline fill="none" stroke="url(#paint0_linear)" stroke-width="3.5" points="#{points}"/>
                  <defs>
                  <linearGradient id="paint0_linear" x1="66" y1="2.5" x2="66" y2="50.5" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#2200FF"/>
                  <stop offset="1" stop-color="#9E00FF"/>
                  </linearGradient>
                  </defs>
                  </svg>

                  .info
                    %h4 Last 12 months
                    %p 234/322 (78.2%) exercises completed

                .velocity-area
                  = graphical_icon "velocity"
                  .journey-h3 9.05
                  %h4 Progression Velocity
                  .note Avg. on Exercism = 2.52

                  .info
                    This is a measure of how quickly you’ve progressed through the track in the last 6 months
        .stats
          %h3 Did you know?
          .stat
            You’ve written
            %strong 1,500 lines
            of code across
            = link_to "97 solutions", "#"
          .stat
            That’s approximately equivalent to the length of an
            = link_to "Aesop’s Fable!", "#"


      %section.mentoring-section
        %header.section-header
          = graphical_icon :mentoring, hex: true
          %h2.journey-h2 Your mentoring
          %p
            You’ve mostly mentored in
            = succeed(',') do
              %span.track.t-b-csharp C# (48%)
            followed by 
            %span.track.t-b-fsharp F# (32%)
            and
            %span.track.t-b-javascript Javascript (20%).
        .content
          .info
            .summary-boxes
              .box
                .journey-h3 318
                .journey-label Total sessions mentored
                .c-community-rank-tag.--top-1 Top 1%
              .box
                .journey-h3 250
                .journey-label Total students mentored
                .c-community-rank-tag.--top-3 Top 3%
              .box
                .journey-h3 1.27
                .journey-label Sessions per student
                -# .c-community-rank-tag.--top-10 Top 3%
            .track-metrics
              .track
                .dot.t-b-fsharp
                = track_icon Track.first
                .details
                  .journey-label= Track.first.title
                  .journey-h4 140 sessions
              .track
                .dot.t-b-ruby
                = track_icon Track.second
                .details
                  .journey-label= Track.second.title
                  .journey-h4 130 sessions
              .track
                .dot.t-b-csharp
                = track_icon Track.third
                .details
                  .journey-label= Track.third.title
                  .journey-h4 60 sessions
          .chart
            // Kntsoriano - we already have this in React
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
            <canvas id="mentoring-chart" width="350" height="350"></canvas>

            :javascript
              const config = {
                type: 'doughnut',
                options: {
                  plugins: {
                    legend: { display: false },
                  }
                },
                data: {
                  labels: [
                    'C#',
                    'F#',
                    'JavaScript'
                  ],
                  datasets: [{
                    label: 'Sessions mentored per track',
                    data: [140, 130, 60],
                    // Kntsoriano: You need to compute these from CSS vars
                    // It will be something like this:
                    //
                    // slug = "javascript"
                    // doc = getComputedStyle(document.documentElement)
                    // colors = doc.getPropertyValue(`--track-color-${slug}`);
                    // `rgb(${colors})`
                    backgroundColor: [
                      'rgb(19, 140, 148)',
                      'rgb(48, 185, 219)',
                      'rgb(240, 219, 79)'
                    ],
                    borderWidth: 0,
                    cutout:150,
                    hoverOffset: 4
                  }]
                }
              };
              var ctx = document.getElementById('mentoring-chart').getContext('2d');
              var myChart = new Chart(ctx, config)

    .lg-container
      %section.contributing-section
        %header.section-header
          = graphical_icon :contribute, hex: true
          %h2.journey-h2 Your contributions
          %p
            You’ve contributed most to
            = succeed(',') do
              %span.track.t-b-csharp C# (48%)
            followed by 
            %span.track.t-b-fsharp F# (32%)
            and
            %span.track.t-b-javascript Javascript
          %hr.c-divider
        .content
          <div class="c-contributions-summary"><div class="summary"><div class="c-primary-reputation --large"><div class="--inner">You have <img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/reputation-fa230cf4d89ede908a0c91cb571ee843.svg" alt="" role="presentation" class="c-icon">29,145 Reputation</div></div><div class="c-single-select c-track-select --size-large"><button type="button" aria-controls="24829652-4b63-416d-a869-aa92c551780d" aria-haspopup="true"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/all-tracks-e54a4abbd8a87a8faaff14affa5e2213.svg" alt="" role="presentation" class="c-icon all"><div class="track-title">All Tracks</div><div class="count">29,145 rep</div><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/chevron-down-251a3f80ac5e7f1016acb3d408da03a4.svg" alt="Click to change" class="c-icon action-icon"></button></div><div class="category"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/community-solutions-7de686f79eabdd8c82e19807073e585d.svg" alt="" role="presentation"></div><div class="info"><div class="title">Publishing</div><div class="subtitle">35 solutions published</div></div><div class="reputation">40 rep</div></div><div class="category"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/mentoring-30978fb2e7345dda235a8a801faa354b.svg" alt="" role="presentation"></div><div class="info"><div class="title">Mentoring</div><div class="subtitle">143 students mentored</div></div><div class="reputation">630 rep</div></div><div class="category"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/authoring-bbbb21daa447d2a45ebbbdf2f7990fc0.svg" alt="" role="presentation"></div><div class="info"><div class="title">Authoring</div><div class="subtitle">11 exercises contributed</div></div><div class="reputation">150 rep</div></div><div class="category"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/building-88e4ddc530d99100a3826784f64b4550.svg" alt="" role="presentation"></div><div class="info"><div class="title">Building</div><div class="subtitle">1,248 PRs accepted</div></div><div class="reputation">14,969 rep</div></div><div class="category"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/maintaining-2f9551faaa749b85b38d5f7e9b94dd2f.svg" alt="" role="presentation"></div><div class="info"><div class="title">Maintaining</div><div class="subtitle">3,298 PRs reviewed</div></div><div class="reputation">13,356 rep</div></div><div class="category"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/more-horizontal-eca1a9a537fa11719cd86f96419e1ad2.svg" alt="" role="presentation"></div><div class="info"><div class="title">Other</div></div><div class="reputation">No rep</div></div><a href="https://exercism.lol/profiles/iHiD/contributions" class="c-prominent-link --with-bg"><span>See all your contributions</span><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/arrow-right-6d6ad99bb104736f9061ce192d7c5938.svg" alt="" role="presentation" class="c-icon"></a></div><div class="chart-container"><div class="label" style="left: 300px; margin-left: -61px; bottom: 538px; visibility: visible;"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/community-solutions-7de686f79eabdd8c82e19807073e585d.svg" alt="" role="presentation"></div><div class="title">Publishing</div><div class="subtitle">35 solutions</div></div><div class="label" style="left: 470.813px; bottom: 388px; visibility: visible;"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/mentoring-30978fb2e7345dda235a8a801faa354b.svg" alt="" role="presentation"></div><div class="title">Mentoring</div><div class="subtitle">143 students</div></div><div class="label" style="left: 470.813px; bottom: 188px; visibility: visible;"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/authoring-bbbb21daa447d2a45ebbbdf2f7990fc0.svg" alt="" role="presentation"></div><div class="title">Authoring</div><div class="subtitle">11 exercises</div></div><div class="label" style="left: 300px; margin-left: -71px; bottom: 38px; visibility: visible;"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/building-88e4ddc530d99100a3826784f64b4550.svg" alt="" role="presentation"></div><div class="title">Building</div><div class="subtitle">1,248 PRs accepted</div></div><div class="label" style="left: -11.8128px; bottom: 188px; visibility: visible;"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/maintaining-2f9551faaa749b85b38d5f7e9b94dd2f.svg" alt="" role="presentation"></div><div class="title">Maintaining</div><div class="subtitle">3,298 PRs reviewed</div></div><div class="label" style="left: 7.18722px; bottom: 400px; visibility: visible;"><div class="c-icon --hex"><img src="https://exercism-assets-staging.s3.eu-west-2.amazonaws.com/packs/media/images/icons/more-horizontal-eca1a9a537fa11719cd86f96419e1ad2.svg" alt="" role="presentation"></div><div class="title">Other</div></div><div class="chart"><canvas id="contributions-chart" width="800" height="800" style="display: block; box-sizing: border-box; height: 400px; width: 400px;"></canvas></div></div></div>

    .md-container
      %section.badges-section
        .info
          .journey-h3 A glimpse of your badges collection
          %p.text-p-large You have one legendary badge, two ultimate badges, and 12 common badges.
          = render ViewComponents::ProminentLink.new("See your entire badge collection", badges_journey_path, with_bg: true)

        .badges
          .c-badge-medallion{ class: "--common" }
            = graphical_icon "mentoring"
          .c-badge-medallion{ class: "--rare" }
            = graphical_icon "building"
          .c-badge-medallion{ class: "--ultimate" }
            = graphical_icon "task-type"
          .c-badge-medallion{ class: "--legendary" }
            = graphical_icon "task-action-improve"
