#page-hiring-job.bg-backgroundColorA.pb-16
  %header.c-shapes
    .md-container
      = link_to hiring_page_path, class: "c-prominent-link" do
        = graphical_icon "arrow-left"
        Back to All Job Listings

      .role
        = graphical_icon "hiring-fundraiser", category: 'graphics', css_class: 'graphic'
        .information
          %h1.text-h0.mb-12 Head of Partnerships and Fundraising
          .details
            .remote-tag
              = graphical_icon "stars"
              100% remote
            .salary Salary: £50k (~$68k, ~€60k)

  %article
    .sm-container
      %p.text-p-2xlarge.mb-40
        %strong Become Exercism's Head of Partnerships and Fundraising!
        Are you a strategic thinker? Do you have a track record of identifying and closing sponsorship and partnership deals?
        Do you care about high-quality, free, lifelong education?
        Do you want to work with an exceptional team and help underpin a platform that touches millions of lives?
        If so, this role might be perfect for you.

      %h2.text-h2.mb-12 Summary
      %p.text-p-xlarge.mb-16
        Exercism is a not-for-profit organisation providing world-class programming education to anyone for free.
        Our online platform is centred around self-directed learning and volunteer mentoring, and has nearly one million members.
        Over the next 5 years, we want to become the defacto programming education platform that anyone, anywhere can use for free.
        Through our work we aim to improve the quality of programming skills globally, and increase participation in tech from under-represented groups.
        You can learn more about Exercism in our #{link_to '"About Exercism" pages', 'https://exercism.org/about', target: '_blank', rel: :noopener}.
      %p.text-p-xlarge.mb-16
        To take our next steps we need to grow our core team.
        To do that we need to place ourselves on more solid financial ground.
        We're looking for someone to lead this process, to work with the CEO to create a comprehensive fundraising strategy, and to execute it, raising funds through sponsorship and partnerships.
        Our target is to generate £500k of funds in the next 12 months.
      %p.text-p-xlarge.mb-32
        Exercism is built by a mixture of our full-time core team and thousands of volunteers. The values of kindness, empathy and personal-growth are core to everything we do.
        We're have, and are continuing to build, an exceptional team of ambitious, passionate people who excel at what they do, love their work.
        If that sounds exciting to be part of, and you feel you have the skills to help, we'd love you to apply.

      %h2.text-h2.mb-12 Responsibilities
      %p.text-p-xlarge.mb-16
        So far, fundraising has been done on an ad-hoc basis by our CEO.
        Over the last 3 years, we have raised ~£500k in support from organisations including #{link_to 'Mozilla', 'https://www.mozilla.org/en-GB/', target: '_blank', rel: :noopener}, #{link_to 'Packt Publishing', 'https://www.packtpub.com/about', target: '_blank', rel: :noopener}, #{link_to 'GoBridge', 'https://exercism.org/partners/gobridge', target: '_blank', rel: :noopener}, and the #{link_to 'University of Chicago', 'https://www.uchicago.edu/', target: '_blank', rel: :noopener}.
        Your role is to take that ad-hoc work, formalise it into a coherent strategy, and then execute on that to deliver £500k of new support in the next 12 months.
        If the initial work is successful, we will reinvest some of the funds into growing a fundraising team around you.
        Although most of your role will be autonomous, but will have close access to the CEO to strategise and explore opportunities as needed.
      %p.text-p-xlarge.mb-12
        The key areas of your work will be:

      %ul.text-p-xlarge.mb-40
        %li Work with the CEO to develop an overarching fundraising strategy.
        %li Identify, approach, and close deals with potential sponsors.
        %li Identify partnership opportunities and work with the CEO to close them.
        %li Identify and apply for grants.

      %h2.text-h2.mb-12 Is this job right for you?
      %p.text-p-xlarge.mb-12
        The right person for this role will be someone with the experience to devise and execute a fundraising strategy, who cares about free lifelong education (preferably programming or STEM), and who shares our values.
      %p.text-p-xlarge.mb-12
        Maybe you're relatively early in your career, looking to take a step up into a position of more responsibility.
        Maybe you're coming towards the end of the career and looking to give back to a not-for-profit.
        Or maybe you're somewhere in between. All are fine by us.
        Similarly, we don't require any specific academic qualifications.
        Our main criteria for hiring will be the belief that you will be able to execute in the role.
        For that, we need to see some track-record of fundraising and/or sales and your ability to think and plan strategically.
      %p.text-p-xlarge.mb-12
        At Exercism, we have a shared commitment to kindness, honesty, and curiosity, and strive to build a working environment where everyone can learn, improve and do their best work.
        We believe that everyone has the right to feel happy, safe and supported at work, and strive to ensure that is the case at Exercism.
        We celebrate diversity, and do better work because of the different perspectives and insights that different experiences bring.
        It's important to us that you share these values and want to be part of a team living them out.
      %p.text-p-xlarge.mb-40
        Finally, we want someone who can get passionate about Exercism.
        We're passionate about what we're building - about creating a world-class educational resource that everyone can use for free, and it matters to us that everyone in the team shares that passion.
        You don't have to be a programmer yourself, but hopefully you'll be inspired to learn via Exercism once you start!

      %h2.text-h2.mb-12 Other Requirements
      %p.text-p-xlarge.mb-16
        We are a fully remote team who communicate in English.
        We aim to mix effective work with a sense of connectedness, so spend some time during the week on video calls sharing ideas and updates, some time doing simpler work while being on Slack, and some time offline focussing on deeper-work.

      %p.text-p-xlarge.mb-16
        These lead to the following extra requirements:

      %ul.text-p-xlarge.mb-40
        %li Able to work at least 5 hours per day during 9am - 6pm UTC, to enable you to interact with the rest of the team.
        %li You are willing to travel once per year for an in-person meetup.
        %li You are comfortable using spoken and written English in your job.
        %li You are excited to work in a diverse, inclusive team that cares about culture and where honest, empathic communication is the norm, and self-improvement is a lived value.
        %li You have some interest in tech or programming, and a passion for free education.

      %h2.text-h2.mb-12 Benefits
      %p.text-p-xlarge.mb-16
        Treating each other fairly is at the core of our individual and company values, and we want the pay and benefits of Exercism to reflect that.
        We offer the same benefits to all Exercism employees.

      %ul.text-p-xlarge.mb-16
        %li A truly flexible, remote-first, working culture.
        %li A collaborative, creative and inspiring working environment. No shouty bosses, presenteeism or unexpected deadlines.
        %li £50k starting salary, which increases each year (inflation + 2%).
        %li Matched pension contributions up to 3%.
        %li 35 days holiday.
        %li We will pay for access to a local co-working space (if desired).

      %p.text-p-xlarge.mb-40
        The role is full time, but you may choose to work either 5 days (~40 hours) per week or 4 days (~32 hours) per week. If you opt for the shorter working week, salary and holiday will be prorated accordingly.

      %h2.text-h2.mb-12 How to Apply
      %p.text-p-xlarge.mb-16
        Firstly, if you're about to apply, thank you!
        We're grateful and excited that you're taking the time to do so 🙂
      %p.text-p-xlarge.mb-16
        To apply send an email to
        = link_to "jobs@exercism.org", "mailto:jobs@exercism.org"
        with:

      %ul.text-p-xlarge.mb-16
        %li Subject of "Head of Partnerships and Fundraising"
        %li A couple of paragraphs introducing yourself and providing some brief background.
        %li
          A link to a short video introducing yourself in more detail, telling us why you're interested joining Exercism, and giving us some more information on your experience and why you're right for the role.
          Don't worry about the quality of the video itself! Try and keep it around 5-10 minutes long. We use #{link_to 'Loom', 'https://www.loom.com'} for easy recording and sharing.

      %p.text-p-xlarge.mb-16
        The application process will run as follows:

      %ul.text-p-xlarge.mb-16
        %li You send in your application.
        %li We'll get in touch to acknowledge receipt of your application (generally within 2 working days)
        %li We'll review your application and let you know whether we wish to continue the process with you (generally within 7 working days).
        %li We will send you a questionaire to try and understand more about your experience.
        %li Based on initial applications and questionares, we'll invite a final set of applicants to have a video interview with the CEO.
        %li We hope to make a final decision on who we offer the role to by the end of March.

