- content_for :meta_title, "Supporting Exercism"
- content_for :meta_description, "Can your organisation help Exercism grow? Become rocket fuel for our mission!"

#page-supporters
  %header.pb-56.c-header-with-bg
    .md-container.flex.flex-col.items-center.c-shapes.c-shapes-1
      = graphical_icon "rocket", category: "graphics", css_class: "logo mb-8"
      %h1.text-h0.mb-16
        Become
        %strong rocket fuel
        for our mission
      %p.text-p-2xlarge.text-textColor2.mb-40.text-center
        Partner with us or donate to support our mission to bringing free code learning and practice to the world.

  .md-container
    .cta.flex.flex-col.md:flex-row.md:items-center.border-gradient.py-24.px-24.md:px-40
      = image_pack_tag "team/jeremy-walker.jpg", alt: "Photo of Jeremy Walker", class: 'mr-24 rounded-100'
      .text
        %h2.text-h4.mb-4 Want to discuss how you can help Exercism?
        %p.text-p-large
          Get in touch with
          = succeed(',') do
            %strong Jeremy Walker
          Exercism's CEO.

      = link_to "mailto:jeremy@exercism.io", class: 'btn-primary btn-m ml-auto' do
        = graphical_icon "email"
        %span jeremy@exercism.io

