- content_for :canonical_url, donate_url
#page-donate
  - link_class = "underline hover:text-prominentLinkColor"
  %header.pt-24.pd:mt-40.md:shadow-lgZ1
    .lg-container.flex.flex-col.items-center.c-shapes
      = graphical_icon "community-with-exercism-logo", category: :graphics
      %h1.text-h1.mb-4
        %strong.text-gradient Support our goal:
        Give everyone an equal chance to learn and master programming. ✨

      .text-textColor1.text-20.text-center.leading-150.mb-48
        If you share our desire to make the world a better &amp; fairer place, please support us.
        %br
        %span.font-medium
          You can learn more about our
          = link_to 'Mission,', about_path, class: link_class
          = link_to 'Impact', impact_about_path, class: link_class
          and
          = succeed('.') do
            = link_to 'Team', team_about_path, class: link_class

      #anchor-donate
      .summary.lg-container.hidden.md:flex.items-center
        .item
          .value= number_with_delimiter(User::Data.donors.count)
          .metric Supporters

        .item
          - parts = Payments::Subscription.active_total_per_month_in_dollars.to_s.split(".")
          .value.c-financial-amount.py-10
            .currency.text-16.leading-100.mr-4 $
            .dollars.text-32.leading-130= number_with_delimiter(parts[0])
            .cents.text-20.leading-100 .#{parts[1].to_s.ljust(2, '0')}
          .metric Total Monthly Pledges

        .item
          - parts = Payments::Payment.total_donated_in_dollars.to_s.split(".")
          .value.c-financial-amount.py-10
            .currency.text-16.leading-100.mr-4 $
            .dollars.text-32.leading-130= number_with_delimiter(parts[0])
            .cents.text-20.leading-100 .#{parts[1].to_s.ljust(2, '0')}
          .metric Total Raised (since Sept 2021)

  .lg-container
    %article.pt-40

      - if user_signed_in?
        %section.form-section
          = render ReactComponents::Donations::FormWithModal.new
          = render "alternatives"

      - else
        %section.form-section.flex-shrink-0{ class: 'md:w-[500px] w-full' }
          .c-donations-form.p-32.text-center
            %h2.text-h4.mb-8 Please log in to donate using a debit/credit card.
            %p.text-p-base
              Due to constant attacks by bots we now require that everyone
              = link_to "logs in", new_user_session_path
              or
              = link_to "signs up", new_user_registration_path
              before donating using a debit or credit card. You can still use other forms of donations below. We apologize for the inconvenience!

          = render "alternatives"

      %section.info-section.pt-48.lg:pt-0
        %h2.text-h2.mb-2 Everything you need to know about donations
        %p.text-p-large.mb-16 Why do we need donations? How much does Exercism cost to run? How do we spend donations? Watch Jeremy's explanatory video 👇
        .text-h2.mb-40{ class: 'w-[100%]' }
          = vimeo_embed("855534271?h=97d3a4c8c2")

        %h2.text-h2.mb-32 Here&apos;s what you can do to support us.
        .flex.md:flex-row.flex-col.gap-20.shadow-baseZ1.p-24.rounded-16.bg-backgroundColorA.mb-16.border-2.border-gradient.relative
          = graphical_icon "money-contribution", category: :graphics, css_class: "h-[96px] w-[96px]"
          .flex.flex-col
            .text-h4.mb-4 Donate
            .text-prose.text-textColor5
              Support us financially using the donation box
              %span.hidden.md:inline to the right.
              %span.inline.md:hidden above.
              Every dollar helps us keep us independent, advert-free and able to grow, so please support us if you can! 💜

        .flex.md:flex-row.flex-col.gap-20.shadow-base.p-24.rounded-16.bg-backgroundColorA.mb-16
          = graphical_icon "organisation-contribution", category: :graphics, css_class: "h-[96px] w-[96px]"
          .flex.flex-col
            .text-h4.mb-4 Get your company involved
            .text-prose.text-textColor5
              Does your company support not-for-profits or charities? Do you have a matched giving scheme at work? We&apos;d love to chat to you to understand how your company could support us. Please
              drop us an email at
              = link_to "fundraising@exercism.org", "mailto:fundraising@exercism.org", class: "text-prominentLinkColor font-medium underline"
              and we'll explore further!

        .flex.md:flex-row.flex-col.gap-20.shadow-base.p-24.rounded-16.bg-backgroundColorA.mb-16
          = graphical_icon "social-contribution", category: :graphics, css_class: "h-[96px] w-[96px]"
          .flex.flex-col
            .text-h4.mb-4 Love Exercism? Tell others about us!
            .text-prose.text-textColor5
              Follow us on
              = link_to 'Twitter,', 'https://twitter.com/exercism_io', target: "_blank", rel: 'noreferrer', class: "text-prominentLinkColor font-medium underline"
              = link_to 'GitHub', 'https://github.com/exercism', target: "_blank", rel: 'noreferrer', class: "text-prominentLinkColor font-medium underline"
              and
              = link_to 'LinkedIn', 'https://www.linkedin.com/company/exercism/', target: "_blank", rel: 'noreferrer', class: "text-prominentLinkColor font-medium underline"
              then share our posts, and create your own! We try to share everything we see 🙂


