- content_for :canonical_url, donate_url
#page-donate
  - link_class = "underline hover:text-prominentLinkColor"
  %header.pt-24.pd:mt-40.md:shadow-lgZ1
    .lg-container.flex.flex-col.items-center.c-shapes
      = graphical_icon "community-with-exercism-logo", category: :graphics
      %h1.text-h1.mb-4
        %strong.text-gradient= t('.header.strong_text')
        = t('.header.heading')

      .text-textColor1.text-20.text-center.leading-150.mb-32
        = t('.header.paragraph_html', mission_link: (link_to t('.header.mission'), about_path, class: link_class), impact_link: (link_to t('.header.impact'), impact_about_path, class: link_class), team_link: (link_to t('.header.team'), team_about_path, class: link_class))

    .sm-container{ class: "!pb-28" }
      .border-1.border-borderColor6.shadow-smZ1.rounded-8.p-32.w-100.lg:mb-128.mb-32
        .c-progress
          - target = 25_000.0
          - actual = Payments::Subscription.active_total_per_month_in_dollars
          - progress = [1, actual / target].min * 100
          .bar{ style: "width:#{progress}%" }

          .current-icon{ style: "left:calc(#{progress.round}% - 18px)" }
          .actual-number.hidden{ class: "md:block", style: "left:calc(#{progress.round}% - 160px)" }
            = t('.progress_bar.monthly_donations')
            %span.font-semibold= number_to_currency(actual.round, precision: 0)

          .target-icon
            = graphical_icon "party-popper"
          .goal
            = t('.progress_bar.sustainable_at')
            %span.font-semibold= t('.progress_bar.target_amount')

  .lg-container
    #anchor-donate
    %article.pt-40

      - if user_signed_in?
        %section.form-section
          = render ReactComponents::Donations::FormWithModal.new
          = render "alternatives"

      - else
        %section.form-section.flex-shrink-0{ class: 'md:w-[500px] w-full' }
          .c-donations-form.p-32.text-center
            %h2.text-h4.mb-8= t('.logged_out_form.heading')
            %p.text-p-base
              = t('.logged_out_form.paragraph_html', login_link: (link_to t('.logged_out_form.log_in'), new_user_session_path), signup_link: (link_to t('.logged_out_form.sign_up'), new_user_registration_path))

          = render "alternatives"

      %section.info-section.pt-48.lg:pt-0
        %h2.text-h2.mb-2= t('.info_section.heading_one')
        %p.text-p-large.mb-16= t('.info_section.paragraph_one')
        .text-h2.mb-40{ class: 'w-[100%]' }
          = vimeo_embed("855534271?h=97d3a4c8c2")

        %h2.text-h2.mb-32= t('.info_section.heading_two')
        .flex.md:flex-row.flex-col.gap-20.shadow-baseZ1.p-24.rounded-16.bg-backgroundColorA.mb-16.border-2.border-gradient.relative
          = graphical_icon "money-contribution", category: :graphics, css_class: "h-[96px] w-[96px]"
          .flex.flex-col
            .text-h4.mb-4= t('.info_section.donate_card.title')
            .text-prose.text-textColor5
              %span.hidden.lg:inline= t('.info_section.donate_card.description_right_html', tail: t('.info_section.donate_card.tail_html')).html_safe
              %span.inline.lg:hidden= t('.info_section.donate_card.description_above_html', tail: t('.info_section.donate_card.tail_html')).html_safe

        .flex.md:flex-row.flex-col.gap-20.shadow-base.p-24.rounded-16.bg-backgroundColorA.mb-16
          = graphical_icon "organisation-contribution", category: :graphics, css_class: "h-[96px] w-[96px]"
          .flex.flex-col
            .text-h4.mb-4= t('.info_section.company_card.title')
            .text-prose.text-textColor5
              = t('.info_section.company_card.description_html', email_link: (link_to t('.info_section.company_card.email_address'), "mailto:fundraising@exercism.org", class: "text-prominentLinkColor font-medium underline"))

        .flex.md:flex-row.flex-col.gap-20.shadow-base.p-24.rounded-16.bg-backgroundColorA.mb-16
          = graphical_icon "social-contribution", category: :graphics, css_class: "h-[96px] w-[96px]"
          .flex.flex-col
            .text-h4.mb-4= t('.info_section.social_card.title')
            .text-prose.text-textColor5
              = t('.info_section.social_card.description_html', twitter_link: (link_to "Twitter", 'https://twitter.com/exercism_io', target: "_blank", rel: 'noreferrer', class: "text-prominentLinkColor font-medium underline"), github_link: (link_to "GitHub", 'https://github.com/exercism', target: "_blank", rel: 'noreferrer', class: "text-prominentLinkColor font-medium underline"), linkedin_link: (link_to "LinkedIn", 'https://www.linkedin.com/company/exercism/', target: "_blank", rel: 'noreferrer', class: "text-prominentLinkColor font-medium underline"))
