- if live_event
  .mb-32
    .flex.items-center.mb-2
      .animate-pulse.bg-alert.rounded-circle.mr-6{ class: "w-[10px] h-[10px]" }
      .font-bold.leading-150.flex.items-center.text-textColor2.text-12.uppercase Live now
    %h3.text-h4= live_event.title
    %p.text-p-base.mb-12
      = live_event.description
      Watch on
      = link_to "Twitch", "https://www.twitch.tv/exercismlive"
      - if live_event.youtube?
        or
        = link_to "YouTube", "https://www.youtube.com/watch?v=#{live_event.youtube_id}"
      👇🏽

    .rounded-8.shadow-baseZ1.w-fill.overflow-hidden
      - if live_event.youtube?
        = render ReactComponents::Common::YoutubePlayer.new(live_event.youtube_id, 'community')
      - else
        %iframe{ src: "https://player.twitch.tv/?channel=exercismlive&parent=exercism.org", height: "240", width: "100%", allowfullscreen: true }

- if featured_event
  .flex.flex-col.mb-32
    .text-purple.font-semibold.leading-150.flex.items-center.mb-4
      %span.emoji.mr-6 ⏳
      Coming soon
    %h2.text-h4.mb-2= featured_event.title
    %p.text-p-base.mb-4= featured_event.description
    .py-8.px-12.rounded-8.bg-veryLightBlue.font-medium.mb-16.self-start
      Live at
      %strong.font-semibold.text-textColor1 #{format_datetime(featured_event.starts_at)}.
      Save the date!

    - if featured_event.youtube?
      = link_to "https://www.youtube.com/watch?v=#{featured_event.youtube_id}", class: "bg-backgroundColorA flex flex-col items-center rounded-8 shadow-baseZ1 overflow-hidden" do
        = image_tag featured_event.thumbnail_url, class: 'block w-fill'

- if scheduled_events.present?
  .border-1.border-gradient-lightPurple.px-16.py-12.rounded-8.mb-24
    %h2.text-h4.mb-4 Upcoming Streaming Schedule
    %p.text-p-base.mb-4
      This schedule is regularly updated. All events stream on our
      = succeed('.') do
        = link_to "Twitch Channel", 'https://twitch.tv/exercismlive', class: 'underline'
      Subscribe and don't miss out!
    %p.text-p-base.mb-12 All times are in UTC.

    %ul.text-p-base.list-disc.pl-16
      - scheduled_events.each do |event|
        %li.mb-4
          .font-medium.text-textColor6.text-14.leading-100
            = format_datetime(event.starts_at)
          %strong.font-semibold.text-textColor2= event.title


