#page-bootcamp-admin-exercises.page-bootcamp-admin.pt-20
  .lg-container
    %h1 Exercises
    - @exercises_by_level.each do |level_idx, exercises|
      %h2 Level #{level_idx}
      %table
        %thead
          %tr
            %th
            %th Project
            %th Exercise
            %th # Stale
            %th # Active
            %th # Done
        %tbody
          - exercises.each do |exercise|
            %tr
              %td #{exercise.idx}.
              %td= link_to exercise.project.title, bootcamp_project_path(exercise.project)
              %td= link_to exercise.title, bootcamp_project_exercise_path(exercise.project, exercise)
              %td= @stale_exercise_counts[exercise.id].to_i
              %td= @active_exercise_counts[exercise.id].to_i
              %td= @completed_exercise_counts[exercise.id].to_i
