- require_stylesheet "about"

#page-organisation-supporter
  %header.pb-60
    .md-container.flex.flex-col.items-center.c-shapes.c-shapes-1.text-center
      = link_to about_partners_path, class: "c-prominent-link mt-48 mb-24" do
        = graphical_icon "arrow-left"
        %span= t('.see_all_supporters')

      %h1.text-h0.flex.flex-col.items-center.text-center
        = t('.supported_by')
        %br
        = icon "gobridge", t('.gobridge_alt'), category: :partners, css_class: "logo gobridge"

  .md-container
    %article.flex.flex-col.md:flex-row
      .lhs
        %h2.text-h2= t('.how_gobridge_supports_exercism')
        %hr.c-divider.mt-20.mb-28
        %p.text-p-xlarge.mb-40= t('.support_description')

        %h2.text-h2= t('.about_gobridge_title')
        %hr.c-divider.mt-20.mb-28
        %p.text-p-xlarge.mb-16= raw t('.about_gobridge_description', gobridge_text: t('.gobridge_alt'), go_developer_network_text: t('.go_developer_network_text'))

      .rhs.mt-24.md:mt-0.md:ml-40
        - @blog_posts.each do |blog_post|
          = render ViewComponents::BlogPost.new(blog_post)
