.border-1.border-borderColor6.shadow-smZ1.rounded-8.py-16.px-32.mb-32{ class: 'w-100 max-w-[782px]' }
  .flex.flex-col.items-stretch
    %h2.reputation.text-20.leading-paragraph.mb-12.font-semibold.flex.items-center
      - if max_reputation_track
        %span.mr-12 Your current max reputation in a track is
        = render ViewComponents::Reputation.new(max_reputation_track.reputation, size: :small, flashy: true)
      - else
        %span.mr-12 You haven't yet earned any reputation in a track.

    - if max_reputation_track
      .c-progress.mb-10
        - progress = (max_reputation_track.reputation / track_min_reputation.to_f) * 100
        .bar{ style: "width:#{progress}%" }

    .flex.items-center.text-14.leading-paragraph
      .font-semibold.text-textColor6
        = link_to doc_url(:using, 'product/reputation'), class: "flex items-center info-link" do
          = graphical_icon "info-circle", css_class: "w-[15px] h-[15px] mr-12 filter-textColor6"
          How does this work?
      .font-medium.text-textColor6.ml-auto
        Ability to use Training Hub unlocks when you reach
        = link_to "#{track_min_reputation} rep", doc_url(:using, 'product/reputation'), class: 'text-gradient !font-semibold'
        in a single track
