Hi #{@user.handle},
\
New feedback has been added to iteration (##{@iteration.idx}) of your solution to #{@exercise.title} on the #{@track.title} track. We #{@emphasis}recommend taking a look and seeing how you can improve your solution!
\
Go to the iteration: #{track_exercise_iterations_url(@track, @exercise)}
