%p= t('.greeting')

%p
  = t('.eligibility_message_html', exercism_insiders_link_text: t('.exercism_insiders_link_text'), insiders_page_link: insiders_url).html_safe

%p= t('.benefits_heading')
%ol
  %li= t('.benefit_dark_mode')
  %li= t('.benefit_chatgpt_integration')
  %li= t('.benefit_behind_the_scenes')
  %li= t('.benefit_discord_channel')
  %li= t('.benefit_extra_mentoring_slots')
  %li= t('.benefit_exclusive_badges')
  %li= t('.benefit_and_more')

%p
  = t('.status_details_html', insiders_page_link_text: t('.insiders_page_link_text'), insiders_page_link: insiders_url).html_safe

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=iwhahd41h0A", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/introducing-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p= t('.thank_you_message')

%p
  Jeremy Walker
  %br
  = t('.signature_title')

= email_button_to t('.activate_button_text'), insiders_url
