%p= t('.greeting')

%p
  = t('.body_html', insiders_page_link: link_to(t('.insiders_page_link_text'), insiders_url)).html_safe

%p= t('.benefits_title')
%ol
  %li= t('.benefit_dark_mode')
  %li= t('.benefit_chatgpt')
  %li= t('.benefit_behind_scenes')
  %li= t('.benefit_discord')
  %li= t('.benefit_mentoring_slots')
  %li= t('.benefit_badges')
  %li= t('.benefit_and_more')

%p
  = t('.lifetime_status_html', insiders_page_link: link_to(t('.insiders_page_link_text'), insiders_url)).html_safe

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=iwhahd41h0A", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/introducing-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p= t('.closing_thanks')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.button_activate_insiders'), insiders_url
