= t('.greeting')
\
= t('.intro', insiders_url: insiders_url)
\
= t('.benefits_title')
1. = t('.benefit1')
2. = t('.benefit2')
3. = t('.benefit3')
\
= t('.details_link')
= t('.status_duration')
= t('.lifetime_status')
\
= t('.thanks')
\
Jeremy Walker
= t('.signature_title')
\
= t('.activate_insiders_cta', insiders_url: insiders_url)
