%p= t('.greeting')

%p
  = t('.insiders_eligibility_html', insiders_page: (link_to t('.insiders_page_link'), insiders_url))

%p= t('.benefits_heading')
%ol
  %li= t('.benefit_dark_mode')
  %li= t('.benefit_chatgpt')
  %li= t('.benefit_behind_scenes')
  %li= t('.benefit_discord_channel')
  %li= t('.benefit_mentoring_slots')
  %li= t('.benefit_badges')
  %li= t('.benefit_more')

%p
  = t('.insiders_status_duration_html', insiders_page: (link_to t('.insiders_page_link'), insiders_url))

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=iwhahd41h0A", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/introducing-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p= t('.thank_you')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.activate_insiders_button'), insiders_url
