%p= t('.greeting')

%p
  = t('.access_expired_html', exercism_insiders_link: (link_to t('.exercism_insiders_link_text'), 'https://exercism.org/insiders'))

%p
  = t('.thank_you_for_support')
%p
  = t('.continue_support_html', insiders_page_link: (link_to t('.insiders_page_link_text'), 'https://exercism.org/insiders'))

%p= t('.have_a_great_day')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.visit_exercism_button'), root_url
