%p= t('.greeting')

%p
  = t('.access_expired_message_html', insiders_link: link_to(t('.insiders_link_text'), 'https://exercism.org/insiders')).html_safe

%p
  = t('.thanks_for_support_message')
%p
  = t('.continue_support_message_html', insiders_page_link: link_to(t('.insiders_page_link_text'), 'https://exercism.org/insiders')).html_safe

%p= t('.farewell')

%p
  Jeremy Walker
  %br
  = t('.signature_title')

= email_button_to t('.button_text'), root_url
