%p= t('.greeting')

%p
  = t('.welcome_message_one_html', exercism_insiders_link: link_to(t('.exercism_insiders_link_text'), 'https://exercism.org/insiders')).html_safe
%p
  = t('.welcome_message_two')

%p
  = t('.learn_more_message')

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=zomfphsDQrs", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/welcome-to-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  = t('.discord_message_html', discord_channel_link: link_to(t('.discord_channel_link_text'), 'https://discord.com/channels/854117591135027261/1103737555490447460')).html_safe

%p= t('.farewell_message')

%p
  Jeremy Walker
  %br
  = t('.signature_title')

= email_button_to t('.button_text'), root_url
