= t('.greeting')
\
= t('.welcome_message_one_text', exercism_insiders_link: 'https://exercism.org/insiders')
\
= t('.welcome_message_two_text')
\
= t('.learn_more_message_text')

= t('.discord_message_text', discord_channel_link: 'https://discord.com/channels/854117591135027261/1103737555490447460')
\
= t('.farewell_message')
\
Jeremy Walker

= t('.signature_title')
\
= t('.visit_exercism_link', root_url: root_url)
