= t('.greeting')
\
= t('.welcome_message_text', exercism_link: 'Exercism')
\
= t('.platform_description')
\
= t('.video_introduction_text')
\
= t('.forum_prompt_text')
\
= t('.youtube_channel_text')
\
= t('.closing_wish')
\
= t('.signature_name')
= t('.signature_title')
\
\---
\
= t('.visit_exercism_link', root_url: root_url)
