%p= t('.greeting')

%p
  = t('.welcome_message_html', exercism_link: link_to(t('.exercism_link_text'), 'https://exercism.org')).html_safe

%p
  = t('.platform_description')

%p= t('.video_introduction')

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=8rmbTWAncb8", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/yt-onboarding-welcome-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  = t('.forum_prompt_html', forum_link: link_to(t('.forum_link_text'), 'https://forum.exercism.org')).html_safe

%p
  = t('.youtube_channel_html', youtube_channel_link: link_to(t('.youtube_channel_link_text'), 'https://www.youtube.com/@Exercism_org')).html_safe

%p= t('.closing_wish')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.button_text'), root_url
