%p= t('.greeting')

%p
  = t('.welcome_insiders_html', exercism_insiders_link: (link_to t('.exercism_insiders_link_text'), 'https://exercism.org/insiders'))

%p
  = t('.learn_about_insiders_html', insiders_page_link: (link_to t('.insiders_page_link_text'), 'https://exercism.org/insiders'))

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=zomfphsDQrs", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/welcome-to-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  = t('.discord_channel_invitation_html', insiders_discord_link: (link_to t('.insiders_discord_link_text'), 'https://discord.com/channels/854117591135027261/1103737555490447460'))

%p= t('.thanks_for_journey')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.visit_exercism_button'), root_url
