%p Hi #{@user.handle},

%p The discussion with your student (#{@discussion.student.handle}) on their solution to #{@exercise.title} on the #{@track.title} track has timed out.

= email_button_to "Go to the discussion", mentoring_discussion_url(@discussion)

