Hi #{@user.handle},
\
A mentor (#{@discussion.mentor.handle}) has started mentoring your solution to #{@exercise.title} on the #{@track.title} track.
\
Go to the discussion: #{track_exercise_mentor_discussion_url(@track, @exercise, @discussion)}
