%p= t('.greeting', user_handle: @user.handle)

%p= t('.reminder_html', num_days_waiting: @num_days_waiting, mentor_handle: @discussion.mentor.handle, discussion_link: link_to(t('.discussion_link_text'), track_exercise_mentor_discussion_url(@track, @exercise, @discussion)), exercise_title: @exercise.title, track_title: @track.title).html_safe

%p= t('.action_prompt')

%p= t('.timeout_warning', num_days_to_time_out: @num_days_to_time_out)

= email_button_to t('.button_text'), track_exercise_mentor_discussion_url(@track, @exercise, @discussion)
