%p= t('.greeting', user_handle: @user.handle)

%p= t('.reminder_message_html', mentor_handle: @discussion.mentor.handle, num_days_waiting: @num_days_waiting, discussion_link: (link_to t('.discussion_link_text'), track_exercise_mentor_discussion_url(@track, @exercise, @discussion)), exercise_title: @exercise.title, track_title: @track.title)

%p= t('.waiting_for_mentor_message')

%p= t('.timeout_message', num_days_to_time_out: @num_days_to_time_out)

= email_button_to t('.go_to_discussion_button'), track_exercise_mentor_discussion_url(@track, @exercise, @discussion)
