%p= t('.greeting', user_handle: @user.handle)

%p= t('.reminder_message_html', student_handle: @discussion.student.handle, num_days_waiting: @num_days_waiting, discussion_link: (link_to t('.discussion_link_text'), mentoring_discussion_url(@discussion)), exercise_title: @exercise.title, track_title: @track.title)

%p= t('.its_students_turn_message')

%p= t('.timeout_message', num_days_to_time_out: @num_days_to_time_out)

= email_button_to t('.go_to_discussion_button'), mentoring_discussion_url(@discussion)
