%p= t('.greeting', user_handle: @user.handle)
%p= t('.completed_exercises_message')
%p
  = t('.feedback_benefits_html')
  = t('.valuable_feature_message')
%p= t('.choose_solution_message')

= email_button_to t('.button_text'), @notification.url
