Hi #{@user.handle},
\
This is a friendly reminder that your student (#{@discussion.student.handle}) has been waiting #{@num_days_waiting} days for you to reply in the discussion on their solution to #{@exercise.title} on the #{@track.title} track.
\
If it's not your turn and you're waiting on the student, please use the "It's the student's turn…" button in the mentoring UI.
\
The discussion will time out in #{@num_days_to_time_out} days if you do not reply.
\
Go to the discussion: #{mentoring_discussion_url(@discussion)}
