%p= t('.greeting')

%p
  = t('.intro_message_html', exercism_link: link_to(t('.exercism_link_text'), 'https://exercism.org')).html_safe

%p
  = t('.donations_reliance_message')

%p
  %a{ href: "https://exercism.org/insiders", style: "display:block; box-shadow: 0px 2px 4px #0F0923; margin-bottom:16px" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/why-donate-to-exercise-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  = t('.support_request_message')

%p
  = t('.community_support_message')

%p
  = t('.closing_thanks')

%p= t('.best_regards')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.button_text'), root_url
