%p= t('.greeting')

%p
  = t('.enjoy_exercism_html', exercism_link: (link_to t('.exercism_link_text'), 'https://exercism.org'))
  %strong{ style: "font-weight:500" }= t('.not_for_profit_emphasis')
  = t('.not_for_profit_explanation')

%p
  = t('.rely_on_donations')
  = t('.lean_operation', costs: '~250k/year')
  = t('.video_explanation')

%p
  %a{ href: "https://exercism.org/insiders", style: "display:block; box-shadow: 0px 2px 4px #0F0923; margin-bottom:16px" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/why-donate-to-exercise-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  = t('.support_request')
  = t('.no_requirement_message')

%p
  = t('.your_support_message')

%p
  = t('.thank_you_community')

%p= t('.best_regards')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.visit_exercism_button'), root_url
