= t('.greeting')
\
= t('.intro_message', exercism_link: 'Exercism')
\
= t('.stuck_message', discord_link: 'Discord', forum_link: 'Forum')
\
= t('.language_exploration_message')
\
= t('.final_reminder_message')
\
= t('.best_regards')
\
Jeremy Walker
= t('.signature_title')
