= t('.greeting')
\
= t('.intro_message', exercism_link: 'Exercism')
\
= t('.donations_reliance_message')
= t('.video_link', insiders_url: 'https://exercism.org/insiders')
\
= t('.support_request_message')
\
= t('.community_support_message')
\
= t('.closing_thanks')
\
= t('.best_regards')
\
= t('.signature_name')
= t('.signature_title')
