= t('.greeting')
\
= t('.intro_message', exercism_link: 'Exercism')
\
= t('.open_source_message', github_link: 'GitHub')
\
= t('.video_link', youtube_link: 'https://www.youtube.com/watch?v=fSh-nGw3IP8')
\
= t('.community_areas_intro')
= t('.discord_link', discord_link: 'https://exercism.org/r/discord')
= t('.forum_link', forum_link: 'https://exercism.org/r/forum')
= t('.youtube_channel_link', youtube_channel_link: 'https://exercism.org/r/youtube')
= t('.twitch_link', twitch_link: 'https://exercism.org/r/twitch')
\
= t('.join_community_message')

= t('.best_regards')
\
= t('.signature_name')
= t('.signature_title')
