%p Hi #{@user.handle},
%p Your student (#{@discussion.student.handle}) has submitted a new iteration (##{@iteration.idx}) on your discussion about #{@exercise.title} on the #{@track.title} track.
= email_button_to "Go to the discussion", mentoring_discussion_url(@discussion)
