Hi #{@user.handle},
\
Your student (#{@discussion.student.handle}) has submitted a new iteration (##{@iteration.idx}) on your discussion about #{@exercise.title} on the #{@track.title} track.
\
Go to the discussion: #{mentoring_discussion_url(@discussion)}
