Hi #{@user.handle},
\
Your student (#{@discussion.student.handle}) has finished the discussion you are mentoring for #{@exercise.title} on the #{@track.title} track.
\
Go to the discussion: #{mentoring_discussion_url(@discussion)}
