%p Hi #{@user.handle},
%p Your student (#{@discussion.student.handle}) has submitted Iteration #{@iteration.idx} on the solution you are mentoring for #{@exercise.title} on the #{@track.title} track.
= email_button_to "Go to the discussion", mentoring_discussion_url(@discussion)

