%p= t('.greeting')

%p
  = t('.upgrade_message_html', exercism_insiders_link: (link_to t('.exercism_insiders_link_text'), 'https://exercism.org/insiders'))
%p
  = t('.lifetime_impact_message')

%p= t('.congratulations_message')

%p
  = t('.signature_name')
  %br
  = t('.signature_title')

= email_button_to t('.visit_exercism_button'), root_url
