- content_for :canonical_url, new_user_session_url

#page-auth
  %section.form-section
    .inner
      = link_to root_path, class: 'logo' do
        = icon "exercism-with-logo-black", "Exercism's Logo"

      %p.tagline Code practice and mentorship for everyone

      = button_to omniauth_authorize_path(:user, :github),
        form_class: "github-btn",
        class: "btn-enhanced btn-l",
        method: :post,
        data: { turbo: false } do
        = graphical_icon 'external-site-github'
        Log In with GitHub

      .divider
        %span or

      = flash_messages

      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { 'data-turbo': false }) do |f|
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email address"
        .field
          = f.label :password
          = f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password"
          = link_to "Forgot your password?", new_password_path(resource_name), class: 'forgotten-password'

        = f.button "Log In", class: 'btn-primary btn-l'

      = render "devise/shared/links"

  = render "devise/shared/information"
