.p.heading.c-generic-tooltip.text-14.some{style:'padding:16px 24px;width:413px;'}
  %p.text-16.text-white.font-semibold.leading-170.mb-12
    Requires
    %strong.font-bold= @min_finished_mentoring_sessions.to_s
    finished mentoring sessions and a satisfaction rating of #{@min_satisfaction_percentage.to_s}% 
    %br (current rating is #{@satisfaction_percentage}%)
    
  .bg-darkThemeBackgroundColor.flex.flex-row.rounded-8.mb-6.overflow-hidden.some{style: 'height:16px;'}
    .bg-gradient-to-r.from-gradientProgressBarA.to-gradientProgressBarB.rounded-8.some{style:'min-width:6px; height:100%; width:' +(@finished_mentoring_sessions.to_s)+'%'}
  .mb-16 #{@finished_mentoring_sessions}/100

  %h4.font-semibold.mb-4 What is automation?

  %p.mb-4.leading-150
    Automation allows you to submit standardised responses to code submissions that get shared as part of automated feedback on solutions.

  = link_to doc_path(:using, "feedback/automated"), class: 'external-link' do
    .font-semibold.text-lightGold.text-14.leading-170.flex.flex-row.items-center
      Find out more on Automation 
      = graphical_icon :"arrow-right", css_class: "w-[14px] h-[14px] ml-8 filter-lightGold" 
