.c-generic-tooltip.text-14{ class: "!py-16 !px-24 !max-w-[420px]" }
  %p.text-16.text-white.font-semibold.leading-170.mb-12
    = t('.requirements_html', min_finished_mentoring_sessions: @min_finished_mentoring_sessions, min_satisfaction_percentage: @min_satisfaction_percentage, satisfaction_percentage: @satisfaction_percentage)
  .bg-darkThemeBackgroundColor.flex.flex-row.rounded-8.mb-6.overflow-hidden{ class: 'h-[16px]' }
    .bg-gradient-to-r.from-gradientProgressBarA.to-gradientProgressBarB.rounded-8.h-100{ class: "min-w-[6px]", style: "width:#{@finished_mentoring_sessions}%" }


  .mb-16= t('.finished_sessions_info', count: @finished_mentoring_sessions, min: @min_finished_mentoring_sessions, track_title: @finished_mentoring_sessions_track.title)

  %h4.font-semibold.mb-4= t('.what_is_automation_heading')

  %p.mb-4.leading-150
    = t('.automation_description')

  = link_to doc_path(:using, "feedback/automated"), class: 'external-link' do
    .font-semibold.text-lightGold.text-14.leading-170.flex.flex-row.items-center
      = t('.find_out_more_button')
      = graphical_icon :"arrow-right", css_class: "w-[14px] h-[14px] ml-8 filter-lightGold"
