/ TODO: Use the flag instead
- return unless track.concepts.size > 5

%section.concepts-section
  .lg-container.container
    .section-header
      = graphical_icon "concepts", hex: true, css_class: "header-icon"
      %h2 A taste of the concepts you’ll cover
      = graphical_icon "sharp-squiggle", css_class: "divider"

    = image_pack_tag "screenshots/concept-map.png", role: :presentation, class: "screenshot"

    = render ViewComponents::ProminentLink.new("See all the concepts for #{track.title}", track_concepts_path(track))
