- count = track_counts.values.sum
.issues
  = graphical_icon 'info-circle'
  = t('.issues_needed_help', count: count)

- if track_counts.keys.any?
  - ids = track_counts.keys.compact
  .track-icons
    - ids[0, 3].each do |id|
      = track_icon(tracks[id])

  .tracks-list
    - if ids.size > 4
      = ids[0, 4].map { |id| tracks[id].title }.join(', ')
      - if ids.size > 4
        = t('.tracks_list.more_tracks', count: ids.size - 4)
    - else
      = ids.map { |id| tracks[id].title }.to_sentence

    = t('.tracks_list.needs_help')

= render ViewComponents::ProminentLink.new(t('.explore_issues', count: count), contributing_tasks_path(filters))
