- content_for :canonical_url, contributing_root_url
- require_stylesheet "contributing"

#contributing-dashboard
  = render ViewComponents::Contributing::Header.new(:dashboard)

  .lg-container.container
    .methods-section
      %header.header
        %h2= t('.methods_section.header.title')
        %hr.c-divider

      .methods.grid-cols-1.sm:grid-cols-2.lg:grid-cols-3
        .method
          = graphical_icon "docs", category: 'graphics'
          %h3= t('.methods_section.method.proofread_and_update.title')
          .c-tag.beginner= t('.methods_section.method.proofread_and_update.tag')
          %p= t('.methods_section.method.proofread_and_update.description')
          = render "tasks_section", track_counts: @proofreading, filters: { actions: [:proofread] }, tracks: @tracks

        .method
          = graphical_icon "improve", category: 'graphics'
          %h3= t('.methods_section.method.improve_content.title')
          .c-tag.intermediary= t('.methods_section.method.improve_content.tag')
          %p= t('.methods_section.method.improve_content.description')
          = render "tasks_section", track_counts: @improve_content, filters: { actions: [:improve], areas: ["concept-exercise", "practice-exercise", :concept] }, tracks: @tracks

        .method
          = graphical_icon "exercises", category: 'graphics'
          %h3= t('.methods_section.method.create_new_content.title')
          .c-tag.advanced= t('.methods_section.method.create_new_content.tag')
          %p= t('.methods_section.method.create_new_content.description')
          = render "tasks_section", track_counts: @create_exercises, filters: { actions: [:create], areas: ["concept-exercise", "practice-exercise", :concept] }, tracks: @tracks

        .method
          = graphical_icon "bugs", category: 'graphics'
          %h3= t('.methods_section.method.develop_test_runner.title')
          .c-tag.project= t('.methods_section.method.develop_test_runner.tag')
          %p= t('.methods_section.method.develop_test_runner.description')
          = render "tasks_section", track_counts: @test_runner, filters: { areas: ["test-runner"] }, tracks: @tracks

        .method
          = graphical_icon "automation", category: 'graphics'
          %h3= t('.methods_section.method.develop_analyzer.title')
          .c-tag.project= t('.methods_section.method.develop_analyzer.tag')
          %p= t('.methods_section.method.develop_analyzer.description')
          = render "tasks_section", track_counts: @analyzer, filters: { areas: [:analyzer] }, tracks: @tracks

        .method
          = graphical_icon "representer", category: 'graphics'
          %h3= t('.methods_section.method.develop_representer.title')
          .c-tag.project= t('.methods_section.method.develop_representer.tag')
          %p= t('.methods_section.method.develop_representer.description')
          = render "tasks_section", track_counts: @representer, filters: { areas: [:representer] }, tracks: @tracks
