#contributing-dashboard
  = render ViewComponents::Contributing::Header.new(:dashboard)

  .lg-container.container
    .funding
      = graphical_icon "pointing-hand", category: "graphics"
      .content
        %h2
          Exercism needs
          %strong YOUR
          help to fulfil its potential.
        %p
          We have big plans for Exercism!
          With over
          %strong 800,000 users, 2M+ solutions,
          automated feedback and a staff building out features and maintaining, running Exercism is expensive, and
          we need your help to take us forward.
        .cta
          = link_to "Help fund Exercism", donate_path, class: "btn-primary btn-m"
          - if user_signed_in? && current_user.total_donated_in_cents.positive?
            .total
              You’ve contributed
              = link_to number_to_currency(current_user.total_donated_in_cents / 100.0), "#"
              to Exercism 💙


    .methods-section
      %header.header
        %h2 Ways you can help build Exercism
        %hr.c-divider

      .methods
        .method
          = graphical_icon "docs", category: 'graphics'
          %h3 Proofread and update
          .c-tag.beginner Beginner
          %p Never contributed to an open source project? Give this a go. We’ll teach you how to use Git and GitHub to submit your first pull request.

          .issues
            = graphical_icon 'info-circle'
            13 issues need help
          .track-icons
            = track_icon(Track.first)
            = track_icon(Track.second)
            = track_icon(Track.third)

          .tracks-list C++, Julia, Clojure, Erlang, OCaml + 32 repos need typo fixes
          = render ViewComponents::ProminentLink.new("Explore 13 issues", "#")

        .method
          = graphical_icon "bugs", category: 'graphics'
          %h3 Fix known bugs
          .c-tag.beginner Beginner
          %p Pellentesque dapibus erat eu sem porta, eu iaculis ex porta. Ut non consequat dolor. Fusce libero odio, consequat non eleifend eget, tempus sed sapien...

          .issues
            = graphical_icon 'info-circle'
            13 issues need help
          .track-icons
            = track_icon(Track.first)
            = track_icon(Track.second)
            = track_icon(Track.third)

          .tracks-list C++, Julia, Clojure, Erlang, OCaml + 32 repos need typo fixes
          = render ViewComponents::ProminentLink.new("Explore 13 issues", "#")


        .method
          = graphical_icon "improve", category: 'graphics'
          %h3 Improve a concept or exercise
          .c-tag.intermediary Intermediary
          %p Pellentesque dapibus erat eu sem porta, eu iaculis ex porta. Ut non consequat dolor. Fusce libero odio, consequat non eleifend eget, tempus sed sapien...

          .issues
            = graphical_icon 'info-circle'
            13 issues need help
          .track-icons
            = track_icon(Track.first)
            = track_icon(Track.second)
            = track_icon(Track.third)

          .tracks-list C++, Julia, Clojure, Erlang, OCaml + 32 repos need typo fixes
          = render ViewComponents::ProminentLink.new("Explore 13 issues", "#")

        .method
          = graphical_icon "exercises", category: 'graphics'
          %h3 Create an exercise from scratch
          .c-tag.advanced Advanced
          %p Pellentesque dapibus erat eu sem porta, eu iaculis ex porta. Ut non consequat dolor. Fusce libero odio, consequat non eleifend eget, tempus sed sapien...

          .issues
            = graphical_icon 'info-circle'
            13 issues need help
          .track-icons
            = track_icon(Track.first)
            = track_icon(Track.second)
            = track_icon(Track.third)

          .tracks-list C++, Julia, Clojure, Erlang, OCaml + 32 repos need typo fixes
          = render ViewComponents::ProminentLink.new("Explore 13 issues", "#")


        .method
          = graphical_icon "automation", category: 'graphics'
          %h3 Develop an analyzer
          .c-tag.project Project
          %p Pellentesque dapibus erat eu sem porta, eu iaculis ex porta. Ut non consequat dolor. Fusce libero odio, consequat non eleifend eget, tempus sed sapien...

          .issues
            = graphical_icon 'info-circle'
            13 issues need help
          .track-icons
            = track_icon(Track.first)
            = track_icon(Track.second)
            = track_icon(Track.third)

          .tracks-list C++, Julia, Clojure, Erlang, OCaml + 32 repos need typo fixes
          = render ViewComponents::ProminentLink.new("Explore 13 issues", "#")

        .method
          = graphical_icon "representer", category: 'graphics'
          %h3 Develop a representer
          .c-tag.project Project
          %p Pellentesque dapibus erat eu sem porta, eu iaculis ex porta. Ut non consequat dolor. Fusce libero odio, consequat non eleifend eget, tempus sed sapien...

          .issues
            = graphical_icon 'info-circle'
            13 issues need help
          .track-icons
            = track_icon(Track.first)
            = track_icon(Track.second)
            = track_icon(Track.third)

          .tracks-list C++, Julia, Clojure, Erlang, OCaml + 32 repos need typo fixes
          = render ViewComponents::ProminentLink.new("Explore 13 issues", "#")


