:css
  #maintaining-contributor-teams {
    padding:25px 0%;
    font-size: 16px;
    line-height:1.5;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    border: 1px solid #ddd;
    border-bottom: 1px solid #888;
    padding: 10px;
    text-align:left;
    font-weight:600px;
  }
  td {
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    vertical-align:top;
    max-width:300px;
  }

#maintaining-contributor-teams
  .lg-container
    %table
      %thead
        %tr
          %th Name
          %th Type
          %th # Members
          %th Track
          %th
      %tbody
        - @teams.each do |team|
          %tr
            %td= team.github_name
            %td= team.type.to_s.humanize
            %td= team.members.size
            %td= team.track&.title
            %td= render ViewComponents::ProminentLink.new("More", maintaining_contributor_team_path(team))
