#page-maintaining-track
  .lg-container.container
    %h1 Maintaining #{@team.name}

    .data
      %div
        GitHub name: #{@team.github_name}
      %div
        Type: #{@team.type.to_s.humanize}
      - if @team.track.present?
        %div
          Track: #{@team.track.title}

    %h2
      Members
      %table
        %thead
          %tr
            %th Name
            %th Visible
            %th Seniority
            %th
        %tbody
          - @team.memberships.each do |membership|
            %tr
              %td= membership.user.handle
              %td= membership.visible
              %td= membership.seniority.to_s.humanize
              %td
                = link_to "Edit", edit_maintaining_contributor_team_contributor_team_membership_path(@team, membership)
                = link_to "Remove", maintaining_contributor_team_contributor_team_membership_path(@team, membership),
                    method: :delete,
                    data: { confirm: "Are you sure?" }

      = link_to "Add member", new_maintaining_contributor_team_contributor_team_membership_path(@team), class: 'btn-primary btn-m'
