.scrolling-testimonials
  -# = image_tag "bootcamp/hamster.gif", class: "hamster"
  #hamster-animation-container.hamster
  #smoke-container
  .inner
    %ul
      %li= t('.testimonials.challenge_fun')
      %li= t('.testimonials.amazing_value')
      %li= t('.testimonials.best_time_investment')
      %li= t('.testimonials.incredibly_fun')
      %li= t('.testimonials.transformative')
      %li= t('.testimonials.will_learn_code')
      %li= t('.testimonials.learning_as_should_be')
      %li= t('.testimonials.best_course_done')
      %li= t('.testimonials.made_learning_joy')
      %li= t('.testimonials.bootcamp_pure_gold')
      %li= t('.testimonials.wonderful_learning_experience')
      %li= t('.testimonials.proper_hands_on_learning')
      %li= t('.testimonials.knowledge_didnt_think_needed')
      %li= t('.testimonials.recommended')
      %li= t('.testimonials.so_glad_stumbled')
      %li= t('.testimonials.great_way_learn')
      %li= t('.testimonials.fun_exercises_clear_explanations_cool_hats')
      %li= t('.testimonials.exceptional_course_outstanding')
      %li= t('.testimonials.addictive_good_way')
      %li= t('.testimonials.amazing_fun')
      %li= t('.testimonials.fantastic_community')
      %li= t('.testimonials.zero_coding_experience_required')
      %li= t('.testimonials.fun_inspiring')
      %li= t('.testimonials.changed_way_think')
      %li= t('.testimonials.rewarding_journey')
      %li= t('.testimonials.insane_value')
      %li= t('.testimonials.opportunity_learn_master')
      %li= t('.testimonials.amazing_lovely_thing')
      %li= t('.testimonials.best_investment')
      %li= t('.testimonials.increased_confidence_motivation')
      %li= t('.testimonials.supportive_community')
      %li= t('.testimonials.even_prior_programmer_transformative')
