%section#testimonial-section
  .lg-container
    %h2 What do our students think?
    %p.subheading 
      These are some extracts from students' testimonials.
      = link_to "Read the full versions here!", courses_testimonials_path, class: "underline font-semibold"
    .primary-quote
      .words
        = image_tag "bootcamp/quote.png", class: 'mark left-mark'
        %span
          Seeing how much effort, thought, and even love is put into this course, it’s such a pleasure to be a student here. Every explanation, each exercise turn this course into a masterpiece. I really enjoy it.
          = image_tag "bootcamp/quote.png", class: 'mark right-mark'
      .person
        .text
          .name Oleksandra
          .description Coding Newbie
        = image_tag "bootcamp/testimonials/oleksandra.jpg"

    .quotes
      - quotes.each do |quote, name, role, image_url|
        .quote
          .words
            = image_tag "bootcamp/quote.png", class: 'mark left-mark'
            %span
              = raw Markdown::Parse.(quote)
              = image_tag "bootcamp/quote.png", class: 'mark right-mark'
          .person
            .stars
            .flex.flex-row.items-center.justify-end.gap-8
              .text
                .name= name
                .description= role
              = image_tag "bootcamp/testimonials/#{image_url}"
