%section#enroll
  .xs-container
    .container
      .tag Let's get you coding!
      %h2
        .prefix Enroll on 
        %strong= @course.name
      %p.intro.mb-2
        %strong Great decision!
        We're really excited to have you come and join us! 🎉
      %hr

      = form_with url: course_enroll_path(@course.slug) do |f|
        .field
          = f.label :name, "Name"
          = f.text_field :name, placeholder: 'Your name', value: @name, required: true
        .field
          = f.label :email
          = f.email_field :email, autocomplete: "email", placeholder: "Enter your email address", value: @email, required: true

        .label.mt-24 Choose your package
        .part-selector.flex.flex-col.gap-12
          = f.label "course_or_bundle_course" do
            = f.radio_button :course_or_bundle, "course", checked: @course_or_bundle == "course", class: "hidden"
            .package
              = image_tag "bootcamp/enroll-check.svg", class: 'checkmark'
              = image_tag "bootcamp/exercism-face-dark.svg", class: "face"
              .flex.flex-col.items-start
                .bubble
                  Only
                  %strong This Course
                %h3= @course.name
                %p= raw @course.blurb

          = f.label "course_or_bundle_bundle" do
            = f.radio_button :course_or_bundle, "bundle", checked: @course_or_bundle != "course", class: "hidden"
            .package
              = image_tag "bootcamp/enroll-check.svg", class: 'checkmark'
              = image_tag "bootcamp/exercism-face-dark.svg", class: "face"
              .flex.flex-col.items-start
                .bubble
                  The
                  %strong Complete Bundle
                %h3= @bundle.name
                %p= raw @bundle.blurb

        .field.mt-20
          = f.button do
            Continue to the Course
            %span.ml-12 👉
