#top-discount-bar
  Check out our
  = link_to "Coding Fundamentals", "/courses/coding-fundamentals", class: "font-semibold text-white underline"
  and
  = link_to "Front End Fundamentals", "/front-end-fundamentals", class: "font-semibold text-white underline"
  courses.

#nav-fixed.nav
  .lg-container.flex.flex-row.gap-8.items-center
    = image_tag "bootcamp/exercism-face-light.svg", class: 'exercism-face'
    .content
      %strong.font-semibold Exercism
      Bootcamps
    = link_to "Enroll now 👉", course_start_enrolling_path("coding-fundamentals"), class: "button ml-auto!"

#page-testimonials
  .lg-container
    %header.text-center
      %h1 Testimonials
      %p.subheading We asked our students if they'd enjoyed the course. Here's what they said...

    .quotes
      - @testimonials.each do |quote, name, role, image_url|
        .quote
          .words
            = image_tag "bootcamp/quote.png", class: 'mark left-mark'
            %span
              = raw Markdown::Parse.(quote)
          .person
            .stars
            .flex.flex-row.items-center.justify-end.gap-8
              .text
                .name= name
                .description= role
              = image_tag "bootcamp/testimonials/#{image_url}"
