- content_for :meta_title, t('.meta_title')
- content_for :meta_description, t('.meta_description').html_safe
- content_for :meta_image, "https://assets.exercism.org/images/thumbnails/introducing-48-in-24.jpg"
- content_for :canonical_url, challenge_url('48in24')

#challenge-external-page
  %section.top-section
    .relative.overflow-hidden
      .p-24.bg-gradient-to-b.absolute.inset-0.flex.items-center.justify-center{ class: "from-[var(--backgroundColorA)] to-[var(--backgroundColorE)] opacity-[0.7]" }
        .flex.flex-wrap.justify-center.gap-2.lg:gap-4.mx-auto
          - Track.find('csharp').exercises.active.map(&:icon_url).sample(48).each do |icon_url|
            = image_tag icon_url, alt: '', class: "c-icon c-track-icon h-[12%] w-[12%] md:h-[10.8%] md:w-[10.8%] lg:h-[9%] lg:w-[9%] xl:h-[8%] xl:w-[8%]"

      .relative.lg-container
        .bg-backgroundColorA.bg-opacity-95.my-48.px-32.py-32.rounded-16.border-borderColor5.shadow-baseZ1.flex.flex-col.items-center
          %h1.text-h0.mb-16= t('.main_heading')
          %p.mb-12.text-balance
            = t('.intro_paragraph1_part1')
            %strong.font-semibold= t('.intro_paragraph1_part2')
            = t('.intro_paragraph1_part3')
          %p
            = t('.intro_paragraph2')

          %p.unsure.mt-24.mb-24
            = t('.free_fun_invaluable')

          - if user_signed_in?
            = button_to t('.get_started_button'), start_challenge_path(@challenge_id), class: 'btn-l btn-primary'
          - else
            .flex.items-center.sm:gap-24.gap-12.sm:flex-row.flex-col.sm:w-unset.w-100
              = link_to t('.signup_button'), new_user_registration_path, class: 'btn-m btn-primary sm:w-unset w-100'
              = link_to t('.login_button'), new_user_session_path, class: 'btn-m btn-secondary sm:w-unset w-100'

  %article.lg-container
    %section.video-section
      = render ReactComponents::Common::YoutubePlayer.new('v6fMaOdUxSk', 'challenge#external')

    %section.reasons-section
      %h2= t('.why_take_part_heading')
      .reasons.grid-cols-1.md:grid-cols-3
        .reason
          = graphical_icon "mentoring-opportunity"
          %h3= t('.expand_knowledge.heading')
          %p= t('.expand_knowledge.description')

        .reason
          = graphical_icon "mentoring-soft-skills"
          %h3= t('.learn_together.heading')
          %p= t('.learn_together.description')

        .reason
          = graphical_icon "testimonials"
          %h3= t('.have_fun.heading')
          %p= t('.have_fun.description')

      .flex.justify-center.mt-48
        - if user_signed_in?
          = button_to t('.get_started_button'), start_challenge_path(@challenge_id), class: 'btn-l btn-primary'
        - else
          .flex.items-center.sm:gap-24.gap-12.sm:flex-row.flex-col.sm:w-unset.w-100
            = link_to t('.signup_button'), new_user_registration_path, class: 'btn-l btn-primary sm:w-unset w-100'
            = link_to t('.login_button'), new_user_session_path, class: 'btn-l btn-secondary sm:w-unset w-100'
