:css
  th, td {
    border: 1px solid var(--borderColor8);
    text-align:center;
    padding:8px;
    line-height:130%;
  }
  td {
    white-space:nowrap;
  }
  #site-footer { display: none !important }
  body {
    width: 4000px;
  }


.p-32
  .text-h3.mb-8= t('.title')
  .text-h5.mb-4= t('.key_to_symbols.title')
  .text-16
    .mb-8= t('.key_to_symbols.featured')
    .mb-8= t('.key_to_symbols.present')
    .mb-8
      = t('.key_to_symbols.missing_html', please_add_it_link: link_to(t('.key_to_symbols.please_add_it'), doc_path(:building, 'tracks/practice-exercises'), class: 'font-semibold text-linkColor'))
    .mb-16= t('.key_to_symbols.do_not_implement')

    %p
      = t('.missing_exercises_cta_html',
          video_and_docs_link: link_to(t('.missing_exercises_cta_link'), doc_path(:building, 'tracks/practice-exercises'), class: 'font-semibold text-linkColor'))
  %hr.mt-20.mb-32.border-borderColor5

  .flex.items-start{ class: "max-h-[90vh]" }
    %table.sticky{ class: "left-[0px] z-[2]" }
      %tr
        %th.bg-backgroundColorB{ class: 'h-[100px]' }
        - @tracks.each do |track|
          %tr
            %td.p-8.font-semibold.bg-backgroundColorD
              = link_to track.title, track_implementation_status_challenge_path('48in24', track.slug)

    %div
      %table
        %thead.sticky{ class: "top-[0px]" }
          %tr
            - @featured_exercises.each.with_index do |featured_exercises, idx|
              %th.bg-backgroundColorD.align-top{ class: 'h-[100px]' }
                .text-textColor7.mb-4= t('.week_number', week_num: idx + 1)
                = link_to featured_exercises[:slug], approaches_generic_exercise_path(featured_exercises[:slug])
        %tbody
          - @tracks.each do |track|
            %tr
              - @featured_exercises.each do |featured_exercise|
                %td.p-8
                  - case @track_exercises_status[track.slug][featured_exercise[:slug]]
                  - when :do_not_implement
                    ⛔
                  - when :featured
                    = link_to "💜", track_exercise_url(track, featured_exercise[:slug])
                  - when :present
                    = link_to "✅", track_exercise_url(track, featured_exercise[:slug])
                  - else
                    ❌
