%h1 Onboarding

= form_for current_user, url: onboarding_path, method: :patch do |f|
  = f.check_box :accepted_terms_at, required: true
  = f.label :accepted_terms_at, "Accept Terms of Service"

  = f.check_box :accepted_privacy_policy_at, required: true
  = f.label :accepted_privacy_policy_at, "Accept Privacy Policy"

  = f.button "Submit"
