#mentor-testimonials-page
  = render ViewComponents::Mentor::Header.new(:testimonials)

  .lg-container
    %article.content
      / TODO: Turn this into React
      .c-search-bar
        / TODO: Add track selector here - same as mentor inbox
        %input.--search{ placeholder: "Search by student name or testimonial" }
        .c-select.order
          %select
            %option Sort by Newest First

      .testimonials
        - @testimonials.each do |testimonial|
          - if testimonial.revealed?
            .testimonial
              = track_icon(testimonial.track)
              = avatar(testimonial.student)
              .info
                .student= testimonial.student.handle
                .exercise
                  on
                  = testimonial.exercise.title
                  in
                  = testimonial.track.title
              .content= testimonial.content
              %time #{time_ago_in_words(testimonial.created_at)} ago
              = graphical_icon 'modal', css_class: "action-icon"
          - else
            .testimonial.unrevealed
              = track_icon(testimonial.track)
              = graphical_icon "avatar-placeholder", css_class: 'c-avatar'
              .info
                .student Someone left you a testimonial… 😲
                .exercise Click/tap to reveal
              %time #{time_ago_in_words(testimonial.created_at)} ago
              = graphical_icon 'modal', css_class: "action-icon"
