- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description').html_safe
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:hiring)

#page-hiring-job.bg-backgroundColorA.pb-16
  %header.c-shapes
    .md-container
      = link_to hiring_about_path, class: "c-prominent-link" do
        = graphical_icon "arrow-left"
        = t('.back_to_job_listings')

      .role
        = graphical_icon "hiring-rails-developer", category: 'graphics', css_class: 'graphic'
        .information
          %h1.text-h0.mb-12= t('.job_title')
          .details
            .remote-tag
              = graphical_icon "stars"
              = t('.remote_tag')
            .salary= t('.salary')

  %article
    .sm-container
      %p.text-p-2xlarge.mb-40= t('.intro_paragraph')

      %h2.text-h2.mb-12= t('.summary_heading')
      %p.text-p-xlarge.mb-16= t('.summary_para1', about_exercism_link_html: link_to(t('.about_exercism_link_text'), 'https://exercism.org/about', target: '_blank', rel: :noreferrer))
      %p.text-p-xlarge.mb-16= t('.summary_para2')
      %p.text-p-xlarge.mb-40= t('.summary_para3')

      %h2.text-h2.mb-12= t('.responsibilities_heading')
      %p.text-p-xlarge.mb-16= t('.responsibilities_para1')
      %p.text-p-xlarge.mb-16= t('.responsibilities_para2')
      %ul.text-p-xlarge.mb-20
        %li= t('.responsibility_item1')
        %li= t('.responsibility_item2')
        %li= t('.responsibility_item3')
        %li= t('.responsibility_item4')
        %li= t('.responsibility_item5', open_issues_link_html: link_to(t('.open_issues_link_text'), "https://github.com/exercism/exercism/issues"))
      %ul.text-p-xlarge.mb-16
        = t('.working_with_intro')
      %ul.text-p-xlarge.mb-16
        %li= t('.working_with_item1')
        %li= t('.working_with_item2')
        %li= t('.working_with_item3')
      %p.text-p-xlarge.mb-40= t('.responsibilities_para3')

      %h2.text-h2.mb-12= t('.technical_fit_heading')

      %p.text-p-xlarge.mb-16= t('.technical_fit_para1')
      %p.text-p-xlarge.mb-12= t('.technical_skills_intro')
      %ul.text-p-xlarge.mb-16
        %li= t('.technical_skill_item1')
        %li= t('.technical_skill_item2')
        %li= t('.technical_skill_item3')
        %li= t('.technical_skill_item4', terraform_code_link_html: link_to(t('.terraform_code_link_text'), "https://github.com/exercism/terraform"))

      %p.text-p-xlarge.mb-16= t('.codebase_patterns_para', controller_link_html: link_to(t('.controller_action_link_text'), "https://github.com/exercism/website/blob/main/app/controllers/api/tracks_controller.rb#L6-L17"), command_link_html: link_to(t('.command_link_text'), "https://github.com/exercism/website/blob/main/app/commands/track/search.rb"), serializers_link1_html: link_to(t('.serializers_link1_text'), "https://github.com/exercism/website/blob/main/app/serializers/serialize_tracks.rb"), serializers_link2_html: link_to(t('.serializers_link2_text'), "https://github.com/exercism/website/blob/main/app/serializers/serialize_track.rb"), track_model_link_html: link_to(t('.track_model_link_text'), "https://github.com/exercism/website/blob/main/app/models/track.rb"))
      %p.text-p-xlarge.mb-40
        %strong= t('.codebase_review_warning', codebase_link_html: link_to(t('.codebase_link_text'), "https://github.com/exercism/website"))

      %h2.text-h2.mb-12= t('.personal_fit_heading')
      %p.text-p-xlarge.mb-12= t('.personal_fit_intro')
      %ul.text-p-xlarge.mb-16
        %li= t('.personal_fit_item1')
        %li= t('.personal_fit_item2')
        %li= t('.personal_fit_item3')
        %li= t('.personal_fit_item4')
        %li= t('.personal_fit_item5')

      %p.text-p-xlarge.mb-12= t('.values_para')
      %p.text-p-xlarge.mb-40= t('.passion_para')

      %h2.text-h2.mb-12= t('.other_requirements_heading')
      %p.text-p-xlarge.mb-16= t('.remote_team_para')

      %p.text-p-xlarge.mb-16= t('.extra_requirements_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.extra_requirement_item1')
        %li= t('.extra_requirement_item2')
        %li= t('.extra_requirement_item3', english_level_link_html: link_to(t('.english_level_link_text'), "https://github.com/exercism/elixir/blob/main/exercises/concept/lasagna/.docs/introduction.md", target: '_blank', rel: :noreferrer))
        %li= t('.extra_requirement_item4')

      %p.text-p-xlarge.mb-40
        %em= t('.underrepresented_groups_note', all_criteria_html: content_tag(:strong, t('.all_criteria_text')))

      %h2.text-h2.mb-12= t('.benefits_heading')
      %p.text-p-xlarge.mb-16= t('.benefits_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.benefit_item1')
        %li= t('.benefit_item2')
        %li= t('.benefit_item3')
        %li= t('.benefit_item4')
        %li= t('.benefit_item5')
        %li= t('.benefit_item6')

      %p.text-p-xlarge.mb-40= t('.working_week_option')

      %h2.text-h2.mb-12= t('.how_to_apply_heading')
      %p.text-p-xlarge.mb-16= t('.application_thanks')
      %p.text-p-xlarge.mb-16= t('.application_process_intro')
      %p.text-p-xlarge.mb-16= t('.apply_email_intro', email_link_html: link_to(t('.email_address_text'), "mailto:jobs@exercism.org"))

      %ul.text-p-xlarge.mb-24
        %li= t('.application_item1')
        %li= t('.application_item2')
        %li= t('.application_item3')
        %li= t('.application_item4', loom_link_html: link_to(t('.loom_link_text'), 'https://www.loom.com'))

      %p.text-p-xlarge.mb-16= t('.application_steps_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.application_step1')
        %li= t('.application_step2')
        %li= t('.application_step3')
        %li= t('.application_step4')
        %li= t('.application_step5')
        %li= t('.application_step6')
        %li= t('.application_step7')
        %li= t('.application_step8')
