- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description').html_safe
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:hiring)

#page-hiring-job.bg-backgroundColorA.pb-16
  %header.c-shapes
    .md-container
      = link_to hiring_about_path, class: "c-prominent-link" do
        = graphical_icon "arrow-left"
        = t('.back_to_job_listings')

      .role
        = graphical_icon "hiring-content", category: 'graphics', css_class: 'graphic'
        .information
          %h1.text-h0.mb-12= t('.job_title')
          .details
            .remote-tag
              = graphical_icon "stars"
              = t('.remote_tag')
            .salary= t('.salary')

  %article
    .sm-container
      %p.text-p-2xlarge.mb-40
        %strong= t('.intro_strong_part')
        = t('.intro_paragraph')

      %h2.text-h2.mb-12= t('.summary_heading')
      %p.text-p-xlarge.mb-16= t('.summary_p1', about_exercism_link: link_to(t('.summary_p1_link_text'), 'https://exercism.org/about', target: '_blank', rel: :noreferrer))
      %p.text-p-xlarge.mb-16= t('.summary_p2')
      %p.text-p-xlarge.mb-32= t('.summary_p3')

      %h2.text-h2.mb-12= t('.responsibilities_heading')
      %p.text-p-xlarge.mb-16= t('.responsibilities_p1')
      %p.text-p-xlarge.mb-12= t('.responsibilities_p2')
      %ul.text-p-xlarge.mb-16
        %li= t('.responsibilities_li1')
        %li= t('.responsibilities_li2')
        %li= t('.responsibilities_li3')
      %p.text-p-xlarge.mb-16= t('.responsibilities_p3')
      %p.text-p-xlarge.mb-16= t('.responsibilities_p4')

      %h2.text-h2.mb-12= t('.right_for_you_heading')
      %p.text-p-xlarge.mb-12= t('.right_for_you_p1')
      %p.text-p-xlarge.mb-12= t('.right_for_you_p2')
      %p.text-p-xlarge.mb-8= t('.right_for_you_p3')
      %ul.text-p-xlarge.mb-16
        %li
          = link_to t('.example_li1_link_text'), "https://medium.com/basecs/how-to-not-be-stumped-by-trees-5f36208f68a7"
          = t('.example_li1_description')
        %li
          = link_to t('.example_li2_link_text'), "https://maggieappleton.com/fruit-comparison"
          = t('.example_li2_description')
        %li
          = link_to t('.example_li3_link_text'), "https://hacks.mozilla.org/2017/02/a-crash-course-in-just-in-time-jit-compilers"
          = t('.example_li3_description')

      %p.text-p-xlarge.mb-12= t('.right_for_you_p4')

      %p.text-p-xlarge.mb-12= t('.right_for_you_p5')
      %p.text-p-xlarge.mb-12= t('.right_for_you_p6')
      %p.text-p-xlarge.mb-40= t('.right_for_you_p7')

      %h2.text-h2.mb-12= t('.other_requirements_heading')
      %p.text-p-xlarge.mb-16= t('.other_requirements_p1')

      %p.text-p-xlarge.mb-16= t('.other_requirements_p2')

      %ul.text-p-xlarge.mb-16
        %li= t('.other_requirements_li1')
        %li= t('.other_requirements_li2')
        %li= t('.other_requirements_li3')
        %li= t('.other_requirements_li4')

      %p.text-p-xlarge.mb-40= t('.under_represented_groups_note').html_safe

      %h2.text-h2.mb-12= t('.benefits_heading')
      %p.text-p-xlarge.mb-16= t('.benefits_p1')

      %ul.text-p-xlarge.mb-16
        %li= t('.benefits_li1')
        %li= t('.benefits_li2')
        %li= t('.benefits_li3')
        %li= t('.benefits_li4')
        %li= t('.benefits_li5')
        %li= t('.benefits_li6')

      %p.text-p-xlarge.mb-40= t('.benefits_p2')

      %h2.text-h2.mb-12= t('.how_to_apply_heading')
      %p.text-p-xlarge.mb-16= t('.how_to_apply_p1')
      %p.text-p-xlarge.mb-16
        = t('.how_to_apply_p2_part1')
        = link_to t('.how_to_apply_email_link_text'), "mailto:jobs@exercism.org"
        = t('.how_to_apply_p2_part2')

      %ul.text-p-xlarge.mb-24
        %li= t('.apply_li1')
        %li= t('.apply_li2')
        %li= t('.apply_li3', loom_link: link_to(t('.apply_li3_loom_text'), 'https://www.loom.com')).html_safe
        %li
          = t('.apply_li4_p1', note_text: t('.apply_li4_p1_note')).html_safe
          %ul.mt-4
            %li= t('.apply_li4_topic1')
            %li= t('.apply_li4_topic2')
            %li= t('.apply_li4_topic3')
            %li= t('.apply_li4_topic4')

      %p.text-p-xlarge.mb-8= t('.application_process_heading')

      %ul.text-p-xlarge.mb-16
        %li= t('.application_step1')
        %li= t('.application_step2')
        %li= t('.application_step3')
        %li= t('.application_step4')
        %li= t('.application_step5')
        %li= t('.application_step6')
        %li= t('.application_step7')
