- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description').html_safe
- content_for :canonical_url, impact_about_url
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:impact)

#impact-page
  %header.pt-48.flex.flex-col.items-center{ class: 'mb-[-130px] md:h-[500px] h-[600px]' }
    .md-container.c-shapes-impact.c-shapes-1
    %h1.text-h5.text-textColor6.mb-16.flex.items-center
      = graphical_icon "report", css_class: 'h-[26px] w-[26px] filter-textColor6 mr-16'
      = t('.header.title')
    %h2.text-h0.mb-12.text-center{ class: 'max-w-[800px]' }
      = t('.header.provided_text_html', count: number_with_delimiter(310_569_762), highlight_open: '<strong class="pl-8 pr-12 font-bold bg-[url(graphics/impact-highlight.svg)] bg-[length:100%_100%] text-textColor1NoDark">'.html_safe, highlight_close: '</strong>'.html_safe, highlight_unit_open: '<strong class="pl-8 pr-8 mr-[-8px] font-bold bg-[url(graphics/impact-highlight.svg)] bg-[length:100%_100%] text-textColor1NoDark">'.html_safe, highlight_unit_close: '</strong>'.html_safe).html_safe
    %p.font-medium.text-textColor6.text-24.leading-160.text-center{ class: 'max-w-[780px]' }
      = t('.header.daily_minutes_provided')
      %br
      = t('.header.funding_info')

  .md-container.mb-48
    .flex.flex-col.md:flex-row.md:items-stretch
      .md:mr-32.mb-40.md:mb-0{ class: 'w-fill md:max-w-[380px]' }
        .shadow-lgZ1.py-8.rounded-16.mb-32.bg-backgroundColorA.overflow-hidden
          .py-12.px-32.bg-backgroundColorF
            %h3.label-large= t('.stats.students')
            .text-purple.font-semibold.text-40.leading-150{ class: 'h-[60px]' }
              = render ReactComponents::Impact::Stat.new(:sign_up_metric, Metrics.num_users.to_i)

          .py-12.px-32.bg-backgroundColorB
            %h3.label-large= t('.stats.exercise_submissions')
            .text-purple.font-semibold.text-40.leading-150{ class: 'h-[60px]' }
              = render ReactComponents::Impact::Stat.new(:submit_submission_metric, Metrics.num_submissions.to_i)

          .py-12.px-32
            %h3.label-large= t('.stats.mentoring_discussions')
            .text-purple.font-semibold.text-40.leading-150
              = render ReactComponents::Impact::Stat.new(:mentoring_discussions_metric, Metrics.num_discussions.to_i)

        .bg-backgroundColorB.shadow-base.py-16.px-24
          %p.text-p-large.mb-8
            = t('.languages_taught', num_languages: Track.num_active, first_language: Track.active.order('title ASC').first.title, last_language: Track.active.order('title ASC').last.title)
          %p.text-h5= t('.everything_is_free')

      .shadow-lg.flex-grow.bg-backgroundColorB.rounded-16.py-48.px-24.relative
        .absolute.w-full.shadow-sm.text-h5.py-6.px-16.rounded-24.bg-backgroundColorA.flex.flex-row.items-center.whitespace-nowrap{ class: 'top-0 left-1/2 -translate-y-1/2 -translate-x-1/2' }
          = graphical_icon "graph-stats-gradient", css_class: 'h-[24px] w-[24px] mr-12'
          = t('.live_activity')
        = ReactComponents::Impact::Map.new

  .md-container.mb-64
    .grid.grid-cols-1.gap-20.md:grid-cols-2.lg:grid-cols-3
      .flex.flex-col.py-20.px-24
        .flex.items-center.mb-12
          = image_tag "photos/twitter-dapritchard_.jpg", class: 'w-[40px] h-[40px] rounded-circle mr-12'
          .flex.flex-col
            .label-large David Pritchard
            .text-p-base.text-textColor6 @dapritchard_
          = link_to icon('external-site-twitter', "Twitter", css_class: 'filter-twitter h-[16px] w-[16px]'), "https://twitter.com/dapritchard_/status/1549978935995338753", class: 'ml-auto p-8'
        %p.text-p-large
          = t('.testimonials.dapritchard_html', twitter_handle: tag.em('@exercism_io', class: 'not-italic font-medium text-purple'))

      .flex.flex-col.py-20.px-24
        .flex.items-center.mb-12
          = image_tag "photos/twitter-zippkode.jpg", class: 'w-[40px] h-[40px] rounded-circle mr-12'
          .flex.flex-col
            .label-large Karl 🇺🇦
            .text-p-base.text-textColor6 @zippcode
          = link_to icon('external-site-twitter', "Twitter", css_class: 'filter-twitter h-[16px] w-[16px]'), "https://twitter.com/zippkode/status/1561075536834838530", class: 'ml-auto p-8'
        %p.text-p-large
          = t('.testimonials.zippkode_html', twitter_handle: tag.em('@exercism_io', class: 'not-italic font-medium text-purple'))

      .flex.flex-col.py-20.px-24
        .flex.items-center.mb-12
          = image_tag "photos/twitter-alebaffa.jpg", class: 'w-[40px] h-[40px] rounded-circle mr-12'
          .flex.flex-col
            .label-large Alessandro Baffa
            .text-p-base.text-textColor6 @alebaffa
          = link_to icon('external-site-twitter', "Twitter", css_class: 'filter-twitter h-[16px] w-[16px]'), "https://twitter.com/alebaffa/status/1545972418497302528", class: 'ml-auto p-8'
        %p.text-p-large
          = t('.testimonials.alebaffa_html', twitter_handle: tag.em('@exercism_io', class: 'not-italic font-medium text-purple'))

  .md-container.mb-64
    .flex.flex-col.md:flex-row
      .md:mr-32.mb-48.md:mb-0.shadow-lg.flex-grow.bg-backgroundColorA.rounded-16.py-40.px-48
        %h2.text-h1.mb-32= t('.volunteers_section.title')
        .grid.grid-cols-1.gap-20.lg:grid-cols-3
          .flex.flex-col
            .text-40.leading-150.font-semibold.text-purple 19,603
            .label-large= t('.volunteers_section.mentors_label')
          .flex.flex-col
            .text-40.leading-150.font-semibold.text-purple 5,508
            .label-large= t('.volunteers_section.code_contributors_label')
          .flex.flex-col
            .text-40.leading-150.font-semibold.text-purple 3
            .label-large= t('.volunteers_section.full_time_staff_label')

        .flex.flex-wrap.mt-32.overflow-y-hidden{ class: 'h-[76px]' }
          - @contributor_avatars.each do |avatar|
            = image_tag avatar, class: 'bg-backgroundColorA h-[32px] w-[32px] mr-[-14px] mb-12 rounded-circle'

      %div{ class: 'w-fill md:max-w-[374px]' }
        .py-24.px-24.pt-60.shadow-base.mb-32.bg-backgroundColorA.relative
          .absolute.bg-lightGold.rounded-circle.w-48.text-24.p-12{ class: 'top-0 -translate-y-1/2' } 🙌
          %h3.text-h4.mb-8= t('.support_section.call_to_action_title')
          %p.text-p-large.mb-16= t('.support_section.call_to_action_paragraph_one')
          %p.text-p-large= t('.support_section.call_to_action_paragraph_two')

        = link_to donate_path, class: "btn btn-base btn-secondary" do
          %span= t('.support_section.support_button')
          = graphical_icon "arrow-right"

  .md-container.mb-64
    %h3.text-h3.text-center.mb-16= t('.partners_section.title')
    .logos.flex.items-center.justify-center.flex-wrap.gap-64.mb-24
      = icon "mozilla", "Mozilla", category: :partners, css_class: "mozilla h-48 filter-textColor1"
      = icon "gobridge", "GoBridge", category: :partners, css_class: "gobridge h-[80px]"
      = icon "chicago", "University of Chicago", category: :partners, css_class: "chicago h-48"
      = icon "packt", "Packt", category: :partners, css_class: 'h-48'
    .text-center.text-18.leading-150.text-textColor6.font-semibold= t('.partners_section.donors_sentence_html', donors_url: individual_supporters_about_path).html_safe

  - num_users_display = number_to_human(Metrics.num_users, units: { million: "M" }, precision: 1, significant: false, format: "%n%u")
  .impact-chart-container.bg-repeat.overflow-hidden{ class: 'bg-[#221E31] bg-[length:90px] bg-[url(photos/chart-bg.jpg)]' }
    .md-container
      .pt-48.flex.flex-col.items-center
        .flex.flex-col.text-center{ class: "max-w-[927px]" }
          = graphical_icon "graph-stats-ascend", css_class: "mb-16 mx-auto h-[67px] w-[64px]"
          %h2.text-h1.leading-128.text-white.mb-16
            = t('.growth_section.title', num_users: num_users_display)
          %p.text-gray.text-p-2xlarge
            = t('.growth_section.description')

    %div{ class: 'h-[480px]' }
      = render ReactComponents::Impact::Chart.new

  .sm-container.mb-64.relative{ class: 'mt-[-64px]' }
    .bg-backgroundColorA.flex.flex-col.text-center.justify-center.rounded-32.pt-24.md:pb-40.pb-24.md:px-48.px-24.shadow-lgv2
      .text-48.leading-130.mb-8 🚀
      %h2.text-h1.mb-12= t('.mission_cta.title')
      %p.text-p-2xlarge.mb-36.text-center.text-textColor6.font-medium
        = t('.mission_cta.description')
      .flex.flex-col.border.border-2.border-gradient.rounded-16.md:px-40.px-24.py-24.shadow-smZ1
        .flex.flex-col.gap-8.md:gap-0.items-center.mx-auto.mb-24.md:flex-row
          = image_tag "team/jeremy-walker.jpg", alt: "A photo of Jeremy Walker", class: 'w-[64px] h-[64px] md:mr-24 md:mb-4 rounded-circle'
          .flex.flex-col.text-left
            .md:text-h4.text-h5.mb-4
              = t('.mission_cta.organization_support_title')
            .leading-regular.text-textColor5.text-18
              = t('.mission_cta.contact_prefix')
              = succeed(',') do
                %span.text-textColor2.font-medium Jeremy Walker
              = t('.mission_cta.contact_suffix')
        = link_to "mailto:jeremy@exercism.org", class: "btn btn-primary" do
          = graphical_icon "envelope", css_class: "mr-16"
          %span.md:text-16.text-14 jeremy@exercism.org

  .lg-container.mb-64
    .c-shapes-impact.c-shapes-1
      %h2.text-h1.text-center{ class: "max-w-[800px] mx-auto" }
        = t('.testimonials_section.title')

    .md-container{ class: "bg-[var(--backgroundColorImpactPage)]" }
      %article.testimonials.pt-40
        = ReactComponents::Impact::TestimonialsList.new(params)
