- content_for :meta_title, "Supporting Exercism"
- content_for :meta_description, "These wonderful people have helped financially support Exercism"
- content_for :canonical_url, individual_supporters_about_url
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:individual_supporters)

#page-individual-supporters
  %header.pb-56.c-header-with-bg
    .md-container.flex.flex-col.items-center.c-shapes.c-shapes-1.text-center
      .emoji 🤗 🎁 💙
      %h1.text-h0.mb-16
        Our
        %strong generous
        individual donors
      %p.text-p-2xlarge.text-textColor6.font-medium.mb-32
        #{@num_individual_supporters} generous people have donated to Exercism

  .md-container
    .cta.top-cta.flex.flex-col.lg:flex-row.lg:items-center.border-gradient.py-24.px-24.lg:px-40.mb-48
      = icon "exercism-face-gradient", "Exercism logo"
      .text
        %h2.text-h4.mb-4 Help us bring the joy of programming to everyone, everywhere!
        %p.text-p-large Could you help support Exercism?  Every little helps.

      = link_to donate_path, class: 'btn-primary btn-m mt-16 lg:mt-0 lg:ml-auto md:px-80' do
        %span Donate now


    .donors.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-20.mb-20
      - @supporting_users.each do |user|
        .donor.flex
          = image_tag user.avatar_url, alt: "User-uploaded avatar of #{user.name}"
          .text
            .name.text-h5.mb-2= render ViewComponents::HandleWithFlair.new(user.name, user.flair, size: :medium)
            .when.text-textColor6 First supported #{time_ago_in_words(user.first_donated_at)} ago

    = paginate @supporting_users

    .missing.border-1.border-borderLight.rounded-8.py-12.px-16.bg-backgroundColorA.mt-40
      .flex
        = graphical_icon "info-circle"
        .text
          %h2.text-15.leading-140.text-textColor5.font-semibold.mb-4 Why am I not on this page?
          %p.text-14.leading-140.text-textColor5
            This page aims to show all individuals who have financially supported Exercism.
            Technically, it lists everyone who have been awarded the Supporter badge and who have enabled the "Appear on supporters page?" toggle in their #{link_to 'Donations Settings', donations_settings_path, class: 'text-lightBlue font-medium'}.
            Donating through the Exercism website should automatically award you the Supporter badge.
            However, donating through a third party website (e.g. GitHub) may require you to email #{link_to 'donations@exercism.org', 'mailto:donations@exercism.org', class: 'text-lightBlue font-medium'} to ask us to manually award the badge.


