- content_for :meta_title, t('.meta.title')
- content_for :meta_description, t('.meta.description')
- content_for :canonical_url, about_partners_url
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:organisation_supporters)

#page-organisation-supporters
  %header.pb-56.c-header-with-bg
    .md-container.flex.flex-col.items-center.c-shapes.c-shapes-1.text-center
      = graphical_icon "rocket", category: "graphics", css_class: "rocket mb-8"
      %h1.text-h0.mb-16= raw t('.header.title')
      %p.text-p-2xlarge.text-textColor6.font-medium.mb-32= t('.header.description')
      .logos.flex.items-center.justify-center.flex-wrap.mb-44
        = icon "mozilla", "Mozilla", category: :partners, css_class: "mozilla"
        = icon "packt", "Packt", category: :partners, css_class: "packt"
        = icon "gobridge", "GoBridge", category: :partners, css_class: "gobridge"
        = icon "chicago", "University of Chicago", category: :partners, css_class: "chicago"

  .md-container.mb-48
    .cta.top-cta.flex.flex-col.lg:flex-row.lg:items-center.border-gradient.py-24.px-24.lg:px-40
      = image_tag "team/jeremy-walker.jpg", alt: "Photo of Jeremy Walker", class: 'mb-12 md:mb-0 md:mr-24 rounded-100'
      .text
        %h2.text-h4.mb-4= t('.cta.title')
        %p.text-p-large= raw t('.cta.description')

      = link_to "mailto:jeremy@exercism.org", class: 'btn-primary btn-m mt-16 lg:mt-0 lg:ml-auto md:px-80' do
        = graphical_icon "email"
        %span= t('.cta.email_label')

  .md-container
    .flex.mb-48.md:mb-56.items-start.flex-col.md:flex-row
      .lhs
        = graphical_icon "target", css_class: "mb-16"
        %h2.text-h2.mb-20= t('.support_goals.title')
        %hr.c-divider.mb-28
        %p.text-p-large.mb-16= t('.support_goals.paragraph1')
        %p.text-p-large.mb-16= t('.support_goals.paragraph2')
        %p.text-p-large= t('.support_goals.paragraph3')

      = graphical_icon "target", category: :graphics, css_class: "mt-32 md:mt-0 md:ml-64 lg:ml-128 m-auto"

    .areas-of-collaboration.pt-32.pb-56.px-32.md:px-64.flex.flex-col.items-center.bg-evenLighterBlue.rounded-8.mb-48.md:mb-56
      = graphical_icon "partnership", css_class: "mb-16"
      %h2.text-h2.text-center= t('.areas_of_collaboration.title')
      %hr.c-divider.mt-20.mb-32

      .grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.gap-y-48.gap-x-32
        -# .item Diversity &amp; Inclusivity Initiatives
        .item= t('.areas_of_collaboration.fundraising')
        .item= t('.areas_of_collaboration.research_projects')
        .item= t('.areas_of_collaboration.track_development')
        .item= t('.areas_of_collaboration.developing_automation')
        -# .item Developing Mentor-Learner relationships
        .item= t('.areas_of_collaboration.community_building')
        .item= t('.areas_of_collaboration.servers_and_infrastructure')

    .supporters.flex.flex-col.items-center.mb-56
      %h2.text-h2.text-center= t('.supporters_section.title')
      %hr.c-divider.mt-20.mb-32

      .grid.grid-cols-1.md:grid-cols-2.gap-24
        .supporter
          = icon "packt", t('.supporters_section.packt.alt'), category: :partners, css_class: "logo packt"
          %p= raw t('.supporters_section.packt.description', packt_publishing: t('.supporters_section.packt.alt'))
          = render ViewComponents::ProminentLink.new(t('.supporters_section.learn_more'), supporter_packt_about_path)

        .supporter
          = icon "gobridge", t('.supporters_section.gobridge.alt'), category: :partners, css_class: "logo gobridge"
          %p= raw t('.supporters_section.gobridge.description', gobridge: t('.supporters_section.gobridge.alt'), go_developer_network: t('.supporters_section.gobridge.go_developer_network_text'))
          = render ViewComponents::ProminentLink.new(t('.supporters_section.learn_more'), supporter_gobridge_about_path)

        .supporter
          = icon "chicago", t('.supporters_section.chicago.alt'), category: :partners, css_class: "logo chicago"
          %p= raw t('.supporters_section.chicago.description', university_of_chicago: t('.supporters_section.chicago.university_of_chicago_text'), the_sloan_foundation: t('.supporters_section.chicago.the_sloan_foundation_text'))

        .supporter
          = icon "mozilla", t('.supporters_section.mozilla.alt'), category: :partners, css_class: "logo mozilla filter-textColor1"
          %p= raw t('.supporters_section.mozilla.description', mozilla: t('.supporters_section.mozilla.alt'))

    .individuals.flex.flex-col.items-center.text-center.mb-56
      = icon "individual-supporters", t('.individual_supporters.alt')
      %h2.text-h2= t('.individual_supporters.title')
      %hr.c-divider.mt-20.mb-28
      = render ViewComponents::ProminentLink.new(t('.individual_supporters.link_label', num_individual_supporters: @num_individual_supporters), individual_supporters_about_path)

    .cta.flex.flex-col.lg:flex-row.lg:items-center.border-gradient.py-24.px-24.lg:px-40
      = image_tag "team/jeremy-walker.jpg", alt: "Photo of Jeremy Walker", class: 'mb-12 md:mb-0 md:mr-24 rounded-100'
      .text
        %h2.text-h4.mb-4= t('.cta.title')
        %p.text-p-large= raw t('.cta.description')

      = link_to "mailto:jeremy@exercism.org", class: 'btn-primary btn-m mt-16 lg:mt-0 lg:ml-auto md:px-80' do
        = graphical_icon "email"
        %span= t('.cta.email_label')
