- content_for :meta_title, t('.meta_title')
- content_for :meta_description, t('.meta_description')
- content_for :canonical_url, about_url
- require_stylesheet "about"

= render ViewComponents::AboutNav.new

#page-about
  %header.pb-56.c-header-with-bg
    .md-container.flex.flex-col.items-center.c-shapes.c-shapes-1
      = graphical_icon "exercism-face", css_class: "logo mb-8"
      %h1.text-h0.mb-16= t('.header.title')
      %hr.c-divider.mb-16
      %p.text-p-3xlarge.text-textColor2.mb-40.text-center= t('.header.slogan')
      .grid.grid-1.md:grid-cols-2-auto.gap-24
        = link_to donate_path, class: 'btn-l btn-primary' do
          = t('.header.donate_button')
          = graphical_icon "arrow-right"
        -# TODO
          = link_to "Support Exercism (for organisations)", supporters_page_path, class: 'btn-l btn-enhanced'

  .md-container
    .purpose.border-t-4.md:border-t-0.md:border-l-6.py-28.my-40.md:my-56.md:py-40.px-32.md:px-64.flex.items-start.lg:items-center.flex-col.lg:flex-row.mb-64
      .info
        %h2.text-h1.mb-16.flex.items-center
          = graphical_icon "purpose"
          = t('.purpose_section.title')
        %p.text-p-2xlarge= t('.purpose_section.description')
      = graphical_icon "purpose", category: 'graphics', css_class: 'graphic mt-16 lg:mt-0 lg:ml-40 xl:ml-80'

    .goals.mb-80.grid.grid-cols-1.md:grid-cols-3.gap-x-40.gap-y-24
      .goal
        .number 1
        %h3= t('.goals_section.goal_1.title')
        %p= t('.goals_section.goal_1.description')

      .goal
        .number 2
        %h3= t('.goals_section.goal_2.title')
        %p= t('.goals_section.goal_2.description')

      .goal
        .number 3
        %h3= t('.goals_section.goal_3.title')
        %p= t('.goals_section.goal_3.description')

    .principles.flex.flex-col.items-center
      = graphical_icon "principles", css_class: 'graphic'
      %h2.text-h1.mb-24= t('.principles_section.title')
      %hr.c-divider.mb-36

      %ul
        %li.text-p-2xlarge= t('.principles_section.principle_1')
        %li.text-p-2xlarge= t('.principles_section.principle_2')
        %li.text-p-2xlarge= t('.principles_section.principle_3')
        %li.text-p-2xlarge= t('.principles_section.principle_4')

    .leadership.flex.items-start.pt-64.pb-80.flex-col-reverse.lg:flex-row
      = graphical_icon "team", category: 'graphics', css_class: 'graphic self-center md:self-start mt-20 lg:mt-0 m-auto'

      .info
        = graphical_icon "contributing-header", css_class: 'icon'
        %h2.text-h1.mb-16= t('.leadership_section.title')
        %p.text-p-2xlarge.mb-40= t('.leadership_section.description')

        %h3.text-h3.mb-16= t('.leadership_section.reflective.title')
        %p.text-p-xlarge.mb-40= t('.leadership_section.reflective.description')

        %h3.text-h3.mb-16= t('.leadership_section.small_team.title')
        %p.text-p-xlarge.mb-40= t('.leadership_section.small_team.description')

        %h3.text-h3.mb-16= t('.leadership_section.ethics.title')
        %p.text-p-xlarge= t('.leadership_section.ethics.description')

    .donate-section.px-24.lg:px-64.py-24.lg:py-40.flex.items-start.flex-col.lg:flex-row
      = graphical_icon "building-with-gradient", css_class: 'icon mb-16 lg:mb-0'
      .info.flex.flex-col.md:items-start
        %h2.text-h1.mb-12= t('.donate_section.title')
        %p.text-p-2xlarge.mb-28= t('.donate_section.description')
        .grid.grid-cols-1.md:grid-cols-2-auto.gap-24
          = link_to donate_path, class: 'btn-l btn-primary' do
            %span= t('.donate_section.donate_button')

          = link_to contributing_tasks_path, class: 'btn-l btn-enhanced' do
            %span= t('.donate_section.tasks_button')
            = graphical_icon "arrow-right"

      = graphical_icon "floating-cash", category: 'graphics', css_class: 'graphic md:hidden lg:block lg:ml-48 lx:ml-96 mt-28 lg:mt-0 self-center lg:self-start'
