- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description')
- content_for :canonical_url, team_about_url
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:team)

#page-team
  %header.pb-32.md:pb-64
    .lg-container.flex.flex-col.items-center.c-shapes.c-shapes-1
      .flex.items-center.mb-16.md:mb-20
        = graphical_icon "contributing-header", css_class: "icon"
        %h1.text-h3.text-center= t('.our_team')
      %h2.text-h0.mb-20.text-center= t('.built_by_people_worldwide')
    .md-container.flex.flex-col.items-center
      .flex.flex-col-reverse.md:flex-col.items-center
        .info.md:mb-32
          .stats.flex.items-center.flex-col.md:flex-row
            .stat.mb-8.md:mb-0= t('.stats.contributors', count: '6,000')
            .divider &middot;
            .stat.mb-8.md:mb-0= t('.stats.countries', count: 231)
            .divider &middot;
            .stat= t('.stats.github_repos', count: 287)

        .flex.flex-col.items-center.mb-28.md:mb-0
          %hr.c-divider.mb-32
          = image_tag "world-map.png", alt: t('.map_alt_text'), class: "map w-100"

  %article
    .md-container
      .info-box.bg-evenLighterBlue.px-32.md:px-48.py-24.md:py-40.flex.flex-col.md:flex-row.md:items-center.mb-64
        .info
          %h2.text-h2.mb-12= t('.info_box.title')
          %p.text-p-xlarge.mr-40= t('.info_box.description')
        = graphical_icon "community-solutions", category: :graphics, css_class: 'mt-32 md:mt-0 self-center md:ml-auto'

      %section.leadership-team.mb-40
        %header.mb-32
          = graphical_icon "leadership-team"
          %h2.text-h3.mb-12= t('.leadership_team.title')
          %p.text-p-large= t('.leadership_team.description')

        .grid.grid-cols-1.md:grid-cols-2.gap-16.md:gap-32
          .person
            = image_tag "team/katrina.jpg", alt: t('.leadership_team.katrina_owen.image_alt'), class: "avatar"
            .details
              %h3
                = link_to t('.leadership_team.katrina_owen.name'), "https://exercism.github.io/kytrinyx/", target: "_blank", rel: 'noreferrer'
              .handle= t('.leadership_team.katrina_owen.handle')
              %p= t('.leadership_team.katrina_owen.bio', book_link: link_to(t('.leadership_team.katrina_owen.book_link_text'), 'https://sandimetz.com/99bottles'))
              %ul.links
                %li
                  = link_to "https://exercism.github.io/kytrinyx/", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "link"
                    %span= t('.leadership_team.katrina_owen.personal_site_link')

                %li
                  = link_to "https://github.com/kytrinyx", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-github"
                    %span= t('.github_link')

                %li
                  = link_to "https://twitter.com/kytrinyx", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-twitter"
                    %span= t('.twitter_link')

          .person
            = image_tag "team/jeremy-walker.jpg", alt: t('.leadership_team.jeremy_walker.image_alt'), class: "avatar"
            .details
              %h3
                = link_to t('.leadership_team.jeremy_walker.name'), "https://ihid.info", target: "_blank", rel: 'noreferrer'
              .handle= t('.leadership_team.jeremy_walker.handle')
              %p= t('.leadership_team.jeremy_walker.bio', kaido_link: link_to(t('.leadership_team.jeremy_walker.kaido_link_text'), 'https://kaido.org'))
              %ul.links
                %li
                  = link_to "https://ihid.info", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "link"
                    %span= t('.leadership_team.jeremy_walker.personal_site_link')

                %li
                  = link_to "https://github.com/iHiD", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-github"
                    %span= t('.github_link')

                %li
                  = link_to "https://twitter.com/iHiD", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-twitter"
                    %span= t('.twitter_link')

      %section.staff-team.mb-40
        %header.mb-32
          = graphical_icon "staff-team"
          %h2.text-h3.mb-12= t('.staff_team.title')
          %p.text-p-large= t('.staff_team.description')

        .grid.grid-cols-1.md:grid-cols-2.gap-16.md:gap-32
          .person
            = image_tag "team/erik.jpg", alt: t('.staff_team.erik_schierboom.image_alt'), class: "avatar"
            .details
              %h3
                = link_to t('.staff_team.erik_schierboom.name'), "https://twitter.com/ErikSchierboom", target: "_blank", rel: 'noreferrer'
              .handle= t('.staff_team.erik_schierboom.handle')
              %p= t('.staff_team.erik_schierboom.bio')
              %ul.links
                %li
                  = link_to "https://www.erikschierboom.com", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "link"
                    %span= t('.staff_team.erik_schierboom.personal_site_link')
                %li
                  = link_to "https://github.com/erikschierboom", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-github"
                    %span= t('.github_link')
                %li
                  = link_to "https://twitter.com/erikschierboom", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-twitter"
                    %span= t('.twitter_link')
          .person
            = image_tag "team/aron.jpg", alt: t('.staff_team.aron_demeter.image_alt'), class: "avatar"
            .details
              %h3
                = link_to t('.staff_team.aron_demeter.name'), "https://github.com/dem4ron", target: "_blank", rel: 'noreferrer'
              .handle= t('.staff_team.aron_demeter.handle')
              %p= t('.staff_team.aron_demeter.bio')
              %ul.links
                %li
                  = link_to "https://twitter.com/d4ron1", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-twitter"
                    %span= t('.twitter_link')
                %li
                  = link_to "https://github.com/dem4ron", target: "_blank", rel: 'noreferrer' do
                    = graphical_icon "external-site-github"
                    %span= t('.github_link')

      %section.alumni-team.mb-64
        %header.mb-32
          = graphical_icon "staff-team"
          %h2.text-h3.mb-12= t('.alumni_team.title')
          %p.text-p-large= t('.alumni_team.description')

        .grid.grid-cols-1.md:grid-cols-2.gap-16.md:gap-32
          .person
            = image_tag "team/nicole.jpg", alt: t('.alumni_team.nicole_chalmers.image_alt'), class: "avatar"
            .details
              %h3= t('.alumni_team.nicole_chalmers.name')
              %p= t('.alumni_team.nicole_chalmers.bio', kaido_link: link_to(t('.alumni_team.nicole_chalmers.kaido_link_text'), 'https://kaido.org'))
          .person
            = image_tag "team/charles.jpg", alt: t('.alumni_team.charles_care.image_alt'), class: "avatar"
            .details
              %h3= t('.alumni_team.charles_care.name')
              %p= t('.alumni_team.charles_care.bio')
          .person
            = image_tag "team/karlo.jpg", alt: t('.alumni_team.karlo_soriano.image_alt'), class: "avatar"
            .details
              %h3= t('.alumni_team.karlo_soriano.name')
              %p= t('.alumni_team.karlo_soriano.bio')
          .person
            = image_tag "team/taiyab.jpg", alt: t('.alumni_team.taiyab_raja.image_alt'), class: "avatar"
            .details
              %h3= t('.alumni_team.taiyab_raja.name')
              %p= t('.alumni_team.taiyab_raja.bio')
          .person
            = image_tag "team/loretta.jpg", alt: t('.alumni_team.loretta_murray.image_alt'), class: "avatar"
            .details
              %h3= t('.alumni_team.loretta_murray.name')
              %p= t('.alumni_team.loretta_murray.bio')
          .person
            = image_tag "team/jonathan.jpg", alt: t('.alumni_team.jonathan_middleton.image_alt'), class: "avatar"
            .details
              %h3= t('.alumni_team.jonathan_middleton.name')
              %p= t('.alumni_team.jonathan_middleton.bio')

      %section.grid.gird-cols-1.md:grid-cols-3.gap-56
        .community-team
          = graphical_icon "maintaining"
          %h3= t('.community_teams.maintainers.title')
          %p.text-p-large= t('.community_teams.maintainers.description')
          = render ViewComponents::ProminentLink.new(t('.community_teams.maintainers.link_text'), contributing_contributors_path(category: :maintaining))

        .community-team
          = graphical_icon "mentoring"
          %h3= t('.community_teams.mentors.title')
          %p.text-p-large= t('.community_teams.mentors.description')
          = render ViewComponents::ProminentLink.new(t('.community_teams.mentors.link_text'), contributing_contributors_path(category: :mentoring))

        .community-team
          = graphical_icon "authoring"
          %h3= t('.community_teams.contributors.title')
          %p.text-p-large= t('.community_teams.contributors.description')
          = render ViewComponents::ProminentLink.new(t('.community_teams.contributors.link_text'), contributing_contributors_path(category: :building))
