#page-bootcamp-levels
  %header
    .c-breadcrumbs
      .lg-container.container
        .title
          = graphical_icon 'bootcamp-levels'
          = t('.breadcrumbs.title')

    .lg-container
      .details
        %h1.font-semibold.text-20.mb-8= t('.header.title')
        %p= t('.header.description')
  .lg-container
    - if current_user.bootcamp_data.enrolled_on_part_1?
      %h3.text-h3.mt-32.mb-12= t('.part_1.title')
      .grid.grid-cols-3.gap-16
        - (1..10).each do |idx|
          - level = @levels[idx]
          - if level&.unlocked?
            - css_class = current_user.bootcamp_data.part_1_level_idx > idx ? "completed" : ""
            = link_to level, class: "level #{css_class}" do
              .number= idx
              .text
                %h2.font-semibold= level.title
                -# %p= level.status
                %p= level.description
              = graphical_icon 'bootcamp-completed-check-circle', css_class: "completed-icon"
          - else
            .locked-level

    - if current_user.bootcamp_data.enrolled_on_part_1? && current_user.bootcamp_data.enrolled_on_part_2?
      %hr.my-32.border-borderColor5

    - if current_user.bootcamp_data.enrolled_on_part_2?
      %h3.text-h3.mt-32.mb-16= t('.part_2.title')
      .grid.grid-cols-3.gap-16
        - (11..27).each do |idx|
          - level = @levels[idx]
          - if level&.unlocked?

            - css_class = current_user.bootcamp_data.part_2_level_idx > idx ? "completed" : ""
            = link_to level, class: "level #{css_class}" do
              .number= idx
              .text
                %h2.font-semibold= level.title
                -# %p= level.status
                %p= level.description
              = graphical_icon 'bootcamp-completed-check-circle', css_class: "completed-icon"
          - else
            .locked-level
