#page-bootcamp-level
  %header
    .c-breadcrumbs
      .lg-container.container
        = link_to bootcamp_levels_path do
          = graphical_icon 'bootcamp-levels'
          .span Levels
        .seperator /
        .title
          Level #{@level.idx}:
          = @level.title

    .lg-container
      - if @completed
        %section.c-completed-bar
          = graphical_icon 'bootcamp-completed-check-circle', css_class: "check-mark-icon"
          .text You've completed Level #{@level.idx}
          .stat
            All #{@level.exercises.count} exercises completed

      .details
        %h1
          Level #{@level.idx}:
          = @level.title

  .lg-container
    .flex.pb-40
      .lhs.pr-40
        .content.c-prose
          = raw @level.content_html
          - if @level.youtube_id
            .mt-24
              = render ReactComponents::Common::YoutubePlayer.new(@level.youtube_id, 'community')
          - if @level.youtube_id
            .mt-24
              = render ReactComponents::Common::YoutubePlayer.new(@level.labs_youtube_id, 'community')

          %hr.border-borderColor5.my-32

          %h2.text-24.leading-140.mb-4.font-semibold Key Concepts
          %p.mb-10 These concepts are all covered in the video session. Make sure you understand these concepts before moving on from this level.
          %ul.flex.flex-col.gap-8
            - @level.concepts.non_apex.each do |concept|
              %li
                = link_to bootcamp_concept_path(concept) do
                  .text-20.leading-140.font-semibold.mb-2= concept.title
                  .text-18.leading-140.text-textColor5.font-normal= concept.description

      .rhs.mb-40
        - brain_busters, core = @level.exercises.partition(&:brain_buster?)
        - projects, core = core.partition(&:major_project?)
        .c-rhs-list
          %h2 Core Exercises
          %p Complete these exercises to complete this level.
          %ul
            - core.each do |exercise|
              %li= render ViewComponents::Bootcamp::ExerciseWidget.new(exercise)

          - if brain_busters.present?
            %h2.mt-24 Brain Busters
            %p.mb-8 Push your limits with these optional exercises!
            %ul
              - brain_busters.each do |exercise|
                %li= render ViewComponents::Bootcamp::ExerciseWidget.new(exercise)

          - if projects.present?
            %h2.mt-28 Major Project 🎉
            %p.mb-8 Get started on this larger project, designed to be completed over multiple weeks.
            %ul
              - projects.each do |exercise|
                %li= render ViewComponents::Bootcamp::ExerciseWidget.new(exercise)
