= form_with(model: [:admin, community_video]) do |f|
  - if community_video.errors.any?
    %div{ style: "color: red" }
      %h2
        = t('.errors_prohibited_saving', count: community_video.errors.count)
      %ul
        - community_video.errors.each do |error|
          %li= error.full_message
  %div
    .text-h6.mb-8= t('.track_info', track_title: community_video.track&.title)
    .text-h6.mb-8= t('.exercise_info', exercise_title: community_video.exercise&.title)
    - submitted_by = community_video.submitted_by
    .text-h6.mb-8= t('.submitted_by', name: submitted_by.name, handle: submitted_by.handle, id: submitted_by.id)

    .flex.flex-col.mb-16
      = f.label :title, class: 'text-h6 mb-4'
      = f.text_field :title

    .flex.flex-col.mb-16
      = f.label :status, class: 'text-h6 mb-4'
      .c-select
        = f.select :status, (CommunityVideo.statuses.keys.map { |k| [k.titleize, k] })

  %div
    = f.submit class: 'btn btn-primary btn-base'
