.c-admin-page
  .lg-container
    %h1.text-h1.mb-8= t('.community_videos_heading')
    %table.c-admin-table
      - @community_videos.each do |community_video|
        %tr
          %td= community_video.title
          %td= community_video.status.to_s.titleize
          %td= link_to t('.details_link'), [:admin, community_video]
          %td= link_to t('.edit_link'), edit_admin_community_video_path(community_video)
    .flex
      = link_to t('.new_community_video'), new_admin_community_video_path, class: 'btn btn-primary btn-base'
