%p= t('.greeting')
%p= t('.password_reset_request_message')
= email_button_to t('.change_my_password_button'), edit_password_url(@resource, reset_password_token: @token)
%p= t('.ignore_email_message')
%p= t('.password_unchanged_message')
