= link_to track_exercises_path(track, status: :completed), class: "stats-box" do
  .info
    .count= user_track.num_completed_exercises
    %h3
      = "Exercise".pluralize(user_track.num_completed_exercises)
      completed
    .icons
      - user_track.sample_completed_exercises.each do |exercise|
        = exercise_icon exercise
  = graphical_icon "chevron-right", css_class: "action-icon"
