= link_to track_exercises_path(track, status: :in_progress), class: "stats-box" do
  .info
    .count= user_track.num_in_progress_exercises
    %h3
      = "Exercise".pluralize(user_track.num_in_progress_exercises)
      in-progress
    .icons
      - user_track.sample_in_progress_exercises.each do |exercise|
        = exercise_icon exercise
  = graphical_icon "chevron-right", css_class: "action-icon"

