= link_to track_exercises_path(track, status: :available), class: "stats-box" do
  .info
    .count= user_track.num_available_exercises
    %h3
      = "Exercise".pluralize(user_track.num_available_exercises)
      available

    .icons
      - user_track.sample_available_exercises.each do |exercise|
        = exercise_icon exercise
  = graphical_icon "chevron-right", css_class: "action-icon"
