#page-track-show-joined
  = render ViewComponents::Track::TopLevelNav.new(@track, :overview)

  %header.track-header
    .lg-container.container
      = track_icon(@track)
      .info
        %h1= @track.title
        .joined
          Joined on
          %time{ datetime: @user_track.created_at.iso8601 }
            = format_date(@user_track.created_at)
      .progress-bar

  %article
    .lg-container.container
      .lhs
        = render "tracks/show/joined/activities_section", activities: @activities
        = render "tracks/show/joined/concepts_section", track: @track, user_track: @user_track
      .rhs
        = render "tracks/show/joined/contributors_section", track: @track
        = render "tracks/show/joined/updates_section", track: @track
