#page-track-show-joined
  = render ViewComponents::Track::TopLevelNav.new(@track, :overview)

  %header.track-header
    .lg-container.container
      .info
        %h1 Your Activity
        = graphical_icon "sharp-squiggle", css_class: "divider"

      .graphics
        = track_icon(@track)

  %article.summary-article
    .lg-container.container
      .lhs
        %section.progress-chart
          %h2
            You’re
            %em #{@user_track.completed_percentage}%
            through the #{@track.title} track.
            %strong Keep it up! 🚀

          .progress
            .bar{ style: "width: #{@user_track.completed_percentage}%" }
            / TODO: Disable this on SRs?
            .completed-icon
              = track_icon @track
              = icon "completed-check-circle", "Completed", css_class: "completed-icon"

          .exercises
            - @exercise_statuses.each do |exercise_slug, status|
              - if status == :locked
                .ex{ class: status }
              - else
                = link_to "", track_exercise_path(@track, exercise_slug), class: "ex #{status}"

        - if @user_track.solutions.present?
          %section.activities
            - @activities.each do |solution|
              = render ViewComponents::Track::ExerciseActivity.new(@track, solution)

        - else
          = render "tracks/show/joined/start_track_section", activities: @activities
      .rhs

-#
    = render "tracks/show/joined/uncompleted_exercises_section", track: @track, user_track: @user_track
    = render "tracks/show/joined/concepts_section", track: @track, user_track: @user_track
    = render "tracks/show/joined/contributors_section", track: @track, contributors: @track.top_10_contributors, num_contributors: @track.num_contributors
    = render "tracks/show/joined/updates_section", track: @track
