#page-track-show-unjoined
  = render ViewComponents::Track::TopLevelNav.new(@track, :overview)

  %header.track-header
    .lg-container.container
      = track_icon(@track)
      .info
        %h1= @track.title
        %p= @track.blurb

        .btns.tw-flex.tw-gap-24
          = button_to join_track_path(@track), method: :post, class: "btn-large-cta" do
            = graphical_icon(:plus)
            Join The #{@track.title} Track

          = link_to "#concepts", class: "btn-large-secondary" do
            See Concepts

  %section.about-section
    .md-container.container
      %h2 About #{@track.title}
      .tw-flex.tw-items-start
        .info= raw ParseMarkdown.(@track.about)
        %code
          %pre= @track.snippet

  - if @track.key_features.present?
    %section.features-section
      .md-container.container
        %h2 Key Features of #{@track.title}

        .features
          - @track.key_features.first(6).each do |key_feature|
            .feature
              = graphical_icon :"#{key_feature[:icon]}"
              %h3= key_feature[:title]
              %p= key_feature[:content]
