- require_stylesheet "maintaining"

:css
  #maintaining-track-maintainers {
    padding:25px 5%;
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    border: 1px solid #ddd;
    border-bottom: 1px solid #888;
    padding: 10px;
    text-align:left;
    font-weight:600px;
  }
  td {
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    white-space: pre;
    font:monospace;
    vertical-align:top;
    white-space: pre-wrap;
  }

#maintaining-track-maintainers
  %h2.text-h3 Track Maintainers

  .text-h5.mb-4 Legend
  .text-16
    .mb-8
      Active = Member of track team and their building reputation meets the member minimum threshold.
      %strong Shows the user's Exercism login.
    .mb-8
      Inactive = Member of track team but their building reputation does not meet the member minimum threshold.
      %strong Shows the user's Exercism login.
    .mb-8
      Candidates = Not member of track team but their building reputation meet the candidate minimum threshold.
      %strong Shows the user's Exercism login.
    .mb-8
      Contributors = Not member of track team and their building reputation does not meet the candidate minimum threshold.
      %strong Shows the user's Exercism login.
    .mb-16
      Unlinked = Member of track team but no user found linked to that GitHub username.
      %strong Shows the user's GitHub username.
  .text-h5.mb-4 Cutoff values used
  .text-16
    .mb-8 Minimum reputation for member: #{Track::RetrieveMaintainersStatus::MIN_REP_FOR_MEMBER}
    .mb-8 Minimum reputation for candidate: #{Track::RetrieveMaintainersStatus::MIN_REP_FOR_CANDIDATE}
    .mb-8 Last number of months for reputation: #{Track::RetrieveMaintainersStatus::LAST_NUMBER_OF_MONTHS_FOR_REP}

  %table.mb-16.c-admin-table
    %thead
      %tr
        %th Track
        %th Active
        %th Inactive
        %th Candidates
        %th Contributors
        %th Unlinked

    %tbody
      - @track_maintainers_status.each do |track, maintainers|
        %tr
          %td= track.title
          %td
            %ul
            - maintainers[:active].each do |maintainer|
              %li
                #{maintainer[:handle]} (#{maintainer[:reputation]} rep)
                - if maintainer[:github_username]
                  (#{link_to 'commits', "#{track.repo_url}/commits?author=#{maintainer[:github_username]}"})
          %td
            %ul
            - maintainers[:inactive].each do |maintainer|
              %li
                #{maintainer[:handle]} (#{maintainer[:reputation]} rep)
                - if maintainer[:github_username]
                  (#{link_to 'commits', "#{track.repo_url}/commits?author=#{maintainer[:github_username]}"})
          %td
            %ul
            - maintainers[:candidates].each do |maintainer|
              %li
                #{maintainer[:handle]} (#{maintainer[:reputation]} rep)
                - if maintainer[:github_username]
                  (#{link_to 'commits', "#{track.repo_url}/commits?author=#{maintainer[:github_username]}"})
          %td
            %ul
            - maintainers[:contributors].each do |maintainer|
              %li
                #{maintainer[:handle]} (#{maintainer[:reputation]} rep)
                - if maintainer[:github_username]
                  (#{link_to 'commits', "#{track.repo_url}/commits?author=#{maintainer[:github_username]}"})
          %td
            %ul
            - maintainers[:unlinked].each do |maintainer|
              %li #{link_to maintainer[:github_username], "https://github.com/#{maintainer[:github_username]}"} (#{link_to 'commits', "#{track.repo_url}/commits?author=#{maintainer[:github_username]}"})

  %p.mb-16
    = button_to "Clear cache", maintaining_track_maintainers_path, method: :post, form: { data: { turbo_confirm: "Are you sure? This is an expensive operation" } }, class: 'btn btn-warning'
