#mentor-dashboard-page
  = render ViewComponents::Mentor::Nav.new(:dashboard)

  %article.content
    .lg-container
      %section.inbox-section
        %header.header
          %h2 Your Workspace
          = link_to "See mentoring guidelines", "#"

        = ReactComponents::Mentoring::Inbox.new

      %section.queue-section
        %header.header
          = graphical_icon "graphic-conversation-1"
          %h2 Mentoring Queue
          .subtitle
            All of the mentoring requests on Exercism
        .queue-section-content
          = ReactComponents::Mentoring::Queue.new
          .mentor-queue-filtering
            %header.filtering-header
              .title
                %h3 Showing 54 requests
                .subtitle 10,502 queued requests
              %button.reset-filters
                = graphical_icon :reset
                Reset filter
            .track-filter
              %h3 Filter by language track
              .tracks
                %label
                  %input{ type: "checkbox" }
                  .row
                    .c-checkbox
                      = graphical_icon :checkmark
                    = track_icon Track.first
                    .title= Track.first.title
                    .count 52

                %label
                  %input{ type: "checkbox" }
                  .row
                    .c-checkbox
                      = graphical_icon :checkmark
                    = track_icon Track.second
                    .title= Track.second.title
                    .count 34

                %button.change-tracks-button
                  = graphical_icon :edit
                  Add or remove tracks

            .exercise-filter
              %h3 Filter by language track
              .c-search-bar
                %input.--search{ placeholder: "Search by Exercise name" }

              .exercises
                %label
                  %input{ type: "checkbox" }
                  .row
                    .c-checkbox
                      = graphical_icon :checkmark
                    = exercise_icon Exercise.first
                    .title= Exercise.first.title
                    .count 52

                %label
                  %input{ type: "checkbox" }
                  .row
                    .c-checkbox
                      = graphical_icon :checkmark
                    = exercise_icon Exercise.second
                    .title= Exercise.second.title
                    .count 34

