#mentor-dashboard-page
  = render ViewComponents::Mentor::Nav.new(:dashboard)

  %article.content
    .lg-container
      %section.inbox-section
        %header.header
          %h2 Your Workspace
          = link_to "See mentoring guidelines", "#"

        = ReactComponents::Mentoring::Inbox.new

      %section.queue-section
        %header.header
          = graphical_icon "graphic-conversation-1"
          %h2 Mentoring Queue
          .subtitle
            All of the mentoring requests on Exercism
        = ReactComponents::Mentoring::Queue.new
