#page-team-new
  .sm-container.container
    %header
      %h1 Update #{@membership.user.github_username} contributor in team #{@team.name}
      %hr.c-divider

    %section.form-section
      = form_for @membership, url: maintaining_contributor_team_membership_path(@team, @membership) do |f|
        .field
          = f.label :seniority, "Seniority"
          = f.select :seniority, @seniority_options, required: true
        .field
          = f.label :visible, "Visible on website?"
          = f.check_box :visible
        = button_tag "Update contributor", class: "btn-primary btn-m"
