#page-team-new
  .sm-container.container
    %header
      %h1 Add contributor to team #{@team.name}
      %hr.c-divider

    %section.form-section
      = form_with url: maintaining_contributor_team_contributor_team_memberships_path, method: :post, model: @membership do
        = fields_for @membership do |f|
          .field
            = f.label :user, "User"
            = f.text_field :user, placeholder: "The user's GitHub username ", required: true
          .field
            = f.label :seniority, "Seniority"
            = f.select :seniority, @seniority_options, required: true
          .field
            = f.label :visible, "Visible on website?"
            = f.check_box :visible
          = button_tag "Add contributor to team", class: "btn-primary btn-m"
