#page-editor
  .header
    = link_to track_exercise_path(@track, @exercise), class: 'close-btn' do
      = graphical_icon "arrow-left"
      Exit Editor
    .title
      .track= @track.title
      .divider /
      .exercise= @exercise.title

    %button.btn-small.hints-btn Hints

    %button.keyboard-shortcuts-btn
      = icon :keyboard, "Keyboard Shortcuts"

    %button.settings-btn
      = icon :settings, "Settings"

    %button.more-btn
      = icon :"more-horizontal", "Open more options"

  .main-lhs
    = ReactComponents::Student::Editor.new(@solution)

  .main-rhs
    %section.instructions
      .c-textual-content
        %h2 Introduction
        - introduction = @solution ? @solution.introduction : @exercise.introduction
        = raw ParseMarkdown.(introduction)

        %h2 Instructions
        - instructions = @solution ? @solution.instructions : @exercise.instructions
        = raw ParseMarkdown.(instructions)

        %h2.text-h3.tw-mt-20 Example solution
        %pre
          = @solution.exercise.send(:git).example

  .footer-lhs
    %button.btn-small-secondary
      = graphical_icon :'run-tests'
      Run Tests
      .kb-shortcut F2

    %button.btn-small-cta{ disabled: true }
      Submit
      .kb-shortcut F3

  .footer-rhs
    .tabs
      %button.c-tab.selected
        = graphical_icon :editor
        %span{ data: { text: "Instructions" } } Instructions
      %button.c-tab
        = graphical_icon :tests
        %span{ data: { text: "Tests" } } Tests
      %button.c-tab
        = graphical_icon :'test-results'
        %span{ data: { text: "Results" } } Results
