- require_stylesheet "images"
- require_stylesheet "track"

#page-image-solution{ class: "m-[50px] w-[800px] max-h-[800px] overflow-hidden" }
  #image-content.theme-dark.w-fill.h-fill
    .bg-purple.p-32.w-fill.h-fill
      .flex.flex-col.rounded-16.overflow-hidden.shadow-lgv2.bg-backgroundColorB.h-fill
        .flex-grow.relative
          = image_tag "favicon.png", class: "absolute top-[20px] right-[20px] z-[100] opacity-[0.3] h-[80px]"
          = render ReactComponents::Common::SolutionView.new(@solution)

        .flex-shrink-0.p-16
          .flex.flex-row.items-center.text-16.font-semibold.justify-center.border-t-1.border-borderColor7.pt-16
            = image_tag @solution.user.avatar_url, class: 'w-[32px] h-[32px] mr-8 rounded-circle'
            %span
              %span.text-white #{@solution.user.handle}'s
              %span solution to
              %span.text-white= @solution.exercise.title
              %span on Exercism's
              %span.text-white #{@solution.track.title} Track.
