/ We always want this rendered at the start.
= stylesheet_link_tag "website", "data-turbo-track": "reload"

- if landing_page?
  / Get this rendered as the next thing
  = javascript_include_tag('landing', type: :module, crossorigin: :anonymous, 'data-turbo-track': 'reload', 'data-turbo-eval': false)

  - content_for :deferred do
    = stylesheet_link_tag "internal", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag('core', type: :module, crossorigin: :anonymous, 'data-turbo-track': 'reload', 'data-turbo-eval': false, defer: true)
- else
  = stylesheet_link_tag "internal", "data-turbo-track": "reload"
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_include_tag('core', type: :module, crossorigin: :anonymous, 'data-turbo-track': 'reload', 'data-turbo-eval': false)
  - js_packs.each do |pack|
    = javascript_include_tag(pack, type: :module, crossorigin: :anonymous, 'data-turbo-track': 'reload', 'data-turbo-eval': false)

  / Load this at the end so we can download other things first
  - content_for :deferred do
    - deferred_js_packs.each do |pack|
      = javascript_include_tag(pack, type: :module, crossorigin: :anonymous, 'data-turbo-track': 'reload', 'data-turbo-eval': false, defer: true)
