- if canonical_url.present?
  %link{ rel: "canonical", href: canonical_url }

= csrf_meta_tags
= csp_meta_tag
= action_cable_meta_tag

%meta{ name: "turbo-cache-control", content: "no-cache" }

%meta{ name: "language-server-url", content: Exercism.config.language_server_url }
%meta{ name: "bug-reports-url", content: Exercism::Routes.api_bug_reports_url }
%meta{ name: "parse-markdown-url", content: Exercism::Routes.api_parse_markdown_url }
%meta{ name: "user-id", content: current_user&.id }
- unless Rails.env.test?
  %meta{ name: "stripe-publishable-key", content: Exercism.secrets.stripe_publishable_key }

%title= meta_title
%meta{ name: "description", content: meta_description }
%meta{ name: "viewport", content: "width=device-width, initial-scale=1, viewport-fit=cover" }

-# Twitter Card data
%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@exercism_io" }
%meta{ name: "twitter:creator", content: "@exercism_io" }
%meta{ name: "twitter:url", content: meta_url }
%meta{ name: "twitter:title", content: meta_title }
%meta{ name: "twitter:description", content: meta_description }
%meta{ name: "twitter:image", content: meta_image_url }

-# Open Graph data
%meta{ property: "og:title", content: meta_title }
%meta{ property: "og:type", content: "website" }
%meta{ property: "og:url", content: meta_url }
%meta{ property: "og:image", content: meta_image_url }
%meta{ property: "og:description", content: meta_description }
%meta{ property: "og:site_name", content: "Exercism" }
%meta{ property: "fb:admins", content: "744760440" }

-# Favicon
%link{ rel: "apple-touch-icon", sizes: "180x180", href: "#{Exercism.config.website_icons_host}/meta/apple-touch-icon.png" }
%link{ rel: "icon", type: "image/png", sizes: "32x32", href: "#{Exercism.config.website_icons_host}/meta/favicon-32x32.png" }
%link{ rel: "icon", type: "image/png", sizes: "16x16", href: "#{Exercism.config.website_icons_host}/meta/favicon-16x16.png" }
- if Rails.env.production?
  %link{ rel: "manifest", href: "/site.webmanifest" }

-# RSS: See: https://rknight.me/blog/please-expose-your-rss/
%link{ rel: "alternate", type: "application/rss+xml", title: "Exercism's Blog", href: blog_posts_url(format: :rss) }

= yield :meta_tags
