!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv": "Content-Type" }/
    %title Exercism
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    %meta{ name: "language-server-url", content: Exercism.config.language_server_url }
    %meta{ name: "bug-reports-url", content: Exercism::Routes.api_bug_reports_url }
    %meta{ name: "parse-markdown-url", content: Exercism::Routes.api_parse_markdown_url }

    // TODO - Remove any unused weights
    %link{ href: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap", rel: "stylesheet" }

  %body{ class: body_class }
    = render ViewComponents::SiteHeader.new

    = yield

    #portal-container

/ TODO: Add test for this!
- flash.clear
