!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv": "Content-Type" }/
    %title Exercism
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    // TODO - Remove any unused weights
    %link{ href: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap", rel: "stylesheet" }

  %body
    = yield

    / TODO: Turn this into a font
    .hidden
      <svg>
      <symbol id="dashboard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><title>layout-dashboard</title><path class="a" d="M10.5,12.526a.978.978,0,0,1-.975.98h-7.8a.977.977,0,0,1-.975-.98V1.736a.978.978,0,0,1,.976-.98l7.8.013a.978.978,0,0,1,.974.98Z"/><path class="a" d="M23.246,6.544a.969.969,0,0,1-.975.962h-7.8a.968.968,0,0,1-.975-.962V1.731a.968.968,0,0,1,.973-.962l7.8-.013a.97.97,0,0,1,.977.962Z"/><path class="a" d="M10.5,22.291a.971.971,0,0,1-.977.965l-7.8-.013a.969.969,0,0,1-.973-.964V17.47a.969.969,0,0,1,.975-.964h7.8a.97.97,0,0,1,.975.964Z"/><path class="a" d="M14.472,23.256a.978.978,0,0,1-.976-.981V11.487a.978.978,0,0,1,.975-.981h7.8a.978.978,0,0,1,.975.981V22.262a.979.979,0,0,1-.974.981Z"/></symbol>
      <symbol id="concepts" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><title>educative-toys-alphabet</title><rect class="a" x="7.5" y="1.5" width="9" height="9" rx="1.5" ry="1.5"/><rect class="a" x="1.5" y="13.5" width="9" height="9" rx="1.5" ry="1.5"/><rect class="a" x="13.5" y="13.5" width="9" height="9" rx="1.5" ry="1.5"/><path class="a" d="M12,5.625A.375.375,0,0,1,12.375,6"/><path class="a" d="M11.625,6A.375.375,0,0,1,12,5.625"/><path class="a" d="M12,6.375A.375.375,0,0,1,11.625,6"/><path class="a" d="M12.375,6A.375.375,0,0,1,12,6.375"/><path class="a" d="M6,17.625A.375.375,0,0,1,6.375,18"/><path class="a" d="M5.625,18A.375.375,0,0,1,6,17.625"/><path class="a" d="M6,18.375A.375.375,0,0,1,5.625,18"/><path class="a" d="M6.375,18A.375.375,0,0,1,6,18.375"/><path class="a" d="M18,17.625a.375.375,0,0,1,.375.375"/><path class="a" d="M17.625,18A.375.375,0,0,1,18,17.625"/><path class="a" d="M18,18.375A.375.375,0,0,1,17.625,18"/><path class="a" d="M18.375,18a.375.375,0,0,1-.375.375"/></symbol>
      <symbol id="exercises" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><title>fitness-weights</title><line class="cls-1" x1="8.25" y1="11.5" x2="15.75" y2="11.5"/><path class="cls-1" d="M6.75,17.5A1.5,1.5,0,0,1,5.25,16V7a1.5,1.5,0,0,1,3,0v9A1.5,1.5,0,0,1,6.75,17.5Z"/><line class="cls-1" x1="2.25" y1="11.5" x2="0.75" y2="11.5"/><path class="cls-1" d="M3.75,8.5A1.5,1.5,0,0,0,2.25,10v3a1.5,1.5,0,0,0,3,0V10A1.5,1.5,0,0,0,3.75,8.5Z"/><path class="cls-1" d="M17.25,17.5a1.5,1.5,0,0,0,1.5-1.5V7a1.5,1.5,0,0,0-3,0v9A1.5,1.5,0,0,0,17.25,17.5Z"/><line class="cls-1" x1="21.75" y1="11.5" x2="23.25" y2="11.5"/><path class="cls-1" d="M20.25,8.5a1.5,1.5,0,0,1,1.5,1.5v3a1.5,1.5,0,0,1-3,0V10A1.5,1.5,0,0,1,20.25,8.5Z"/></symbol>
      </svg>

