!!!
%html{ lang: "en-US" }
  %head
    = render "layouts/meta_tags"
    %meta{ content: "text/html; charset=utf-8", "http-equiv": "Content-Type" }
    -# - unless user_signed_in?
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "internal", "data-turbo-track": "reload"
    = stylesheet_link_tag "erik", "data-turbo-track": "reload"
    -# = stylesheet_packs_with_chunks_tag(*css_packs, media: 'all', 'data-turbo-track': 'reload', 'data-turbo-eval': false)
    = javascript_include_tag('core', 'data-turbo-track': 'reload', 'data-turbo-eval': false)
    - js_packs.each do |pack|
      = javascript_include_tag(pack, 'data-turbo-track': 'reload', 'data-turbo-eval': false)

    - deferred_js_packs.each do |pack|
      = javascript_include_tag(pack, 'data-turbo-track': 'reload', 'data-turbo-eval': false, defer: true)

    // TODO - Remove any unused weights
    %link{ href: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap", rel: "stylesheet" }

    - if Rails.env.production?
      %script{ defer: true, src: "/usage/js/script.js", data: { domain: "exercism.org", api: "/usage/api/event" } }

  %body{ class: body_class }
    = render ViewComponents::SiteHeader.new

    = render template: "layouts/turbo_frame"

    #portal-container
    .c-loading-overlay

    = render ViewComponents::SiteFooter.new

/ TODO: Add test for this!
- flash.clear
