.c-admin-table
  .lg-container
    %h1.text-h1.mb-8= t('.title')
    - if flash[:donors_notice]
      .mb-12.text-p-base.font-bold.text-darkSuccessGreen= flash[:donors_notice]

    %table.mb-8
      %tr
        %th= t('.table.headers.name')
        %th= t('.table.headers.handle')
        %th= t('.table.headers.email')
        %th= t('.table.headers.total_donated')
        %th= t('.table.headers.became_donor_at')
      - @donors.each do |donor|
        %tr
          %td= donor.name
          %td= donor.handle
          %td= donor.email
          %td= donor.total_donated_in_cents
          %td= format_datetime(donor.first_donated_at)
    .flex
      = link_to t('.new_donor_button'), new_admin_donor_path, class: 'btn btn-primary btn-base'

    = paginate @donors
